<section class="list-side">
  <header class="list-header">
    <h1>Answers</h1>
    <div class="clear"></div>
  </header>

  <section>
    <nav class="list-box">
      <h2>{{currentUser.username}}'s Answers</h2>
      <ul class="your-assignments">
        {{#each answers as |answer|}}
        <li>{{#link-to 'answer' answer}}{{answer.answer}}{{/link-to}}</li>
        {{/each}}
      </ul>
    </nav>
  </section>
</section>

<div class="list-outlet">
  {{outlet}}
</div>

<div class="clear" />