<section class="answer-info">
  <header class="info-header" id="answer-info-header">
    <h2>Answer Details</h2>
    <div class="clear"></div>
  </header>

  <section class="problemdetails">
    <div>
      <p>Brief Summary:</p>
      <p>{{answer.answer}}</p>
    </div>
    <div>
      <p>Explanation:</p>
      {{{answer.explanation}}}
    </div>
  </section>

  {{#if answer.imageData}}
  <div class="assignmentImage">
    <img src="{{{answer.imageData}}}" alt={{{format-date answer.createDate 'MMMM Do YYYY'}}} />
  </div>
  {{/if}}
</section>