<header class="info-header">
    <h2>Answer Details</h2>
  <div class="clear"></div>
</header>

<section class="problemdetails">
  <p> Answer: {{answer.answer}}</p>
  <p> Answer Explanation: {{answer.explanation}}</p>
</section>

