<h1>Welcome to the Answers Page</h1>
<p>Click on an answer name to see more info or to revise your answer</p>
{{!-- <p class="or">Or</p>
{{#link-to 'answer.new' id="answer-new-link" class="new-link-btn"}}
<span>Create New Answer</span>{{/link-to}} --}}