<label for={{for}}>
  <span
    class="label-text simptip-position-right simptip-multiline simptip-smooth"
    data-tooltip={{tooltip}}
  >
    {{text}}
  </span>
  {{#if star}}
    <span class="required-star">
      *
    </span>
  {{/if}}
</label>