<header class="info-header">
  <h2>Assignment Details</h2>
  <div class="clear"></div>
</header>

{{#each initialLoadErrors as |error|}}
    <p class="error-message">{{error}}</p>
{{/each}}

{{#if currentUser.isStudent}}
  {{assignment-info-student assignment=assignment problem=currentProblem section=currentSection answerList=assignment.answers.content store=store}}
{{else}}
  {{assignment-info-teacher assignment=assignment details=details studentList=assignmentStudents store=store section=currentSection problem=currentProblem toAssignments="toAssignments" linkedWorkspaces=assignment.linkedWorkspaces.content parentWorkspace=assignment.parentWorkspace.content}}
{{/if}}









