<header class="info-header">
  <h2>Assignment Details</h2>
  <div class="clear"></div>
</header>

{{#each initialLoadErrors as |error|}}
    <p class="error-message">{{error}}</p>
{{/each}}

{{#if currentUser.isStudent}}
  {{assignment-info-student assignment=assignment problem=problem section=section answerList=studentAnswers store=store}}
{{else}}
  {{assignment-info-teacher assignment=assignment studentList=assignmentStudents assignmentAnswers=assignmentAnswers store=store section=section problem=problem toAssignments="toAssignments"}}
{{/if}}









