<li class="{{if isSelected "active-crumb"}}" {{action "onSelect" item}}>
  <abbr title="{{unbound titleText}}">
    {{displayValue}}
  </abbr>
  {{#if isStarredItem}}
    <span class="required-star">*</span>
  {{/if}}
</li>