<li class="{{if this.isSelected "active-crumb"}}" {{action "onSelect" this.item}}>
  <abbr title="{{unbound this.titleText}}">
    {{this.displayValue}}
  </abbr>
  {{#if this.isStarredItem}}
    <span class="required-star">*</span>
  {{/if}}
</li>