
	<ul class="cd-accordion-menu animated">
		<li class="has-children">
			<input type="checkbox" name ="group-1" id="group-1">
			<label for="group-1">Grade K</label>
        <ul>
          <li class="has-children">
            <input type="checkbox" name ="sub-group-1" id="sub-group-1">
        <label for="sub-group-1">Counting &amp; Cardinality</label>
        <ul>
          <li class="has-children">
            <input type="checkbox" name ="sub-group-level-1" id="sub-group-level-1">
            <label for="sub-group-level-1">Know number names and the count sequence</label>
            <ul>
              <li><a href="#" target="_blank">CCSS.Math.Content.K.CC.A.1 - Count to 100 by ones and by tens</a></li>
              <li><a href="#">CCSS.Math.Content.K.CC.A.2 - Count forward beginning from a given number within the known sequence (instead of having to begin at 1)</a></li>
              <li><a href="#">CCSS.Math.Content.K.CC.A.3 - Write numbers from 0 to 20. Represent a number of objects with a written numeral 0-20 (with 0 representing a count of no objects)</a></li>
            </ul>
          </li>
          <li class="has-children">
            <input type="checkbox" name="sub-group-level-2" id="sub-group-level-2">
            <label for="sub-group-level-2">Count to tell the number of objects</label>
            <ul>
              <li class="has-children">
                <input type="checkbox" name="sub-sub-group-level-1" id="sub-sub-group-level-1">
                <label for="sub-sub-group-level-1">CCSS.Math.Content.K.CC.B.4 - Understand the relationship between numbers and quantities; connect counting to cardinality</label>
                  <ul>
                    <li><a href="http://corestandards.org/Math/Content/K/CC/B/4/A" target="_blank">CCSS.Math.Content.K.CC.B.4.A - CWhen counting objects, say the number names in the standard order, pairing each object with one and only one number
                    name and each number name with one and only one object.</a></li>
                    <li><a href="http://corestandards.org/Math/Content/K/CC/B/4/B" target="_blank">CCSS.Math.Content.K.CC.B.4.B - Understand that the last number name said tells the number of objects counted. The number of objects is the same
                    regardless of their arrangement or the order in which they were counted</a></li>
                    <li><a href="http://corestandards.org/Math/Content/K/CC/B/4/C" target="_blank">CCSS.Math.Content.K.CC.B.4.C - Understand that each successive number name refers to a quantity that is one larger.</a></li>
                  </ul>
              </li>
              <li><a href="#0">CCSS.Math.Content.K.CC.B.5 - Count to answer "how many?" questions about as many as 20 things arranged in a line, a rectangular array, or a circle,
              or as many as 10 things in a scattered configuration; given a number from 1-20, count out that many objects.</a></li>

            </ul>
          </li>

        </ul>
          </li>
          {{!-- <li class="has-children">
            <input type="checkbox" name ="sub-group-2" id="sub-group-2">
        <label for="sub-group-2">Sub Group 2</label>

        <ul>
          <li class="has-children">
            <input type="checkbox" name ="sub-group-level-3" id="sub-group-level-3">
            <label for="sub-group-level-3">Sub Group Level 3</label>

            <ul>
              <li><a href="#0">Image</a></li>
              <li><a href="#0">Image</a></li>
            </ul>
          </li>
          <li><a href="#0">Image</a></li>
        </ul>
          </li> --}}
        </ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-2" id="group-2">
			<label for="group-2">Grade 1</label>

			<ul>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-3" id="group-3">
			<label for="group-3">Grade 2</label>

			<ul>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-4" id="group-4">
			<label for="group-4">Grade 3</label>

			<ul>
				<li class="has-children">
					<input type="checkbox" name ="sub-group-3" id="sub-group-3">
					<label for="sub-group-3">Sub Group 3</label>

					<ul>
						<li><a href="#0">Image</a></li>
						<li><a href="#0">Image</a></li>
					</ul>
				</li>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>
	</ul>

<script>
  jQuery(document).ready(function () {
      var accordionsMenu = $('.cd-accordion-menu');

      if (accordionsMenu.length > 0) {

        accordionsMenu.each(function () {
          var accordion = $(this);
          //detect change in the input[type="checkbox"] value
          accordion.on('change', 'input[type="checkbox"]', function () {
            var checkbox = $(this);
            console.log(checkbox.prop('checked'));
            (checkbox.prop('checked')) ? checkbox.siblings('ul').attr('style', 'display:none;').slideDown(300) : checkbox.siblings('ul').attr('style', 'display:block;').slideUp(300);
          });
        });
      }
    });
</script>