
	<ul class="cd-accordion-menu animated">
		<li class="has-children">
			<input type="checkbox" name ="group-1" id="group-1">
			<label for="group-1">Grade K</label>
        <ul>
          <li class="has-children">
            <input type="checkbox" name ="sub-group-1" id="sub-group-1">
        <label for="sub-group-1">Counting &amp; Cardinality</label>
        <ul>
          <li class="has-children">
            <input type="checkbox" name ="sub-group-level-1" id="sub-group-level-1">
            <label for="sub-group-level-1">Know number names and the count sequence</label>
            <ul>
              <li><a href="#" target="_blank"><span>CCSS.Math.Content.K.CC.A.1</span> - Count to 100 by ones and by tens</a></li>
              <li><a href="#"><span>CCSS.Math.Content.K.CC.A.2</span> - Count forward beginning from a given number within the known sequence (instead of having to begin at 1)</a></li>
              <li><a href="#"><span>CCSS.Math.Content.K.CC.A.4</span> - Write numbers from 0 to 20. Represent a number of objects with a written numeral 0-20 (with 0 representing a count of no objects)</a></li>
            </ul>
          </li>
          <li class="has-children">
            <input type="checkbox" name="sub-group-level-2" id="sub-group-level-2">
            <label for="sub-group-level-2">Count to tell the number of objects</label>
            <ul>
              <li class="has-children">
                <input type="checkbox" name="sub-sub-group-level-1" id="sub-sub-group-level-1">
                <label for="sub-sub-group-level-1"><span>CCSS.Math.Content.K.CC.B.4</span> - Understand the relationship between numbers and quantities; connect counting to cardinality</label>
                  <ul>
                    <li><a href="#" target="_blank"><span>CCSS.Math.Content.K.CC.B.4.A</span> - When counting objects, say the number names in the standard order, pairing each object with one and only one number
                    name and each number name with one and only one object.</a></li>
                    <li><a href="#" target="_blank"><span>CCSS.Math.Content.K.CC.B.4.B</span> - Understand that the last number name said tells the number of objects counted. The number of objects is the same
                    regardless of their arrangement or the order in which they were counted</a></li>
                    <li><a href="#" target="_blank"><span>CCSS.Math.Content.K.CC.B.4.C</span> - Understand that each successive number name refers to a quantity that is one larger.</a></li>
                  </ul>
              </li>
              <li><a href="#0"><span>CCSS.Math.Content.K.CC.B.5</span> - Count to answer "how many?" questions about as many as 20 things arranged in a line, a rectangular array, or a circle,
              or as many as 10 things in a scattered configuration; given a number from 1-20, count out that many objects.</a></li>
            </ul>
          </li>
          <li class="has-children">
            <input type="checkbox" name="sub-group-level-3" id="sub-group-level-3">
            <label for="sub-group-level-3">Compare numbers</label>
            <ul>
              <li><a href="#"><span>CCSS.Math.Content.K.CC.C.6</span> - Identify whether the number of objects in one group is greater than, less than, or equal to the number of objects in another group, e.g., by using matching and counting strategies</a></li>
              <li><a href="#"><span>CCSS.Math.Content.K.CC.C.7</span> - Compare two numbers between 1 and 10 presented as written numerals.</a></li>
            </ul>
          </li>

        </ul>
      </li>
        <li class="has-children">
          <input type="checkbox" name="sub-group-2" id="sub-group-2">
          <label for="sub-group-2">Operations &amp; Algebraic Thinking</label>
          <ul>
            <li class="has-children">
              <input type="checkbox" name="sub-group2-level-1" id="sub-group2-level-1">
              <label for="sub-group2-level-1">Understand addition as putting together and adding to, and understand subtraction as taking apart and taking from</label>
              <ul>
                <li><a href="#" target="_blank"><span>CCSS.Math.Content.K.OA.A.1</span> - Represent addition and subtraction with objects, fingers, mental images, drawings, sounds (e.g., claps), acting out
                situations, verbal explanations, expressions, or equations.</a></li>
                <li><a href="#"><span>CCSS.Math.Content.K.OA.A.2</span> - Solve addition and subtraction word problems, and add and subtract within 10, e.g., by using objects or drawings to represent the problem.</a></li>
                <li><a href="#"><span>CCSS.Math.Content.K.OA.A.3</span> - Decompose numbers less than or equal to 10 into pairs in more than one way, e.g., by using objects or drawings, and record each decomposition by a drawing or equation (e.g., 5 = 2 + 3 and 5 = 4 + 1)</a></li>
                <li><a href="#"><span>CCSS.Math.Content.K.OA.A.4</span> - For any number from 1 to 9, find the number that makes 10 when added to the given number, e.g., by using objects or drawings, and record the answer with a drawing or equation</a></li>
                <li><a href="#"><span>CCSS.Math.Content.K.OA.A.5</span> - Fluently add and subtract within 5</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="has-children">
          <input type="checkbox" name="sub-group-3" id="sub-group-3">
          <label for="sub-group-3">Number &amp; Operations in Base Ten</label>
          <ul>
            <li class="has-children">
              <input type="checkbox" name="sub-group3-level-1" id="sub-group3-level-1">
              <label for="sub-group3-level-1">Work with numbers 11-19 to gain foundations for place value</label>
              <ul>
                <li><a href="#" target="_blank"><span>CCSS.Math.Content.K.NBT.A.1</span> - Compose and decompose numbers from 11 to 19 into ten ones and some further ones, e.g., by using objects or drawings, and record each composition or decomposition by a drawing or equation (such as 18 = 10 + 8); understand that these numbers are composed of ten ones and one, two, three, four, five, six, seven, eight, or nine ones.</a></li>
              </ul>
            </li>
          </ul>
        </li>
        </ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-2" id="group-2">
			<label for="group-2">Grade 1</label>

			<ul>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-3" id="group-3">
			<label for="group-3">Grade 2</label>

			<ul>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>

		<li class="has-children">
			<input type="checkbox" name ="group-4" id="group-4">
			<label for="group-4">Grade 3</label>

			<ul>
				<li class="has-children">
					<input type="checkbox" name ="sub-group-3" id="sub-group-3">
					<label for="sub-group-3">Sub Group 3</label>

					<ul>
						<li><a href="#0">Image</a></li>
						<li><a href="#0">Image</a></li>
					</ul>
				</li>
				<li><a href="#0">Image</a></li>
				<li><a href="#0">Image</a></li>
			</ul>
		</li>
	</ul>

<script>
  jQuery(document).ready(function () {
      var accordionsMenu = $('.cd-accordion-menu');

      if (accordionsMenu.length > 0) {

        accordionsMenu.each(function () {
          var accordion = $(this);
          //detect change in the input[type="checkbox"] value
          accordion.on('change', 'input[type="checkbox"]', function () {
            var checkbox = $(this);
            (checkbox.prop('checked')) ? checkbox.siblings('ul').attr('style', 'display:none;').slideDown(300) : checkbox.siblings('ul').attr('style', 'display:block;').slideUp(300);
          });
        });
      }
    });
</script>