<div class="confirm-box">
  {{#if isTokenValid}}
    <p class="success-message"> Your email address has been successfully confirmed!</p>
    <p class="info">You will be notified once an admin has authorized your account. You can also <LinkTo @route="auth.login" @classNames="login-link"> log in</LinkTo> any time to check on the status of your account.</p>
  {{else}}

    {{#if isAlreadyConfirmed}}
      <p class="info" data-test="already-confirmed">Email address has already been confirmed.</p>
    {{/if}}
    {{#if invalidTokenError}}
      <p class="error-message">{{invalidTokenError}}</p>
    {{/if}}

    {{#each confirmTokenErrors as |error| }}
      <p class="error-message">{{error}}</p>
    {{/each}}

      <p class="info">
        Please <LinkTo @route="auth.login" @classNames="login-link"> log in</LinkTo> {{loginMessage}}
        </p>
  {{/if}}
</div>
