{{#if workspaces.length}}
{{#unless user.isStudent}}
<h2 class="header-home">{{#link-to 'workspaces.index'}}Student Work to Review{{/link-to}}</h2>
  <table class="max-width">
    <tr>
      <td>
        <div class="table-header">
        <table class="table-inner">
          <tr id="ws-table">
            <th>Workspace</th>
            <th>Class</th>
            <th>Owner</th>
            <th>Date Assigned</th>
            <th>Date Due</th>
            <th>Status</th>
          </tr>
        </table>
        </div>
      </td>
    </tr>
    <tr>
      <td>
        <div class="dash-workspaces al_body resize" style="max-height:{{tableHeight}};">
          <table class="max-width">
            {{#each workspaces as |workspace|}}
              {{dashboard-workspace-row
              classNames="ws-table" workspace=workspace}}
            {{/each}}
          </table>
        </div>
      </td>
    </tr>
  </table>

{{/unless}}
{{/if}}
