{{#if workspaces.length}}
<table class="table-w">
  <tr>
    <td>
      <div class="table-header">
      <table class="table-inner">
        <tr id="ws-table">
          <th>Workspace</th>
          <th>Class</th>
          <th>Student Name</th>
          <th>Date Assigned</th>
          <th>Date Due</th>
          <th>Status</th>
        </tr>
      </table>
      </div>
    </td>
  </tr>
  <tr>
    <td>
      <div class="dash-workspaces al_body">
        <table class="table-inner">
          {{#each workspaces.content as |workspace|}}
            {{dashboard-workspaces-row
            assignments=assignments
            workspace=workspace linkedAssignment=workspace._relationships.initializedRelationships.linkedAssignment.canonicalState.id}}
          {{/each}}
        </table>
      </div>
    </td>
  </tr>
</table>
{{/if}}
