{{#link-to 'workspace.submission.selection' selection.workspace selection.submission selection classNames="selection_text"}}
  {{!bind-attr class=":selectionLink selection.id:"}}
  <span class="selectionLink">{{selection.text}}</span>
  {{/link-to}}
{{#if canDelete}}
  <span {{action 'deleteSelection' selection}}><i class="fas fa-minus-circle"></i></span>
{{/if}}

