<div class="forgot-box">
  <img src="images/logo-encompass.png" class="encompass-logo" alt="encompass logo">
  <form class="form-forgot">
    {{#if resetEmailSent}}
      <p class="success-message">An email with further instructions has been sent to the email address on file.</p>
    {{/if}}
    <div class="auth-form-input">
      <label for="email">Email Address</label>
      {{input class="form-control" name="email" id="email" required=true type="email" value=email action="resetErrors" on="key-down"}}

      {{#if invalidEmail}}
      <p class="error-message">Invalid email address</p>
    {{/if}}
    </div>

    <div class="auth-form-input">
      <label for="username">Username</label>
      {{input class="form-control" name="username" id="username" required=true type="username" value=username action="resetErrors" on="key-down"}}

      {{#if forgotPasswordErr}}
        <p class="error-message">{{forgotPasswordErr}}</p>
      {{/if}}
      {{#if missingCredentials class="error-message"}}
        <p class="error-message">Missing Credentials</p>
      {{/if}}
    </div>

    <button class="auth-button" type="submit" {{action 'handleRequest'}}>Request Reset Link</button>

  </form>
</div>