<form enctype="multipart/form-data">
   <input multiple="true" onchange={{action "updateFiles"}} accept="image/png,image/jpeg,application/pdf" type="file"/>
   <input type="submit" value="Upload Images" {{action "uploadImages"}}/>
</form>

{{#if uploadResults}}
<ul>
  {{#each uploadResults as |file|}}
    <li>Uploaded <a href={{file.relativePath}}>{{file.filename}}</a> successfully!</li>
  {{/each}}
</ul>
{{/if}}