<section class="import-details half">
  <h2>Import Details</h2>
  <div class="half">
    <table class="values rows">
      <tr>
        <th>Problem</th>
        <td><span class="problem title ">{{selectedProblem.title}}</span></td>
      </tr>
      <tr>
        <th>Section</th>
        <td><span class="section name">{{selectedSection.name}}</span></td>
      </tr>
      <tr>
        <th>Number of Files</th>
        <td><span class="files number">{{uploadedFiles.length}}</span></td>
      </tr>
    </table>
  </div><!--/half-->
</section>