<div id="welcome" class="al_wtf">
	<h1>Welcome to the EnCoMPASS Projectsssssss</h1>
  <p> Here are some things you can do with EnCoMPASS: </p>
  <ul>
    <li>Craft responses to specific parts of your student's submission using noticing and wondering</li>
    <li>Invite peers to mark up and comment on your students' submissions</li>
    <li>Create a rubric from your filing of submissions</li>
    <li>Browse annotated submissions for a given problem to help inform your teaching</li>
    <li>Visualize your class' performance for a problem</li>
  </ul>

{{#if model.isAuthenticated}}
	<p>	You'll probably want to get started by visiting your <span class="al_link">{{#link-to 'workspaces.index'}}workspaces{{/link-to}}</span>.</p>

  <p>Eventually we'd like to provide:</p>
  <ul>
    <li>Visualize student or class work over time</li>
    <li>Visualize your mentoring over time</li>
  </ul>
  <p>
    We'd love to hear your
    <a href="http://mathforum.org/cgi-bin/mailto.pl?key=92&to=the%20EnCoMPASS%20team">comments</a>.
  </p>
  <p><span class="al_link">{{#link-to 'problems'}}Create a Problem{{/link-to}}</span>.</p>
{{else}}
  <h2>It looks like you are not logged in</h2>
  <p>Please login <a href="#/auth/login">here</a></p>
  <p>New to EnCoMPASS, sign up <a href="#/auth/signup">here</a></p>
{{/if}}



</div>
