<div class="login-box">

  <img src="images/logo-encompass.png" class="encompass-logo" alt="encompass logo">

  <form class="form-signin">
    <label for="username">Username:</label>
    {{input class="form-control" name="username" id="username" required=true type="text" value=username placeholder="username" action="resetErrors" on="key-down"}} <br/>

    {{#if incorrectUsername}}
    <p class="error-message">Sorry, you entered an incorrect username. Please try again.</p>
    {{/if}}

    <label for="password">Password:</label>
    {{input class="form-control" name="password" id="password" required=true type="password" value=password action="resetErrors" on="key-down" placeholder="password"}} <br/>

    {{#if incorrectPassword}}
    <p class="error-message">Sorry, you entered an incorrect password. Please try again.</p>
    {{/if}}

    {{#if missingCredentials class="error-message"}}
      <p class="error-message">Missing Credentials</p>
    {{/if}}

    <button class="auth-button" type="submit" {{action 'login'}}>log in</button>
  </form>

  <div class="social-signin-div">
    {{social-signin}}
  </div>

  <p> Don't have an account? {{#link-to 'auth.signup' classNames='signup-link'}}Signup!{{/link-to}}</p>

</div>