<div class="login-box">

  <img src="images/logo-encompass.png" class="encompass-logo" alt="encompass logo">

  <form class="form-signin">
    <div class="auth-form-input">
      <label for="username">Username:</label>
      {{input class="form-control" name="username" id="username" required=true type="text" value=username action="resetErrors" on="key-down"}}

      {{#if incorrectUsername}}
        <p class="error-message">Incorrect username.</p>
      {{/if}}
    </div>

    <div class="auth-form-input">
      <label for="password">Password:</label>
      {{input class="form-control" name="password" id="password" required=true type="password" value=password action="resetErrors" on="key-down"}}

      {{#if incorrectPassword}}
        <p class="error-message">Incorrect password.</p>
      {{/if}}

      {{#if missingCredentials class="error-message"}}
        <p class="error-message">Missing Credentials</p>
      {{/if}}
    </div>

    <button class="auth-button" type="submit" {{action 'login'}}>Log In</button>
  </form>

  <p class="or">Or</p>

  <div class="social-signin-div">
    {{social-signin}}
  </div>

  <p class="signup-link"> New to EnCoMPASS? {{#link-to 'auth.signup' classNames='signup-link'}}Sign up now{{/link-to}}</p>
  <p class="forgot-link">Forgot Password? {{#link-to 'auth.forgot' classNames='forgot-link'}}Request password reset{{/link-to}}</p>

</div>