<div class="al_wtf main">
  <p>Please login if you are an EnCoMPASS member.</p>
</div>

<form class="form-signin">
  {{input class="form-control" id="username" type="text" value=username placeholder="username"}}

  {{input class="form-control" id="password" type="password" value=password placeholder="password"}}
  <button class="btn btn-lg btn-primary btn-block" type="submit" {{action 'login'}}>Sign in</button>
</form>
{{#if incorrectPassword}}
    <p>Sorry, you entered an incorrect password. Please try again.</p>
  {{/if}}
  {{#if incorrectUsername}}
  <p>Sorry, you entered an incorrect username. Please try again.</p>
  {{/if}}

{{social-signin}}

<p> Don't have an account? {{#link-to 'auth.signup'}}Signup!{{/link-to}}</p>