<div class="login-box">

  <img src="images/logo-encompass.png" class="encompass-logo" alt="encompass logo">

  <form class="form-signin">
    <div class="auth-form-input">
      <label for="username">username</label>
      {{input class="form-control" name="username" id="username" required=true type="text" value=username action="resetErrors" on="key-down"}} <br/>
    </div>

    {{#if incorrectUsername}}
    <p class="error-message">Incorrect username.</p>
    {{/if}}

    <div class="auth-form-input">
      <label for="password">password</label>
      {{input class="form-control" name="password" id="password" required=true type="password" value=password action="resetErrors" on="key-down"}} <br/>
    </div>

    {{#if incorrectPassword}}
    <p class="error-message">Incorrect password.</p>
    {{/if}}

    {{#if missingCredentials class="error-message"}}
      <p class="error-message">Missing Credentials</p>
    {{/if}}

    <button class="auth-button" type="submit" {{action 'login'}}>log in</button>
  </form>

  <p class="or">Or</p>

  <div class="social-signin-div">
    {{social-signin}}
  </div>

  <p class="signup-link"> New to EnCoMPASS? {{#link-to 'auth.signup' classNames='signup-link'}}Sign up now{{/link-to}}</p>

</div>