<div class="overlay">
  <div class="modal">
    <form class="al_remove_folder">
      <span class="al_sprite al_folder"></span> &rarr; <span class="al_sprite al_folder al_remove"></span><br>
      <p class="confirmation-request">Are you sure you want to delete {{get itemToDelete optionLabelPath}}?</p>
      {{#if warningMessage}}
      <p class="warning-message">{{warningMessage}}</p>
      {{/if}}
      <div class="al_controller">
        <button class="cancel action_button" {{action "cancel"}}>Cancel</button>
        <button class="delete action_button" {{action "delete" itemToDelete}}>Delete</button>
      </div>
    </form>
  </div>
</div>