<div class="overlay">
  <div class="modal">
    <form class="al_remove_folder">
      {{!-- <span class="al_sprite al_folder"></span> &rarr; <span class="al_sprite al_folder al_remove"></span><br> --}}
      <p class="confirmation-request">Are you sure you want to {{actionName}}?</p>
      {{#if warningMessage}}
      <p class="warning-message">{{warningMessage}}</p>
      {{/if}}
      <div class="al_controller">
        <button class="cancel-button action_button" {{action "cancel"}}>Cancel</button>
        <button class="confirm action_button" {{action "confirm" actionToConfirm}}>Confirm</button>
      </div>
    </form>
  </div>
</div>