<div class="new-folderset name">
  <p>Name</p>
  {{input id="folderset-name" type="text" value=name placeholder="Name for new folder set"}}
</div>
<div class="new-folderset privacy">
  <p>Privacy Setting</p>
  {{radio-group options=privacyInputs selectedValue=privacySetting}}
</div>
