
  <div class="main-list">
    {{#if isSearching}}
      <p class="loading-message">Searching problems...</p>
    {{else}}
    <ul id="problem-list-ul">
      {{#each problems as |problem|}}
      <li>
        {{problem-list-item
        problem=problem
        isList=isList
        isGrid=isGrid
        store=store
        flagProblem=(action "flagProblem")
        moreMenuOptions=moreMenuOptions
        toProblemInfo=(action "toProblemInfo")
        refreshList=(action "refreshList")
        }}

      </li>
      {{/each}}
      </ul>
    {{/if}}
  </div>




