<header id="problemlistheader">
  <h2>Problems</h2>
  <div class="clear"></div>
</header>


<section class="problemlist">
  <nav class="actions listing al_vertical_stretch">
    <ul class="actions">
      <li>{{#link-to 'problems.new' id="problem-new-link"}}Create New Problem{{/link-to}}</li>
    </ul>
    <h2>{{currentUser.username}}'s problems</h2>
    <ul class="your-problems">
      {{#each yourProblems as |problem|}}
      <li>{{#link-to 'problem' problem classNames='problem'}}{{problem.title}}{{/link-to}}</li>
      {{/each}}
    </ul>

    <h2>Public Problems</h2>
    <ul class="public">
      {{#each publicProblems as |problem|}}
      <li>{{#link-to 'problem' problem classNames='problem'}}{{problem.title}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </nav>
</section>

<fieldset>
  <div class="listOutlet-users">
    {{outlet}}
  </div>
  </fieldset>



