
  <ul id="main-problem-list">
    {{#if isSearching}}
      <p class="loading-message">Searching problems...</p>
    {{else}}
      {{#each problems as |problem|}}
        {{problem-list-item problem=problem}}
      {{/each}}
    {{/if}}
  </ul>



