<div class="flex-container">
  <div class="top-level-filters flex-item">
    <h5>Primary Filters</h5>
    {{#each primaryFilterOptions as |input|}}
      {{radio-filter isChecked=input.isChecked groupName="top-level" inputValue=input.value onClick=(action "updateTopLevel") labelName=input.label}}
    {{/each}}
  </div>
</div>
{{#if secondaryFilterOptions}}
  <div class="flex-container">
    <div class="second-level-filters flex-item">
      <h5>Second Level Filters</h5>
        {{#each secondaryFilterOptions as |input|}}
          {{input id=input.value type="checkbox" checked=input.isApplied change=(action "updateSecondLevel")}}
          <label for={{input.value}}>{{input.label}}</label>
        {{/each}}
    </div>
  </div>
 {{/if}}




