<h2>Problems</h2>
  <ul id="main-problem-list">
    {{#each problems as |problem|}}
      {{problem-list-item problem=problem}}
    {{else}}
      <li>Sorry, no matching results found</li>
    {{/each}}
  </ul>



