
  <div class="main-list">
    {{#if isSearching}}
      <p class="loading-message">Searching problems...</p>
    {{else}}
      {{#each problems as |problem|}}
        {{problem-list-item
        problem=problem
        isList=isList
        isGrid=isGrid
        store=store
        flagProblem=(action "flagProblem")
        moreMenuOptions=moreMenuOptions
        toProblemInfo=(action "toProblemInfo")}}
      {{/each}}
    {{/if}}
  </div>



