<div class="reset-user-box">
  {{#if resetSuccess}}
    <p class="success-message">Password reset successfully!</p>
  {{/if}}
  <form class="form-reset-user">
    <div class="auth-form-input">
      <label for="password">Password</label>
      {{input class="form-control" name="password" id="password" required=true type="password" value=password action="resetErrors" on="key-down"}}
    </div>
    <div class="auth-form-input">
      <label for="confirmPassword">Confirm Password</label>
      {{input class="form-control" name="confirmPassword" id="confirmPassword" required=true type="password" value=confirmPassword action="resetErrors" on="key-down"}}
    </div>
    {{#if matchError}}
        <p class="error-message">Passwords don't match.</p>
    {{/if}}
      {{#if missingRequiredFields class="error-message"}}
        <p class="error-message">Please fill in all required fields.</p>
      {{/if}}

    <button class="auth-button" type="submit" {{action 'resetPassword'}}>Reset Password</button>

  </form>
</div>