<div class="flex-container-full">
  <div class="flex-item-full">
    {{response-submission-view
  store=store
  submission=submission
  workspace=response.workspace
  }}
  </div>
  <div class="flex-item-full">
 {{response-mentor-reply
  isCreating=isCreatingNewMentorReply
  response=response
  submission=submission
  subResponses=subResponses
  selections=selections
  comments=comments
  responses=responses
}}
  </div>
  <div class="flex-item-full">
 {{response-approver-reply response=response }}

  </div>
</div>



