<header>
  <h2>Sections</h2>
  <div class="clear"></div>
</header>

<section class="sectionlist">
  <nav class="users actions listing al_vertical_stretch">
    <ul class="actions">
      <li>{{#link-to  'sections.new' id="newsection" }}Create New Section{{/link-to}}</li>
    </ul>

    <h2>{{currentUser.username}}'s sections</h2>

    <ul class="your-sections">
      {{#each yourSections as |section|}}
      <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
      {{/each}}
    </ul>

    <h2>Sections you belong to</h2>
    <ul class="listing">
      {{#each collabSections as |section|}}
      <li>{{#link-to 'section' section classNames='section'}}{{section.name}}{{/link-to}}</li>
      {{/each}}
    </ul>
  </nav>

   <div class="listOutlet sections">
      {{outlet}}
  </div>

  <div class="clear"/>
</section>
