<form class="form-signup" method="POST" action="/auth/signup">
  <input class="form-control" type="text" required name="username" placeholder="username">
  <input class="form-control" type="password" required name="password" placeholder="password">
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up!</button>
</form>