<div class="social-signin">
  <a href={{googleUrl}}>
    <button>
      <img src="images/google-logo.svg" alt="Google logo">
      <span id="google-text">Sign in with Google</span>
    </button>
  </a>
  {{!-- <a href="/auth/google"><img src="images/google-signin.png" alt="Sign in with Google"></a> --}}
</div>


