<ul class="listing">
  <li>
          <img src={{answer.explanation.data}} style="width:128px;height:128px;">

  </li>
  {{my-select assignedAnswer=answer content=selectedSection.students optionLabelPath="username" prompt="Please assign the correct student" action=(action "updateAnswer") }}
  <p>selected student: {{assignedStudent.username}}</p>
      </ul>