<div class="main-list">
  {{#each answers as |answer|}}
      {{submission-viewer-list-item
        answer=answer
        selectedAnswerIds=selectedAnswerIds
        onSelect=(action "onSelect")
        isList=isList
        isGrid=isGrid
        store=store
        threads=threads
        selectedMap=answersSelectedHash
      }}
      {{else}}
      <p class="info">No submissions found. Please try different filter criteria.</p>
    {{/each}}
  </div>