<div class="autocomplete">
  {{#if inputLabel}}
    <label for={{inputName}}>{{inputLabel}}</label>
  {{/if}}
  {{input class="form-control" placeholder=placeholder name=inputName id=inputId type="text" value=textValue focus-out=(action "toggleFocus" "out") focus-in=(action "toggleFocus" "in")
  }}
</div>
