{{#if currentUser.needAdditionalInfo}}
  {{signup-google organizations=organizations }}
{{else}}
  <div class="al_wtf main">
    {{#if currentUser.googleId}}
      <p class="info">Thank you for submitting the requested information. An admin will be reviewing your request shortly, and you will be notified via email once your account has been authorized. You can also log back in to EnCoMPASS anytime to check on the status of your request.</p>
    {{else}}
      <p class="info">Thanks for logging in.  We don't seem to have you in our system yet, please <a href="http://mathforum.org/cgi-bin/mailto.pl?key=92&to=the%20EnCoMPASS%20team">drop us a note</a>.</p>
    {{/if}}

  </div>
{{/if}}

