<h1>Welcome to the Users Page</h1>
<p>Click on a username to see more info about there account and edit them</p>
<p class="or">Or</p>
{{#link-to 'user.new' id="user-new-link" class="new-link-btn"}}<span>Create New User</span>{{/link-to}}


{{!-- {{#if currentUser.isAdmin}}
  {{#link-to 'user.new' id="user-new-link" class="new-link-btn"}}<span>Create New User</span>{{/link-to}}
{{/if}}
{{#if currentUser.isAdmin}}
  {{#link-to 'user.new' id="user-new-link" class="new-link-btn"}}<span>Create New User</span>{{/link-to}}
{{/if}}
{{#if currentUser.isAdmin}}
  {{#link-to 'user.new' id="user-new-link" class="new-link-btn"}}<span>Create New User</span>{{/link-to}}
{{/if}}
{{#if currentUser.isStudent}}
  {{#link-to 'user.new' id="user-new-link" class="new-link-btn"}}<span>Create New User</span>{{/link-to}}
{{/if}} --}}