{{#if currentUser.isAdmin}}
  {{user-list-admin currentUser=currentUser users=users organization=organiztions}}
{{else}}
  {{user-list-teacher currentUser=currentUser users=users organization=organiztions}}
{{/if}}

<div class="list-outlet users">
  {{outlet}}
</div>