{{#if currentUser.isAdmin}}
  {{user-list-admin store=store currentUser=currentUser users=users organization=organiztions toUserInfo="toUserInfo"}}
{{/if}}

{{#if currentUser.isTeacher}}
  {{user-list-teacher store=store currentUser=currentUser users=users organization=organiztions toUserInfo="toUserInfo"}}
{{/if}}

{{#if currentUser.isPdAdmin}}
    {{user-list-pd store=store currentUser=currentUser users=users organization=organiztions toUserInfo="toUserInfo"}}
{{/if}}

{{#if currentUser.isStudent}}
    <div class="centered">FORBIDDEN</div>
{{/if}}


<div class="list-outlet users">
  {{outlet}}
</div>