<h3>Create a New Student</h3>
<article class="user">
  <table class="values rows">
    <tr>
      <th>Label</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Username <span class="required-star">*</span></td>
      <td>
        {{input type="text" value=username action="resetErrors" on="key-down" classNames="user-username"}}
      </td>
    </tr>
    <tr>
      <td>Password <span class="required-star">*</span></td>
      <td>
        {{input type="password" value=password action="resetErrors" on="key-down"  classNames="user-password"}}
      </td>
    </tr>
    <tr>
      <td>Name</td>
      <td>
        {{input type="text" value=name  classNames="user-name"}}
      </td>
    </tr>
  </table>

  {{#if usernameExists}}
    <p class="error-message">Username already exists</p>
  {{/if}}

  {{#if errorMessage}}
    <p class="error-message">Username & Password are required</p>
  {{/if}}

  <button class='action_button user-new' {{action 'newUser'}}>Create New Student</button>
</article>
