{{#if currentUser.isAdmin}}
  {{user-new-admin currentUser=currentUser store=store  organizations=organizations toUserInfo="toUserInfo" toUserHome="toUserHome"}}
{{/if}}
{{#if currentUser.isPdAdmin}}
  {{user-new-pd currentUser=currentUser store=store organizations=organizations toUserInfo="toUserInfo" toUserHome="toUserHome"}}
{{/if}}
{{#if currentUser.isTeacher}}
  {{user-new-teacher currentUser=currentUser store=store organizations=organizations toUserInfo="toUserInfo" toUserHome="toUserHome"}}
{{/if}}
{{#if currentUser.isStudent}}
    <div class="centered">FORBIDDEN</div>
{{/if}}

