{{#if currentUser.isAdmin}}
  {{user-new-admin currentUser=currentUser store=store  organizations=organizations toUserInfo="toUserInfo"}}
{{else}}
  {{#if currentUser.isStudent}}
    <div class="centered">FORBIDDEN</div>
  {{else}}
    {{user-new-teacher currentUser=currentUser store=store organizations=organizations toUserInfo="toUserInfo"}}
  {{/if}}
{{/if}}
