<label class="input-label">Search for VMT Rooms / Activities</label>
{{search-bar
  onSearch=(action "submitSearch")
  basePlaceholder="Search for vmt rooms or activities by name"
  inputValue=searchText
  clearSearchResults=(action "clearSearchResults")
}}