<label class="input-label">Search for VMT Rooms / Activities</label>
{{search-bar
  onSearch=(action "submitSearch")
  basePlaceholder="Room / Activity Name"
  inputValue=searchText
  clearSearchResults=(action "clearSearchResults")
  doSearchOnInputChange=true
  doDebounce=true
  constraints=searchConstraints
}}

{{#each searchErrors as |error|}}
  {{error-box error=error showDismiss=true resetError=(action (mut searchErrors) null)}}
{{/each}}
