<label for="vmt-room-search"></label>
{{input type="text" value=searchText id="vmt-room-search" placeholder="Search for vmt rooms or activities by name"}}
<button {{action "submitSearch"}}>Search</button>