<div class="info-card">
  <div class="heading">Stats</div>
  <div class="card-content">
    <div class="card-row">
      <div class="row-label">
        Submissions
      </div>
      <div class="row-value">
        {{workspace.submissionsLength}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Selections
      </div>
      <div class="row-value">
        {{workspace.selectionsLength}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Folders
      </div>
      <div class="row-value">
        {{workspace.foldersLength}}
      </div>
    </div>
    <div class="card-row">
      <div class="row-label">
        Comments
      </div>
      <div class="row-value">
        {{workspace.commentsLength}}
      </div>
    </div>
  </div>
</div>

