<h5>Choose configuration</h5>
{{radio-group options=copyConfig selectedValue=selectedConfig}}

{{#if showCustomConfig}}
  {{ws-copy-custom-config workspace=workspace submissionThreads=submissionThreads onProceed=(action "nextCustom")}}
  {{else}}
  <button {{action "next"}}>Next</button>
{{/if}}


