<p class="info">Review the details of your request located above. If everything looks correct, hit 'Submit' to create your new copied workspace.</p>

<div class="nav-btn-container">
  <button {{action "back"}}>Prev</button>
  <button class="ws-copy submit" {{action "next"}}>Submit</button>
</div>