<p>Select a user to configure their permissions for this workspace.</p>
{{selectize-input
  store=store
  inputId="collab-select"
  maxItems=1
  onItemAdd=(action "setCollaborator")
  onItemRemove=(action "setCollaborator")
  labelField="username"
  valueField="id"
  searchField="username"
  model="user"
  queryParamsKey="usernameSearch"
  isAsync=true
  placeholder="Search for collaborators to add"
}}

{{#if selectedCollaborator}}
  {{ws-permissions-new workspace=workspace permissions=permissions onSave=(action "savePermissions") selectedUser=selectedCollaborator}}
{{/if}}

