@import "variables";
@import "mixins";
@import "responsive-font-size";

#answer-info{
  .info-detail{
    display: flex;
    align-items: center;
  }
  i {
    padding: 5px;
  }
  .info-header {
    text-align: center;
  }
  .list-header {
    border-bottom: 1px solid;
  }
  label {
    width: 20%;
    font-size: 1em;
    padding: 12px 20px;
    color: $dark-font-color;
  }
}

#answer-new {
  .new-answer-input {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .quill-container {
    width: 70%;
    section#editor {
      width: 100%;
      display: inline-block;
      .ql-editor {
        width: 100%;
        display: inline-block;
      }

    }
  }

  label {
    width: 20%;
    font-size: 1em;
    padding: 12px 20px;
    color: $dark-font-color;
  }
  .ql-toolbar.ql-snow {
    width: 100%;
    display: inline-block;
  }

  .student-list {
    display: block;
  }
}