//general
.success-message {
  @include success-message;
  margin: 20px 0 20px 0;
}

//assignment-list hbs
#assignmentlistheader {
  h2 {
    color: $accent-color;
    font-weight: $bold-font-weight;
  }
}

section.assignmentlist {
  h2 {
    color: $accent-color;
    font-weight: $bold-font-weight;
  }
  #assignment-new-link {
    color: $accent-color;
    font-weight: $bold-font-weight;
  }
}
#assignment-info-student {
  section.assignment-info-student {
    margin-bottom: 15px;
    div.info-detail {
      display: flex;
      align-items: center;
    }

    p {
      font-size: 1em;
      width: 70%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
    }
    label {
      width: 20%;
      font-size: 1em;
      padding: 12px 20px;
      color: $dark-font-color;
    }
    .action_button {
      padding: 12px 20px;
    }
    button.action_button {
      margin: 8px 15px 8px 5px;
      padding: 10px 15px;
      font-size: .8em;
      border-radius: 3px;
      font-weight: $bold-font-weight;
    }
  }

  .info-msg-container {
    margin-bottom: 8px;
    p.info {
      font-size: 0.9em;
    }
  }


  div.past-submissions {
    display: flex;
    width: 100%;
    margin-bottom: 50px;
    section.past-submissions-list {
      width: 20%;
      display: inline-block;
      p {
        font-size: 0.8em;
        padding: 5px;
        margin: 8px 0px;
      }
      ol {
        li {
          padding: 6px 0 6px 10px;
          font-size: 0.8em;
          cursor: pointer;

          &.highlight {
            font-weight: $bold-font-weight;
              background-color: lighten($background-color, 5%);
          }
        }
      }
    }

    section.past-answer-view {
      width: 70%;
      display: inline-block;
    }
    div#answer-info {
      label {
        font-size: 1em;
      }
      border-left: 1px solid;
    }
  }
}


section.assignment-info-teacher {
    #assignment-info-form {
      div.mySelect {
        display: inline-block;
        padding: 12px 0px;
        margin: 8px 0;
        font-size: 1em;
        width: 70%;
        select {
          width: 100%;
          font-size: 1em;
          margin-left: 0px;
          height: 45px;
          text-indent: 10px;
          border: 1px solid $input-border;
          border-radius: 4px;
          box-sizing: border-box;
          background: none;
          &::placeholder {
            color: $primary-font-color;
          }
        }

      }
      input[type=text], input[type=date]{
        font-size: 1em;
        color: $primary-font-color;
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0px;
        display: inline-block;
        border: 1px solid $input-border;
        border-radius: 4px;
        box-sizing: border-box;
        background: none;
        &::placeholder {
          color: $primary-font-color;
        }
      }
      div.twitter-typeahead {
        display: inline-block;
        padding: 12px 0px;
        font-size: 1em;
        width: 70%;

        span.twitter-typeahead {
          width:100%;
        }

        input.typeahead {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          font-size: 1em;
          border: 1px solid #ccc;
          border-radius: 4px;
          box-sizing: border-box;
        }
      }
      label {
        width: 20%;
        font-size: 1em;
        padding: 12px 20px;
        color: $dark-font-color;
      }
      p.assignment-info {
        font-size: 1em;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        input[type=text], input[type=date] {
          border: none;
        }
      }
      // #assignedDate {
      //   border: none;
      //   color: black;
      // }
    }
    #assignment-info {
      .assignment-info {
        font-size: 1em;
        width: 70%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: none;
        border-radius: 4px;
        box-sizing: border-box;
        background: none;
        &::placeholder {
          color: $primary-font-color;
        }

      }
      label {
        width: 20%;
        font-size: 1em;
        padding: 12px 20px;
        color: $dark-font-color;
      }
      .action_button {
        padding: 12px 20px;
      }
    }
    button.action_button {
      margin: 8px 15px 8px 5px;
      padding: 10px 15px;
      font-size: .8em;
      border-radius: 3px;
      font-weight: $bold-font-weight;
    }
    .right {
      float: right;
      font-size: 1.5em;
      color: $primary-font-color;
      border: none;
      &:hover {
        color: lighten($primary-font-color, 10);
      }
    }
}

#assignment-report {
 h2 {
   margin-bottom: 10px;
 }
 .info-summary {
   margin-bottom: 10px;
   margin-left: 5px;
 }

 table {
   margin-left: 5px;
   td.count {
     text-align: center;
   }
 }

}