@import "variables";
@import "mixins";
@import "responsive-font-size";

#assignmentnewheader {
  color: $accent-color;
  font-weight: bold;
  font-size: 1.5em;
}
form#newassignmentform {
  .required-error {
    border: 2px solid $error-color;
  }
  div.mySelect {
    display: inline-block;
    padding: 12px 0px;
    font-size: 1em;
    width: 70%;
    select {
      width: 90%;
      height: 45px;
      text-indent: 10px;
      font-size: 1em;
      margin-left: 0px;
      border: 1px solid $input-border;
      border-radius: 4px;
      box-sizing: border-box;
      background: none;
      &::placeholder {
        color: $primary-font-color;
      }
    }

  }
  .flex-input {
    width: 70%;
  }
  .selectize-comp {
    width: 70%;
  }

  input[type=text]  {
    width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 1em;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  p {
    width: 70%;
    margin: 8px 0;
    font-size: 1em;
    display: inline-block;
  }
  li{
    display:flex;
    align-items: center;
    flex-wrap: wrap;

  }
  i {
    margin-left: 3px;
    font-size: 1em;
  }

  .radio-group {
    display: flex;
  }

  div.twitter-typeahead {
    display: inline-block;
    padding: 12px 0px;
    font-size: 1em;
    width: 70%;

    span.twitter-typeahead {
      width:100%;
    }

    input.typeahead {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      font-size: 1em;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  input:required {
    box-shadow: none;
  }
  // input:invalid {
  //   box-shadow: 0 0 3px red;
  // }
  label {
    width: 20%;
    padding: 12px 10px 20px 10px;
    font-size: 1em;
    color: $dark-font-color;
  }

  .error-box {
    width: 70%;
    box-sizing: border-box;
    p {
      margin: 0;
    }
  }

  #linked-workspaces-new {
    width: 100%;
    margin-left: 15px;
  }

  #parent-workspace-new {
    width: 100%;
    margin-left: 15px;
  }

}
