@import "variables";
@import "mixins";
@import "responsive-font-size";


// GENERAL STYLING
.auth-page, .login-page, .signup-page {
  background-color: $background-color;
  width: 100%;
  font-family: $primary-font;
}

.error-message {
  @include error-message;
  margin: 20px 0 20px 0;
}


// LOGIN PAGE SYLING
.login-page {
  height: 82vh;
  padding-top: 12vh;
}

.login-box {
  margin: 0 auto;
  width: 500px;
  padding-top: 40px;
  background-color: white;
  box-shadow: $box-shadow;
  .encompass-logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 50px;
  }
  .auth-form-input {
    margin: 0 auto;
    margin-bottom: 40px;
    padding: 0;
    width: 350px;
  }
  input {
    display: block;
    width: 350px;
    font-size: 1em;
    padding: 10px 0;
    margin: 0 auto;
    color: lighten($primary-font-color, 25);
    // background-color: $input-color;
    // border: .5px solid $background-color;
    // border-radius: 3px;
    // text-indent: 15px;
    background-color: white;
    border: none;
    border-bottom: 1px solid $primary-font-color;
  }
  .auth-button {
    @include auth-button;
    margin-top: 50px;
  }
  .or {
    margin-top: 20px;
    font-weight: $light-font-weight;
    text-align: center;
  }
  .signup-link {
    margin-top: 40px;
    padding-bottom: 40px;
    font-weight: $light-font-weight;
    text-align: center;
    a {
      @include main-link;
    }
  }
}


// SIGNUP PAGE SYLING
.signup-page {
  height: 90vh;
  padding-top: 3vh;
}

.signup-box {
  margin: 0 auto;
  width: 500px;
  padding-top: 20px;
  background-color: white;
  box-shadow: $box-shadow;
  .encompass-logo {
    display: block;
    margin: 0 auto;
    width: 200px;
    margin-bottom: 20px;
  }
  .auth-form-input {
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 0;
    width: 350px;
    font-size: .9em;
  }
  input {
    display: block;
    width: 350px;
    font-size: 1em;
    padding: 8px 0;
    margin: 0 auto;
    margin: 0 auto;
    background-color: white;
    border: none;
    color: lighten($primary-font-color, 25);
    border-bottom: 1px solid $primary-font-color;
    margin-bottom: 15px;
  }
  #checkbox {
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 25px;
    padding: 0;
    width: 350px;
    font-size: .9em;
    input  {
      width: 50px;
      margin-bottom: 0;
      float: left;
    }
    label {
      float: right;
      position: relative;
      left: -55px;
    }
    a {
      @include main-link;
    }
  }
  .auth-button {
    @include auth-button;
    margin-top: 40px;
  }
  .terms-error {
    margin: 0 auto;
    padding-top: 10px;
    width: 350px;
    font-size: .9em;
  }
  .login-link {
    margin-top: 40px;
    padding-bottom: 30px;
    font-weight: $light-font-weight;
    text-align: center;
    a {
      @include main-link;
    }
  }
}

// AUTH PAGE STYLING
.auth-page {
  height: 78vh;
  padding-top: 15vh;
}

// SOCIAL SIGNIN
.social-signin {
  margin: 0 auto;
  margin-top: 20px;
  button {
    display: block;
    margin: 0 auto;
    width: 350px;
    color: $primary-font-color;
    font-size: 1em;
    font-weight: $bold-font-weight;
    background-color: white;
    border: 1px solid $background-color;
    border-radius: 3px;
    padding: 8px 0;
    &:hover {
      background-color: darken(white, 10%);
      font-weight: $bolder-font-weight;
      cursor: pointer;
    }
    img {
      float: left;
      max-width: 30px;
      margin-left: 10px;
      padding: 0;
    }
    span {
      display: block;
      margin-top: 5px;
    }
  }
}