@import "variables";
@import "responsive-font-size";


// AUTH PAGE STYLING
.auth-page {
  background-color: $background-color;
  width: 100%;
  height: 100vh;
}

.error-message {
  @include error-message;
  margin: 10px 0 20px 0;
}

// LOGIN PAGE SYLING
.login-page {
  background-color: $background-color;
  width: 100%;
  height: 100vh;
  padding-top: 15vh;
  font-family: $primary-font;
}

.login-box {
  margin: 0 auto;
  width: 450px;
  height: 55vh;
  padding-top: 60px;
  text-align: center;
  background-color: white;
  box-shadow: $box-shadow;
  .encompass-logo {
    display: block;
    margin: 0 auto;
    width: 225px;
    margin-bottom: 50px;
  }
  .username-input {
    margin-bottom: 20px;
  }
  button {
    @include auth-button;
    margin-top: 50px;
  }
  .signup-link {
    margin-top: 50px;
  }
}


// SIGNUP PAGE SYLING
.signup-page {
  background-color: $background-color;
  width: 100%;
  height: 100vh;
}


// SOCIAL SIGNIN
.social-signin {
  margin: 0 auto;
  width: 200px;
  margin-top: 20px;
  img {
    width: 220px;
  }
}