@import "variables";
@import "mixins";
@import "responsive-font-size";

.bread-crumbs-comp {
  ul.breadcrumbs {
    display: flex;
    li {
      cursor: pointer;
      font-size: 1.2em;
      font-weight: $light-font-weight;
      abbr {
        text-decoration: none;
      }
      &.active-crumb {
        font-weight: $bold-font-weight;
        color: $accent-color;
      }
    }
  }
}