@import "variables";
@import "mixins";
@import "responsive-font-size";

.bread-crumbs-comp {
  .breadcrumbs {
    @include flex-container(null, null, row, wrap, flex-end, center, center);
    .revisions {
      font-weight: $light-font-weight;
      margin-right: 15px;
      color: $primary-font-color;
    }
  }
  ul.breadcrumbs {
    li {
      cursor: pointer;
      font-size: 1.1em;
      font-weight: $light-font-weight;
      abbr {
        text-decoration: none;
        margin-right: 0;
      }
      &.active-crumb {
        font-weight: $bold-font-weight;
        color: $accent-color;
        text-decoration: underline;
      }
    }
  }
  span.info-text-tip {
    margin-right: 2px;
    top: -2px;
    i {
      cursor: default;
    }
  }
}