@import "variables";
@import "mixins";
@import "responsive-font-size";

.action_button {
  background:$accent-yellow;
  padding: 10px 15px;
  display: inline-block;
  zoom: 1;
  border: 0;
  border-radius: 3px
}

.primary-button {
  background: $accent-color;
  color: white;
  padding: 10px 20px;
  display: inline-block;
  zoom: 1;
  border: 0;
  font-size: .8em;
  border-radius: 3px;
  font-weight: $bold-font-weight;
}

.delete-button {
  background: $error-color;
  color: white;
}

.cancel-button {
  background: $cancel-color;
  color: $primary-font-color;
}

.restore-button {
  background: $success-color;
  color: white;
}