@import "variables";
@import "mixins";
@import "responsive-font-size";

#comment-list {
  header.labels {
    @include flex-container(null, null, row, nowrap, center, flex-start, flex-start);
    img {
      width: 25px;
      display: inline-block;
      vertical-align: middle;
      margin-right: 5px;
      margin-top: -2px;
    }
    .label-list {
      min-width: fit-content;
        margin: 0 10px;
        &.notice {
          margin-left: 0;
        }
    }
  }

  textarea {
    border-radius: 3px;
    padding: 10px;
    height: 50px;
    transition-property: height;
    transition-duration: .2s;
    transition-timing-function: ease;
    // &:focus {
    //   height: 60px;
    // }
  }
  .error-message {
    text-align: center;
  }
  button {
    font-size: 1em;
  }
  .cancel-button {
    font-size: 1em;
    padding: 10px 10px;
    background-color: white;
    border-radius: 3px;
  }
  .filterControl {
    margin: 12px 0 0 8px;
    font-size: 1em;
    .filter {
      cursor: pointer;
      margin-right: 10px;
    }
    .search {
      cursor: pointer;
      margin-left: 10px;
    }
  }
  .filter-options {
    margin: 0 0px 10px 10px;
    label {
      margin: 0 5px;
    }
  }
  .search-options {
    margin: 0 0px 10px 10px;
    p {
      margin: 5px 0;
      input[type=text] {
        padding: 10px 5px;
        background-color: white;
        border: .5px solid $input-border;
        border-radius: 3px;
        text-indent: 5px;
        width: 90%;
      }
    }
  }
  .display-list {
    height: calc(65% - 15px);
    overflow-y: auto;
  }
  .comment-text {
    color: black;
    margin-bottom: 2px;
  }
  .label-list {
    cursor: pointer;
  }
  .active {
    background-color: $background-color;
    padding: 2px 5px;
    border-radius: 3px;
  }
  .delete_button {
    position: absolute;
    top: 50%;
    right: 45px;
    margin-top: -6px;
  }
  .fa-plus {
    position: absolute;
    top: 30%;
    left: 15px;
  }
  .comment-label {
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -9px;
    img {
      width: 20px;
    }
  }
}