@import "variables";
@import "mixins";
@import "responsive-font-size";

#comment-list {
  h2 {
    display: inline-block;
    font-size: 1.4em;
  }

  .seperator {
    font-size: 1.5em;
    margin: 0 8px;
  }
  .single-text-input {
    height: 10px;
    font-size: .8em;
    padding-left: 10px;
    font-weight: $light-font-weight;
    max-width: 115px;
  }

  .label-select {
    font-size: 1.1em;
    margin-left: 15px;
    margin-bottom: 10px;
    #my-select {
      width: 100%;
      margin-right: 30px;
      select {
        height: 30px;
        font-size: 1em;
        border: none;
        text-indent: 5px;
        background: none;
        width: 100%;
        max-width: 130px;
        text-align-last: left;
        margin: 0 auto;
        text-transform: capitalize;
        color: black;
        background: url(/images/caret-down.svg) no-repeat right;
        background-size: 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus {
          outline: none;
        }
      }
    }
    &.notice {
      #my-select:before {
        content: "N";
        font-weight: $bolder-font-weight;
        color: #DD9327;
        font-size: 1.2em;
        vertical-align: middle;
      }
    }
    &.wonder {
      #my-select:before {
        content: "W";
        font-weight: $bolder-font-weight;
        color: #72CCC6;
        font-size: 1.2em;
        vertical-align: middle;
      }
    }
    &.feedback {
      #my-select:before {
        content: "F";
        font-weight: $bolder-font-weight;
        color: #BE4699;
        font-size: 1.2em;
        vertical-align: middle;
      }
    }
  }

  textarea {
    border-radius: 3px;
    padding: 10px;
    height: 50px;
    transition-property: height;
    transition-duration: .2s;
    transition-timing-function: ease;
    // &:focus {
    //   height: 60px;
    // }
  }
  .error-message {
    text-align: center;
  }
  button {
    font-size: 1em;
  }
  .comment-flex-row {
    @include flex-container(null, null, row, wrap, flex-start, flex-start, center);
    margin: 20px 0;
    line-height: 25px;
  }
  .comment-flex-item {
    &.filter {
      @include flex-item(1, flex-start, 0.1 0 auto);
      &:hover {
        cursor: pointer;
        color: black;
        .hover-menu {
          display: inline;
        }
      }
    }
    &.search {
      @include flex-item (2, flex-start, 0.9 1 auto);
      .search-bar-comp {
        margin: auto;
        height: 25px;
        input [type=text] {
          height: 25px;
        }
      }
    }

    &.text {
      @include flex-item (1, flex-start, auto);
      @include flex-container(null, null, column, nowrap, flex-start, flex-start, flex-start);
    }
    &.actions {
      @include flex-item(2, center, initial);
      @include flex-container(null, null, row, nowrap, space-between, flex-start, center);
      margin-left: auto;

      a {
        display: inline-block;
        margin-left: 5px;
        cursor: pointer;
        font-weight:900;
      }
    }
  }

  .submit-buttons {
    @include flex-container(null, null, row, wrap, flex-end, flex-start, center);
    .save {
      margin-left: 15px;
    }
  }

  .comment-filter-options {
    margin: 0 0px 10px 10px;
    label {
      margin: 0 5px;
    }
  }

  .display-list {
    height: calc(65% - 15px);
    overflow-y: auto;
    margin-top: 15px;

    li {
      @include flex-container(null, null, row, nowrap, flex-start, flex-start, center);
      background-color: white;
    }
    li:before {
      font-weight: $bolder-font-weight;
      font-size: 2em;
      margin-right: 10px;
      width: 28px;
      text-align: center;
    }

    .notice:before {
      content: "N";
      color: #DD9327;
    }
    .wonder:before {
      content: "W";
      color: #72CCC6;
    }
    .feedback:before {
      content: "F";
      font-weight: $bolder-font-weight;
      color: #BE4699;
    }
  }

  .comment-text {
    color: black;
    margin-bottom: 2px;
    font-size: 0.9em;
  }
  .label-list {
    cursor: pointer;
  }
  .active {
    background-color: $background-color;
    padding: 2px 5px;
    border-radius: 3px;
  }
}