//general
@import "variables";
@import "mixins";
@import "responsive-font-size";



.div-table {
  width: 100%;
  overflow: auto;
}

.max-width {
  width: 100%;
  overflow: auto;
  tr {
    width: 16%;
  }
  td {
    width: 16%
  }
}

#row {
  overflow: auto;
  width: 16%;
}
