//general
@import "variables";
@import "mixins";
@import "responsive-font-size";



.div-table {
  width: 100%;
  overflow: auto;
}

.max-width-row {
  width: 100%;
  overflow: auto;
  tr {
    width: 14%;
  }
  td {
    width: 14%
  }
}

#row {
  overflow: auto;
  width: 14%;
}
