@import "variables";
@import "mixins";
@import "responsive-font-size";

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
    url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

p.warning-message {
  @include warning-message;
  margin: 20px 0 20px 0;
}

.error-box {
  background-color: $error-background-color;
  padding: 10px 35px 10px 25px;
  color: $error-color;
  border: 1px solid transparent;
  border-color: $error-border-color;
  border-radius: 3px;
  width: auto;
  position: relative;
  text-indent: 10px;
  font-size: .9em;
  font-weight: $light-font-weight;
}

.error-box:before {
  content: "\f06a";
  font-family: 'FontAwesome';
  left: 0px;
  position: absolute;
  top: 9px;
}

.dismiss {
  position: absolute;
  right: 10px;
  color: $error-color;
  top: 7px;
  background: none;
  border: none;
  font-weight: $bold-font-weight;
  font-size: 1em;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
