@import "variables";
@import "mixins";
@import "responsive-font-size";


@media screen and (min-width: $screen-xs-min) and (max-width: 900px) {
  .filter-options {
    position: absolute;
    z-index: 200;
    height: 100%;
    width: 80%;
    left: 0px;
    box-shadow: $box-shadow;
    &.collapse {
      display: none;
    }
  }
  .toggle-filter-menu {
    display: unset;
    z-index: 205;
  }
  .sort-bar {
    .sort-bar-item {
      &.action {
        display: none;
      }
    }
  }
  .item-container {
    .item-section {
      &.action {
        display: none;
      }
      &.privacy {
        padding-left: 0;
      }
    }
  }
}



@media screen and (min-width: $screen-xs-min) and (max-width: 1200px) {
  .sort-bar {
    .sort-bar-item {
      .fa-filter {
        display: none
      }
      &.description {
        display: none;
      }
      &.status {
        @include flex-item(5, center, .04 0 auto);
        width: 4%;
      }
    }
  }
  .item-container {
    .item-section {
      &.description {
        display: none;
      }
      &.status {
        @include flex-item(5, center, .04 0 auto);
        width: 4%;
        text-align: left;
        text-indent: 3%;
        padding-bottom: 8px;
        .status-text {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 901px) and (max-width: 100000px) {
  .toggle-filter-menu {
    display: none;
  }
}


.toggle-filter-menu {
  position: absolute;
  left: 0px;
  top: 25px;
  button {
    height: 50px;
    background-color: $filter-list-background-color;
    border: none;
    border-radius: 0 5px 5px 0;
    color: lighten($primary-font-color, 20%);
    &:focus {
      outline: none;
    }
  }
}


.flex-container-full {
  @include flex-container(100%, hidden, row, wrap, center, center, stretch);
  .flex-item-full {
    &.filter-options {
      @include flex-item(1, auto, 1 0 auto);
      background-color:$filter-list-background-color;
      max-width: 400px;
      .filter-items {
        margin-top: 35px;
        h2 {
          font-size: 1.8em;
          font-weight: $main-font-weight;
          margin-bottom: 50px;
          margin-left: 20px;
        }
        h3 {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: $main-font-weight;
          margin-bottom: 10px;
          margin-left: 20px;
        }
        .radio-filter {
          width: 100%;
          .is-selected {
            background: $background-body;
            color: $accent-color;
          }
          label {
            display: block;
            height: 50px;
            width: 100%;
            position: relative;
            .radio-content {
              position: relative;
              top: 1em;
              .radio-icon {
                margin: 0;
                padding: 0;
              }
              .radio-text {
                margin-left: 20px;
              }
            }
            input[type=radio] {
              visibility: hidden;
            }
          }
        }
        #admin-problem-filter {
          background-color: $background-body;
          // border: 1px solid red;
          padding: 10px 0 20px 20px;
          .choose-filter-admin {
            .filter-text {
              font-weight: $light-font-weight;
              float: left;
            }
            .selectize-control {
              text-align: left;
              position: relative;
              right: 0;
            }
            .selectize-input {
              width: 125px;
              position: relative;
              top: -8px;
              left: 0px;
              border: none;
              background: none;
              box-shadow: none;
              font-weight: $main-font-weight;
              font-size: .9em;
              color: black;
            }
          }
          .filter-admin {
            padding-right: 10%;
            input {
              font-size: 1em;
              font-weight: $light-font-weight;
            }
          }

        }
        .secondary-filter-options {
          font-size: .9em;
          font-weight: $light-font-weight;
          .is-selected {
            background: $background-body;
            color: $accent-color;
            font-weight: $main-font-weight;
          }
          .checkbox-content {
            .checkbox-label {
              display: block;
              padding: 10px 0;
              .checkbox-icon {
                margin-left: 40px;
                width: 20px;
                text-align: center;
              }
              .checkbox-text {
                margin-left: 10px;
                display: inline-block;
                max-width: 250px;
              }
            }
            input[type=checkbox] {
              visibility: hidden;
            }
          }
        }
      }
    }
    &.list-view {
      @include flex-item(2, auto, 4 1 auto);
      padding: 20px;
      overflow: auto;
      .fa-globe-americas {
        color: $accent-color;
        font-size: 1.5em;
      }
      .fa-lock {
        color: $error-color;
        font-size: 1.5em;
      }
      .list-container {
        height: 60px;
        @include flex-container(auto, hidden, row, wrap, center, center, stretch);
        h1 {
          @include flex-item(1, auto, 1 0 auto);
          font-size: 2em;
          color: $dark-font-color;
          font-weight: $main-font-weight;
          margin-top: 10px;
          width: fit-content;
          height: fit-content;
          margin-top: 12px;
        }
        .searchbar {
          @include flex-item(2, auto, 4 1 auto);
          #problem-new-link {
            color: white;
            background: $accent-color;
            float: right;
            border-radius: 50%;
            text-align: center;
            margin-top: -46px;
            line-height: 42px;
            height: 40px;
            width: 40px;
            &:hover {
              cursor: pointer;
              background: lighten($accent-color, 10%);
            }
          }
        }
      }
      .results-list {
        margin-top: 15px;
        .results-info {
          @include flex-container(100%, hidden, row, wrap, space-between, center, stretch);
          margin-left: 0;
          .results-message {
            @include flex-item(1, center, .95 0 auto);
            width: fit-content;
            font-weight: $light-font-weight;
          }
          .layout-icons {
            @include flex-item(2, center, .05 0 auto);
            width: 100px;
            text-align: right;
            margin-left: auto;
            img {
              margin-left: 10px;
              &:hover {
                cursor: pointer;
              }
            }
          }
        }
        .results-items {
          margin-top: 10px;
          .sort-bar {
            background-color: $filter-list-background-color;
            @include flex-container(100%, auto, row, no-wrap, space-between, center, stretch);
            .sort-bar-item {
              text-transform: uppercase;
              margin-top: 2px;
              font-size: .9em;
              text-align: left;
              padding: 15px 0;
              .sort-icon {
                margin-left: 5px;
              }
              &.privacy {
                padding-left: 15px;
                @include flex-item(1, center, .07 0 auto);
                width: 7%;
                &:hover {
                  cursor: pointer;
                  color: black;
                  .hover-menu {
                    display: inline;
                  }
                }
              }
              &.name {
                @include flex-item(2, center, .2 0 auto);
                width: 20%;
                &:hover {
                  cursor: pointer;
                  color: black;
                }
              }
              &.description {
                @include flex-item(3, center, .26 0 auto);
                width: 26%;
              }
              &.date {
                @include flex-item(4, center, .07 0 auto);
                width: 7%;
                &:hover {
                  cursor: pointer;
                  color: black;
                }
              }
              &.status {
                @include flex-item(5, center, .08 0 auto);
                width: 8%;
                &:hover {
                  cursor: pointer;
                  color: black;
                  .hover-menu {
                    display: inline;
                  }
                }
              }
              &.action {
                @include flex-item(6, center, .04 0 auto);
                width: 4%;
              }
              &.more {
                @include flex-item(7, center, .02 0 auto);
                width: 2%;
              }
            }
          }
          .main-list {
            .item-container {
              border-bottom: .5px solid $input-border;
              padding: 25px 0;
              display: inline-block;
              @include flex-container(100%, null, row, wrap, space-between, center, stretch);
              &:hover {
                background-color: #f9fcff;
              }
              .item-section {
                &.privacy {
                  @include flex-item(1, center, .07 0 auto);
                  width: 7%;
                  padding-left: 15px;
                  text-indent: 2%;
                }
                &.name {
                  @include flex-item(2, center, .2 0 auto);
                  width: 20%;
                  overflow: hidden;
                }
                &.description {
                  @include flex-item(3, center, .26 0 auto);
                  width: 26%;
                  max-width: 500px;
                  overflow-y: hidden;
                  overflow-x: hidden;
                  max-height: 35px;
                }
                &.date {
                  @include flex-item(4, center, .07 0 auto);
                  width: 7%;
                }
                &.status {
                  @include flex-item(5, center, .08 0 auto);
                  width: 8%;
                }
                &.action {
                  @include flex-item(6, center, .04 0 auto);
                  width: 4%;
                }
                &.more {
                  @include flex-item(7, center, .02 0 auto);
                  width: 2%;
                  text-align: right;
                  padding-right: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.hover-menu {
  position: absolute;
  z-index: 100;
  margin-top: 28px;
  margin-left: -100px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: $box-shadow;
  display: none;
  border-radius: 5px;
  li {
    padding: 8px 0;
    text-transform: capitalize;
    color: $primary-font-color;
    label {
      cursor: pointer;
      padding-right: 5px;
    }
    input[type=radio] {
      margin-right: 15px;
    }
    i {
      margin-right: 10px;
      font-size: 1.2em;
    }
  }
}

.hover-menu:after {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
  top: -10px;
  content: "";
  position: absolute;
  right: 32%;
}