@import "variables";
@import "mixins";
@import "responsive-font-size";


.flex-container-full {
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: stretch;
  height: 100%;
  margin-bottom: auto;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: space-between;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-stretch;
  -ms-flex-align: stretch;
  overflow: hidden;
}

.flex-container-full {
  .flex-item-full {
    &.filter-options {
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      background-color:$filter-list-background-color;
      max-width: 400px;
      .filter-items {
        margin-top: 25px;
        h2 {
          font-size: 1.8em;
          font-weight: $main-font-weight;
          margin-bottom: 50px;
          margin-left: 20px;
        }
        h3 {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: $main-font-weight;
          margin-bottom: 10px;
          margin-left: 20px;
        }
        .radio-filter {
          width: 100%;
          .is-selected {
            background: $background-body;
            color: $accent-color;
          }
          label {
            display: block;
            height: 50px;
            width: 100%;
            position: relative;
            .radio-content {
              position: relative;
              top: 1em;
              .radio-icon {
                margin: 0;
                padding: 0;
                text-indent: 25px;
              }
              .radio-text {
                margin-left: 20px;
              }
            }
            input[type=radio] {
              visibility: hidden;
            }
          }
        }
        .secondary-filter-options {
          font-size: .9em;
          .is-selected {
            background: $background-body;
            color: $accent-color;
          }
          .checkbox-content {
            .checkbox-label {
              width: 100%;
              display: block;
              padding: 10px 0;
              .checkbox-icon {
                margin-left: 40px;
                width: 20px;
                text-align: center;
              }
              .checkbox-text {
                margin-left: 10px;
              }
            }
            input[type=checkbox] {
              visibility: hidden;
            }
          }
        }
      }
    }
    &.list-view {
      -webkit-order: 2;
      -ms-flex-order: 2;
      order: 2;
      -webkit-flex: 4 1 auto;
      -webkit-flex: 4 1 auto;
      -ms-flex: 4 1 auto;
      flex: 4 1 auto;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      overflow-y: auto;
    }
  }
}