@import "variables";
@import "mixins";
@import "responsive-font-size";

#filter-control {
  width:100%;
  margin-left: 20px;
  div.control-box {
    width:100%;
    display:flex;
    div.filter-by {
      margin-right: 10px;
      ul.filter-options {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        li {
          display: flex;
          input[type=checkbox] {
            order: 1
          }
          label {
            order: 2
          }
        }

      }
    }
    div.sort-by {
      margin-right: 20px;
    }
  }
  .cat-filter {
    margin-top: 10px;
    margin-right: 5px;
    max-width:200px;
    div.twitter-typeahead {
      span.twitter-typeahead {
        width:100%;
      }

      input.typeahead {
        width: 100%;
        height: 30px;
        margin-left: 0;
        text-indent: 5px;
        padding: 0;
      }
    }
    ul.cat-filter-list {
      margin-top: 10px;
      li {
        display: flex;
        align-items: center;

        i {
          cursor: pointer;
          margin-left:5px;
        }
      }
    }
  }


}