@import "variables";
@import "mixins";
@import "responsive-font-size";

@media screen and (min-width: $screen-xs-min) and (max-width: 900px) {
  .filter-options {
    display: none;
  }
}

@media screen and (min-width: 901px) and (max-width: 100000px) {

}


.flex-container-full {
  @include flex-container(100%, hidden, row, wrap, center, center, stretch);
  .flex-item-full {
    &.filter-options {
      @include flex-item(1, auto, 1 0 auto);
      background-color:$filter-list-background-color;
      max-width: 400px;
      .filter-items {
        margin-top: 35px;
        h2 {
          font-size: 1.8em;
          font-weight: $main-font-weight;
          margin-bottom: 50px;
          margin-left: 20px;
        }
        h3 {
          font-size: 1em;
          text-transform: uppercase;
          font-weight: $main-font-weight;
          margin-bottom: 10px;
          margin-left: 20px;
        }
        .radio-filter {
          width: 100%;
          .is-selected {
            background: $background-body;
            color: $accent-color;
          }
          label {
            display: block;
            height: 50px;
            width: 100%;
            position: relative;
            .radio-content {
              position: relative;
              top: 1em;
              .radio-icon {
                margin: 0;
                padding: 0;
                text-indent: 25px;
              }
              .radio-text {
                margin-left: 20px;
              }
            }
            input[type=radio] {
              visibility: hidden;
            }
          }
        }
        .secondary-filter-options {
          font-size: .9em;
          .is-selected {
            background: $background-body;
            color: $accent-color;
          }
          .checkbox-content {
            .checkbox-label {
              width: 100%;
              display: block;
              padding: 10px 0;
              .checkbox-icon {
                margin-left: 40px;
                width: 20px;
                text-align: center;
              }
              .checkbox-text {
                margin-left: 10px;
              }
            }
            input[type=checkbox] {
              visibility: hidden;
            }
          }
        }
      }
    }
    &.list-view {
      @include flex-item(2, auto, 4 1 auto);
      padding: 20px;
      overflow: auto;
      .list-container {
        height: 60px;
        @include flex-container(auto, hidden, row, wrap, center, center, stretch);
        h1 {
          @include flex-item(1, auto, 1 0 auto);
          font-size: 2em;
          color: $dark-font-color;
          font-weight: $main-font-weight;
          margin-top: 10px;
          width: fit-content;
          height: fit-content;
          margin-top: 12px;
        }
        .searchbar {
          @include flex-item(2, auto, 4 1 auto);
          #problem-new-link {
            color: white;
            background: $accent-color;
            float: right;
            border-radius: 50%;
            text-align: center;
            margin-top: -46px;
            line-height: 42px;
            height: 40px;
            width: 40px;
            &:hover {
              cursor: pointer;
              background: lighten($accent-color, 10%);
            }
          }
        }
      }
      .results-list {
        border: 1px solid green;
        margin-top: 15px;
        .results-info {
          @include flex-container(100%, hidden, row, wrap, space-between, center, stretch);
          margin-left: 0;
          .results-message {
            @include flex-item(1, center, .95 0 auto);
            width: fit-content;
            font-weight: $light-font-weight;
          }
          .layout-icons {
            @include flex-item(2, center, .05 0 auto);
            width: 100px;
            text-align: right;
            margin-left: auto;
            img {
              margin-left: 10px;
            }
          }
        }
        .results-items {
          margin-top: 10px;
          border: 1px solid blue;
        }
      }
    }
  }
}