@import "variables";
@import "mixins";
@import "responsive-font-size";

#filter-control {
  width:65%;
  margin-left: 20px;
  div.control-box {
    width:100%;
  ul.filter-options {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

      }


  }


}