@import "variables";
@import "mixins";
@import "responsive-font-size";

#folder_contents {
  a {
    cursor: pointer;
    &.selection-image {
      border: none;
    }
  }
}

ul#al_folders.hidden {

    display: none;

}

