@import "variables";
@import "mixins";
@import "responsive-font-size";

// GENERAL STYLING
#homepage {
  font-family: $primary-font;
  margin: 20px 10px 30px 30px;
}

h1 {
  color: $accent-color;
}


.header-home {
  margin-top: 15px;
  margin-bottom: 10px;
}

.header-space {
  margin-top: 20px;
}


.header-font {
  font-size: 24px;
}