@import "variables";
@import "mixins";
@import "responsive-font-size";

// GENERAL STYLING
.home {
  font-family: $primary-font;
  margin: 20px 10px 30px 30px;
}

h1 {
  color: $accent-color;
}


.home__header {
  margin-top: 15px;
  margin-bottom: 10px;
}

.header-space {
  margin-top: 20px;
}


.home--font {
  font-size: 24px;
}

.home--link {
  border-bottom: 2px solid #ffcc00;
  line-height: 1.3;
  font-weight: bold;
}