@import "variables";
@import "mixins";
@import "responsive-font-size";

.input-label {
  font-size: 1em;
  margin-bottom: 20px;
  color: $primary-font-color;
  i {
    margin-left: 10px;
    font-size: .9em;
  }
}

