
@import "variables";

// MAIN STYLING FOR LINKS
@mixin main-link {
  color: $accent-color;
  text-decoration: none;
  font-weight: $bold-font-weight;
  &:hover {
    font-weight: $bolder-font-weight;
  }
}

@mixin action-button {
  margin: 10px;
  border-radius: 3px;
  font-size: .8em;
  padding: 10px 15px;
  font-weight: $bold-font-weight;
}


// BUTTON USED FOR AUTH FORMS
@mixin auth-button {
  display: block;
  font-size: 1em;
  font-weight: $bold-font-weight;
  border-radius: 3px;
  margin: 0 auto;
  background-color: $accent-color;
  border: none;
  width: 350px;
  padding: 12px 0;
  color: white;
  &:hover {
    background-color: darken($accent-color, 10%);
    cursor: pointer;
    font-weight: $bolder-font-weight;
  }
}

// BUTTON USED FOR AUTH FORMS
@mixin auth-button-toggle {
  display: block;
  font-size: 1em;
  font-weight: $bold-font-weight;
  border-radius: 3px;
  margin: 0 auto;
  background-color: $accent-color;
  border: none;
  width: 500px;
  padding: 12px 0;
  color: white;
  &:hover {
    background-color: darken($accent-color, 10%);
    cursor: pointer;
    font-weight: $bolder-font-weight;
  }
}


// ERROR MESSAGE
@mixin error-message {
  color: $error-color;
  font-weight: $light-font-weight;
}

@mixin success-message {
  color: $success-color;
  font-weight: $light-font-weight;
}

@mixin warning-message {
  color: $warning-color;
  font-weight: $light-font-weight;
<<<<<<< HEAD
 }
=======
}
>>>>>>> added warning class and styling
