@import "variables";
@import "mixins";
@import "responsive-font-size";

#pagination-control{
  margin: 0 20px;
  width: 70%;
  .flex {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 2em;
    padding: 2px;
  }

  .nav-arrows {
    display: flex;
    align-items: center;
    .page-status {
      margin: 0 3px;
    }
  }

  .nav-goto {
    margin-left: 10px;

    input.goto-page {
      width: 4em;
    }
  }

}