@import "variables";
@import "mixins";
@import "responsive-font-size";

#pagination-control{
  margin: 0 20px;
  width: 70%;
  .flex {
    display: flex;
    align-items: center;
  }

  i {
    font-size: 2em;
    padding: 2px;
  }

  .nav-arrows {
    display: flex;
    align-items: center;
    min-width: 120px;
    .page-status {
      margin: 0 3px;
    }
  }

  .nav-goto {
    margin-left: 10px;
    padding: 2px;

    input {
      width: 10%;
      min-width: 35px;
      max-width:50px;
    }

  }

}