@import "variables";
@import "mixins";
@import "responsive-font-size";

form#problem {
  input[type=radio].required-error::after, input[type=checkbox].required-error::after  {
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    content: '';
    border: 2px solid red !important;
    box-sizing: border-box;

  }
  input[type=radio].required-error::after {
    border-radius:100%;
  }
  .required-error {
    border: 2px solid red;
  }
}
