@import "variables";
@import "mixins";
@import "responsive-font-size";


#problem-filter{
  .top-level-filters {
    h5 {
      line-height: normal;
    }
    div.radio-filter {
      display: inline-block;
    }
  }
  .second-level-filters {
    h5 {
      line-height: normal;

    }
    input [type=checkbox] {
      display: inline-block;
    }
  }

}




// div.top-level-filters {
//   display: flex;
//   flex-wrap:wrap;
//   align-items: center;
//   li {
//     display: inline-block;
//   }
// }