@import "variables";
@import "mixins";
@import "responsive-font-size";


// problem details
#probleminfo {

}

//problem edit
#problemdetails {

}
#save-problem-button {

}

h2 {
    font-weight: bold;
    color: blue;
}

#problem-new-link {
    font-weight: bold;
    color: brown;
}


