@import "variables";
@import "mixins";
@import "responsive-font-size";

#probleminfoheader {
  h2 {
    color: $accent-color;
    font-weight: bold;
    font-size: 1.5em;
  }
}

section.problemdetails {
  #probleminfoform {
    input[type=text],
    select {
      font-size: 1em;
      color: $primary-font-color;
      width: 70%;
      padding: 12px 20px;
      margin: 8px 0px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      background: none;
      &::placeholder {
        color: $primary-font-color;
      }
    }
    label {
      width: 20%;
      font-size: 1em;
      padding: 12px 20px;
      color: black;
    }
    .radio-label {
      padding: 0px 5px;
      margin-top: -10px;
    }
    .privacy-settings {
      margin-bottom: 20px;
    }
  }
  #probleminfo {
    .problem-info {
      font-size: 1em;
      width: 70%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: none;
      border-radius: 4px;
      box-sizing: border-box;
      background: none;
      &::placeholder {
        color: $primary-font-color;
      }
    }
    label {
      width: 20%;
      margin: 8px 0;
      font-size: 1em;
      padding: 12px 20px;
      color: black;
    }
    .action_button {
      padding: 12px 20px;
    }
  }
  button.action_button {
    margin: 8px 15px 8px 5px;
    padding: 10px 15px;
    font-size: .8em;
    border-radius: 3px;
    font-weight: $bold-font-weight;
  }
}

//problem-list hbs
#problemlistheader {
  h2 {
    color: $accent-color;
    font-weight: bold;
  }
}

section.problemlist {
  h2 {
    color: $accent-color;
    font-weight: bold;
  }
  #problem-new-link {
    color: $accent-color;
    font-weight: bold;
  }
}


#problem-info {
  a.image.wide {
    max-width: 100%;
    position: relative;
    z-index: 999;
  }

  .wide img {
    height: initial;
    width: 100%;
    margin-bottom: 30px;
  }
}


#pdf-view {
  height: 500px;
}

