@import "variables";
@import "mixins";
@import "responsive-font-size";

#response-container {
  background-color: $filter-list-background-color;
  height: calc(100vh - 75px);
  .feedback-mode {
    text-align: center;
    position: relative;
    top: 20px;
    margin-bottom: 20px;
    font-weight: $light-font-weight;
  }
  a.link {
    color: $accent-color;
    cursor: pointer;
    &:hover {
      font-weight: $main-font-weight;
    }
  }
}
.response-flex-item {
  background-color: white;
  box-shadow: $box-shadow;
  border-radius: 3px;
  margin: 20px;
  padding: 30px 45px;
  height: calc(100vh - 215px);
  overflow-y: auto;
}

div.response-flex-container {
  @include flex-container(null, null, row, wrap, center, flex-start, flex-start);
  width: 100%;
  div.response-flex-item.submission{
    @include flex-item(1, flex-start, 1 1 auto);
    width: 40%;
    &.third {
      @include flex-item(1, flex-start, 1 1 31%);

    }
  }
  div.response-flex-item.mentor {
    @include flex-item(2, flex-start, 1 1 auto);
    width: 40%;
    &.third {
      @include flex-item(2, flex-start, 1 1 31%);
    }

  }
  div.response-flex-item.approver.third {
    min-width: 350px;
    @include flex-item(3, flex-start, 1 1 31%);
  }

  .cancel-button {
    padding: 10px 22px;
  }
  pre {
    word-wrap: break-word;
  }

  #response-submission-view {
    .problem-link-container {
      margin-bottom: 20px;
      margin-top: 10px;
      a {
        color: $accent-color;
        font-weight: $light-font-weight;
      &:hover {
          font-weight: $main-font-weight;
        }
      }
    }
    .workspace-name {
      color: black;
      font-weight: $light-font-weight;
      font-size: 1.5em;
      margin-bottom: 30px;
    }
    .submission-student {
      color: $accent-color;
      font-size: 1.1em;
      margin-bottom: 40px;
      i {
        margin-right: 10px;
      }
    }
    .submission-content-container {
      margin-bottom: 35px;
      .submission-header {
        padding: 10px 0;
        font-size: 1em;
        color: black;
        i {
          float: right;
          color: $filter-list-border-color;
        }
      }
      .submission-content {
        margin-top: 15px;
      }
    }
    img {
      max-width: 100%;
    }
  }

  #response-mentor-reply {
    h3, h5 {
      margin-bottom: 15px;
    }
    div.bread-crumbs-comp {
      border: 1px solid;
    }

    section.response {
      pre.message {
        white-space: pre-wrap;
      }
    }
    section.response-details {
      float: none;
    }
    div.response-info {
      margin-top: 10px;
      p {
        margin-bottom: 10px;
      }
    }
    div.compose-mentor-reply {
      margin-left: 15px;
      h5 {
        margin-left: 0;
      }
      h3.compose-heading {
        text-align: center;
      }
      textarea {
        width: 100%;
        border: 1px solid $input-border;
        border-radius: 3px;
        margin-bottom: 15px;
        resize: none;
      }
    }
    div.mentor-reply-actions {
      margin-top: 15px;
    }
    #response-new {
      .top-row {
        margin-bottom: 15px;
        @include flex-container(null, null, row, wrap, center, center, center);
      }
      .response-date {
        @include flex-item(1, flex-start, 1 1 auto);
        font-weight: $light-font-weight;
        font-size: 1.1em;
        color: $filter-list-border-color;
        text-align: let;
      }
      .response-link {
        @include flex-item(2, flex-end, 1 1 auto);
        text-align: right;
        font-weight: $light-font-weight;
        i {
          color: $accent-color;
        }
      }
      .response-title {
        color: black;
        font-weight: $light-font-weight;
        font-size: 1.5em;
        margin-bottom: 15px;
      }
      .response-users {
        margin-bottom: 30px;
        p {
         line-height: 25px;
        }
        .response-label {
          width: 50px;
          display: inline-block;
        }
        .response-value {
          color: $accent-color;
          font-weight: $light-font-weight;
        }
      }
      .response-content {
        .response-existing-container {
          margin-bottom: 30px;
          .response-existing {
            .response-link {
              color: $accent-color;
              cursor: pointer;
              &:hover {
                font-weight: $main-font-weight;
              }
            }
          }
          .response-listing {
            margin: 15px 0 0 20px;
            font-size: .9em;
            font-weight: $light-font-weight;
            .create-date {
              font-weight: $main-font-weight;
              margin-right: 10px;
            }
            li {
              margin: 15px 0;
              a {
                color: $accent-color;
                margin-left: 10px;
              }
            }
          }
        }
        .response-info {
          font-weight: $main-font-weight;
          line-height: 25px;
          margin-top: 30px;
          font-size: .9em;
          a {
            color: $accent-color;
            &:hover {
              font-weight: $main-font-weight;
            }
          }
        }
        .response-header {
          margin: 15px 0;
          color: black;
          font-size: 1.1em;
          font-weight: $light-font-weight;
          i {
          float: right;
          color: $filter-list-border-color;
          }
        }
        .selections, .comments {
          margin-bottom: 40px;
        }
        .selections-list {
          .selections-list-item {
            margin: 10px 15px;
            a {
              background-color: $pale-accent;
              font-size: .8em;
            }
          }
        }
        .comments-list {
          .comments-list-item {
            margin: 10px 15px;
            a {
              font-size: .9em;
              font-weight: $light-font-weight;
            }
          }
        }
        .response-compose {
          textarea {
            width: 100%;
            border: 1px solid $input-border;
            border-radius: 3px;
            margin-bottom: 15px;
            resize: none;
          }
          .approve-note {
            border: 1px  red;
            margin-top: 30px;
            textarea {
              height: 80px;;
            }
          }
        }
      }
    }
  }
  #response-approver-reply {
    // border: green solid 1px;
    margin-left: 20px;
    margin-right: 20px;
    h3, h5 {
      margin-bottom: 15px;
      margin-left: 15px;
    }
    div.approver-actions {
      margin-left: 15px;
      margin-bottom: 15px;

        button:nth-child(1) {
          margin-right: 5px;
        }
        :nth-child(2) {
          margin-left: 5px;
        }
    }
    div.approver-replies {
      margin-left: 15px;
      h5 {
        margin-left: 0;
        margin-bottom: 15px;
      }
      .display-approver-reply {
        margin-top: 10px;
        margin-bottom: 10px;
        p {
          padding: 5px;
        }
      }
    }
    div.compose-approver-reply {
      margin-left: 15px;
      margin-bottom: 10px;

      textarea {
        width: 100%;
        border: 1px solid $input-border;
        border-radius: 3px;
        margin-bottom: 15px;
        resize: none;
      }
    }
    div.display-reply-actions {
      button {
        margin: 5px;
      }
    }
    div.submit-buttons {
      button {
        margin: 5px;
      }
    }
  }
}