@import "variables";
@import "mixins";
@import "responsive-font-size";

div.response-flex-container {
  border: 1px solid purple;
  @include flex-container(100%, null, row, wrap, center, flex-start, flex-start);
  width: 100%;
  div.response-flex-item.submission{
    min-width: 350px;

    @include flex-item(1, flex-start, 1 1 50%);
    &.third {
      @include flex-item(1, flex-start, 1 33%);

    }
  }
  div.response-flex-item.mentor {
    min-width: 350px;

    @include flex-item(2, flex-start, 1 1 50%);
    &.third {
      @include flex-item(2, flex-start, 1 1 33%);
    }


  }
  div.response-flex-item.approver.third {
    min-width: 350px;
    @include flex-item(3, flex-start, 1 1 33%);
  }
  #response-submission-view {
    margin-left: 20px;
    border: red solid 1px;

    #al_submission {
      height: auto;
    }
    div#uploadedImg {
      img {
        max-width: 100%;
      }
    }
  }
  #response-mentor-reply {
    border: blue solid 1px;
    margin-left: 20px;
    section.response {
      width: 85%;
      pre.message {
        white-space: pre-wrap;
      }
    }
    section.response-details {
      float: none;
    }
  }
  #response-approver-reply {
    border: green solid 1px;
    margin-left: 20px;

  }
}