@import "variables";
@import "mixins";
@import "responsive-font-size";

#responses-list {
  header {
    background: $background-color;
    padding: 7px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    h2 {
      margin-left: 20px;
      display: inline-block;
      font-size: 1.2em;
    }
    .toggle-btn {
      float: right;
      margin-right: 20px;
    }
    .new-link-btn {
      color: $primary-font-color;
      background: $accent-yellow;
      font-weight: $main-font-weight;
      font-family: $primary-font;
      border-radius: 3px;
      font-size: .8em;
      padding: 0px 15px;
      margin-left: 10px;
      border: none;
      line-height: 35px;
      &:hover {
        font-weight: $bold-font-weight;
        cursor: pointer;
        background: lighten($accent-yellow, 10%);
      }
    }
    .active-filter {
      font-weight: $bolder-font-weight;
      background: darken($accent-yellow, 5%)
    }
  }
  table {
    width: 100%;
    position: relative;
    top: 70px;
    .top-row {
      border-bottom: 1px solid #d3d3d3;
      line-height: 50px;
    }
  }
}