@import "variables";
@import "mixins";
@import "responsive-font-size";


.search-bar-comp {
  border: 1px solid green;
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 50px;
  text-align: right;
  @include flex-container(40px, null, row, no-wrap, flex-end, flex-end, stretch);
  .select-bar {
    @include flex-item(1, center, .3 0 auto);
     border: 1px solid gold;
  }
  .search-field {
   @include flex-item(2, center, .6 0 auto);
    height: 35px;
    border-radius: 5px;
    border: 1px solid $input-border;
    background: white;
    text-indent: 10px;
    font-size: .8em;
  }
  .submit {
    @include flex-item(3, center, .1 0 auto);
    cursor: pointer;
    font-size: 1.3em;
    margin-left: 10px;
    text-align: left;
    &:hover {
      color: lighten($primary-font-color, 20%);
    }
  }

}