@import "variables";
@import "mixins";
@import "responsive-font-size";

.search-bar-comp {
  margin-top: 8px;
  margin-bottom: 5px;
  margin-right: 50px;
  text-align: right;
  @include flex-container(40px, null, row, no-wrap, flex-end, flex-end, stretch);
  .select-bar {
    @include flex-item(1, center, .3 0 auto);
    margin-right: 15px;
    #my-select {
      width: 100%;
      select {
        height: 30px;
        @include responsive-font-size(.6em, 1em, 350px, 1200px, .1em);
        font-size: 1em;
        border: none;
        text-indent: 5px;
        background: none;
        width: 100%;
        max-width: 100px;
        text-align-last: left;
        margin: 0 auto;
        text-transform: capitalize;
        color: black;
        background: url(/images/caret-down.svg) no-repeat right;
        background-size: 12px;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .clear-field {
    @include flex-item(2, center, .6 0 auto);
    font-size: .8em;
    position: relative;
    cursor: pointer;
    .search-field {
      height: 35px;
      width: 100%;
      border-radius: 5px;
      border: 1px solid $input-border;
      background: white;
      text-indent: 10px;
      font-size: 1em;
      font-weight: $light-font-weight;
    }
    .clear {
      position: absolute;
      top: 12px;
      right: 5px;
      width: 15px;
      height: 15px;
      fill: $filter-list-border-color;
      &:hover {
        fill: $primary-font-color;
      }
    }
  }
  .submit {
    @include flex-item(3, center, .1 0 auto);
    font-size: 1.3em;
    margin-left: 15px;
    text-align: left;
    i {
      cursor: pointer;
      &:hover {
        color: lighten($primary-font-color, 20%);
      }
    }
  }
  .error-messages {
    @include flex-item(4, center, 100% 0 100%);
    position: absolute;
    width: fit-content;
    top: 80px;
    right: 10px;
    z-index: 10;
   }
}