@import "variables";
@import "mixins";
@import "responsive-font-size";
#sectionupdateform {
  input[type=text],
  select {
    font-size: 1em;
    width: 70%;
    color: $primary-font-color;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: none;
    &::placeholder {
      color: $primary-font-color;
    }
  }
  label {
    color: black;
    font-size: 1em;
    width: 20%;
    padding: 12px 20px;
  }
}

#sectioninfo {
  input[type=text],
  select {
    font-size: 1em;
    color: $primary-font-color;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background: none;
    &::placeholder {
      color: $primary-font-color;
    }
  }
  label {
    font-size: 1em;
    width: 20%;
    margin: 0px;
    padding: 12px 20px;
    color: black;
  }
  li {
    padding: 12px;
  }
  ol.b {
    width: 100%;
    padding: 12px 100px;
    margin: 2px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .student_button {
    float: right;
    background-color: red;
  }
}

.action_button {
  margin: 10px;
}

#show-password-btn {
  border: none;
  i {
    font-size: 1.4em;
    color: $primary-font-color;
  }
  &:focus {
    outline: 0;
  }
}