@import "variables";
@import "mixins";
@import "responsive-font-size";

#sectionlist {
    color: $accent-color;
    font-weight: bold;
}


.sectionlist {
   #newsection, h2 {
        color: $accent-color;
        font-weight: bold;
    }

}
