@import "variables";
@import "mixins";
@import "responsive-font-size";


    #newsectionform {
        input[type=text], select {
            width: 70%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #cccccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        label {
            width: 20%;
            padding: 12px 20px;
          }
    }

