@import "variables";
@import "mixins";
@import "responsive-font-size";


#section-new {
  h2 {
    font-size: 1.5em;
  }
  #createSectionForm {
    input [type=text] {
      font-size: 15px;
      color: black;
      width: 30%;
      padding: 12px 20px;
      margin: 8px 0px;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
    label {
      padding: 12px 10px;
    }
  }
  #newsectionform {
    margin: 8px;
    max-width: 800px;
  input[type=text],
  {
  width: 70%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    min-width:200px;
  }
  input:required {
    box-shadow: none;
  }

  .section-new-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    label {
      flex: 1 0 100px;
      width: 20%;
      max-width: 200px;
      padding: 12px 20px;
      color: black;
      font-size: 1em;
    }

    input {
      flex: 1 0 200px;
      max-width: 400px;
    }

    .error-message {
      width: 70%;
    }

  }
  // p.section-new-info {
  //   width: 70%;
  //   display: inline-block;
  //   font-size: 1em;
  //   vertical-align: center;
  // }
  div.twitter-typeahead{
      flex: 1 0 200px;
      max-width: 400px;
    span{
      width: 100%;
    }
    .typeahead {
      width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1em;
    }

  }
}
}
