@import "variables";
@import "mixins";
@import "responsive-font-size";


@media screen and (min-width: $screen-xs-min) and (max-width: 400px) {
  .side-info {
    .info-menu {
      .tab-link {
        margin: 0 0px;
        font-size: .7em;
        padding: 10px;
      }
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 100000px) {
  .side-info {
    .info-menu {
      .tab-link {
        margin: 0 10px;
        font-size: .9em;
        padding: 10px 20px;
      }
    }
  }
}


.side-info {
  .fa-globe-americas {
    color: $accent-color;
  }
  .fa-lock {
    color: $error-color;
  }
  .top-left-icon {
    font-size: 1.5em;
    position: absolute;
    left: 20px;
    top: 85px;
  }
  .remove-icon {
    position: absolute;
    font-size: 1.2em;
    top: 85px;
    right: 15px;
    cursor: pointer;
  }
  .info-header {
    border: none;
  }
  .side-info-menu {
    position: relative;
    padding: 0 20px;
    .info-details {
      position: relative;
      margin: 30px 0;
      .info-main {
        text-align: center;
        .heading {
          font-size: 1.4em;
          color: black;
          padding: 10px 0;
          input {
            width: 90%;
            text-align: center;
            margin-top: -10px;
            margin-bottom: -5px;
            border: 1px solid $input-border;
            background-color: $background-body;
            border-radius: 3px;
            padding: 10px 15px;
            font-size: .9em;
          }
        }
        .subheading {
          padding: 10px 0;
          font-weight: $light-font-weight;
          font-size: 1.1em;
        }
      }
      .info-menu {
        text-align: center;
        padding-top: 20px;
        max-width: 900px;
        margin: 0 auto;
        .tab-link {
          background-color: $background-body;
          font-weight: $main-font-weight;
          text-transform: uppercase;
          border: none;
          color: $primary-font-color;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            color: black;
          }
          &.active-btn {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
            font-weight: $bolder-font-weight;
          }
        }
      }
      .info-content {
        padding-top: 15px;
        min-height: 450px;
        .info-content-block {
          margin: 15px 0 30px 0;
          input, textarea {
            margin-top: -8px;
            width: 90%;
            border: 1px solid $input-border;
            background-color: $background-body;
            border-radius: 3px;
            padding: 10px 15px;
            font-size: .9em;
          }
          img {
            width: 100%;
            position: relative;
          }
          .wide {
            height: initial;
            width: 100%;
            margin-bottom: 30px;
          }
        }
        .large-content {
          overflow-y: auto;
          max-height: 325px;
        }
        .info-content-label {
          font-size: 1.2em;
          color: black;
          margin: 15px 0;
        }
      }
    }
    .info-actions {
      height: 35px;
      margin-bottom: 15px;
      .button-icon {
        border: none;
        background: none;
        font-size: 1.4em;
        color: $primary-font-color;
        &:focus {
          outline: none;
        }
      }
      .left-buttons {
        position: absolute;
        left: 0;
        bottom: 0%;
      }
      .right-buttons {
        position: absolute;
        right: 0;
        bottom: 0%;
        .primary-button {
          font-weight: $bolder-font-weight;
          margin-left: 10px;
        }
      }
    }
  }
}