@import "variables";
@import "mixins";
@import "responsive-font-size";


#submissions-filter {
  .filter-items {
    h2 {
      margin-bottom: 30px;
    }
  }
  .primary-filter-list {
    padding: 0 20px;
    margin-bottom: 30px;
    li {
      margin-bottom: 13px;
      label {
        display: block;
        margin-bottom: 5px;
      }
      .single-text-input {
        height: 10px;
        font-size: .8em;
        padding-left: 10px;
      }
    }
  }
  .primary-button {
    font-weight: $main-font-weight;
    text-align: center;
    width: 160px;
    display: block;
    margin: 0 auto;
  }
}


#submission-viewer-list {
  .no-results-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    .info {
      font-size: 1.4em;
      margin: 50px 0 40px 0;
    }
  }
}