@import "variables";
@import "mixins";
@import "responsive-font-size";

@media screen and (min-width: 0) and (max-width: 349px) {
  #al_header {
    .al_nav {
      font-size: 1em;
      overflow: auto;
      .menu-items {
        display: none;
      }
      #current-username {
        display: none;
      }
      #user-image {
        margin: 0 10px 0 0;
      }
    }
    #topbar-unauth {
      font-size: .8em;
      width: 220px;
      li {
        padding: 0;
        margin: 0;
      }
    }
  }
  #encompass-logo {
    width: 75px;
    height: 80px;
    display: block;
    float: left;
    position: relative;
    top: -15px;
    text-indent: -99999px;
    background: url(images/logo-encompass.gif) 0 0 no-repeat;
  }
}

@media screen and (min-width: 350px) and (max-width: 974px) {
  #al_header {
    .al_nav {
      font-size: 1em;
      .menu-items {
        display: none;
      }
      #current-username {
        display: none;
      }
      #user-image {
        margin: 0 20px 0 5px;
      }
    }
  }
  #encompass-logo {
    width: 75px;
    height: 80px;
    display: block;
    float: left;
    position: relative;
    top: -15px;
    text-indent: -99999px;
    background: url(images/logo-encompass.gif) 0 0 no-repeat;
  }
}

@media screen and (min-width: 975px) and (max-width: 1299px) {
  #al_header {
    .menu-toggle {
      // background-color: blue;
      font-size: .9em;
      li {
        padding: 0 10px;
      }
      .padding {
        margin-right: 5px;
      }
      #home-btn {
        display: none;
      }
      .logout {
        margin: 0;
        padding: 8px 9px;
        border-radius: 50px;
        #logout-text {
          display: none;
        }
      }
      #menu-btn {
        display: none;
      }
      #user-image {
        display: none;
      }
    }
  }
  #encompass-logo {
    width: 75px;
    height: 80px;
    display: block;
    float: left;
    position: relative;
    top: -15px;
    text-indent: -99999px;
    background: url(images/logo-encompass.gif) 0 0 no-repeat;
  }
}

@media screen and (min-width: 1300px) and (max-width: 10000px) {
  #al_header {
    .menu-toggle {
      // background-color: yellow;
      font-size: 1em;
    }
    .al_nav {
      li {
        padding: 0 13px;
      }
      #user-image {
        display: none;
      }
    }
    #menu-btn {
      display: none;
    }
    .logout-icon {
      display: none;
    }
  }
}

// STYLING FOR THE ENCOMPASS LOGO
.al_logo {
  width: 230px;
  height: 80px;
  display: block;
  float: left;
  position: relative;
  top: -15px;
  text-indent: -99999px;
  background: url(images/logo-encompass.gif) 0 0 no-repeat;
}

// TOP BAR STYLING FOR WHEN LOGGED OUT
#topbar-unauth {
  font-weight: $bolder-font-weight;
  float: right;
  margin-top: 12.5px;
  background-color: $background-body;
  li {
    line-height: 50px;
    height: 40px;
    display: inline-block;
    padding: 0 10px;
    vertical-align: middle;
    a {
      color: white;
      margin-right: 10px;
      background: $primary-button;
      padding: 10px 30px;
      border-radius: 3px;
      &:hover {
        background-color: darken($primary-button, 10);
      }
    }
  }
}

// GENERAL STYLING
#sidemenu {
  display: none;
}

#al_header {
  font-family: $primary-font;
  background-color: $background-body;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 0px;
  font-size: 1em; // margin-bottom: 1px;
  height: 75px;
  .control {
    display: none;
  }
  h1 {
    float: left;
  }
}

.small {
  $topbar-small: true;
}

#al_header.small {
  line-height: 20px;
  height: 50px;
}

#al_header.small>.al_nav {
  line-height: 20px;
  height: 20px;
}

#al_header.small>.al_logo {
  display: none
}

#al_header.small>#status {
  padding-top: 1px
}

#al_header:hover .control {
  display: inline
}

#welcome {
  margin: 30px;
}

.spacing {
  padding-left: 5px;
}

.al_nav#main-nav {
  float: right;
  margin-top: 20px;
  li {
    line-height: 40px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: max-content;
      .caret-down {
        margin-left: 3px;
      }
      .caret-right {
        margin-right: 3px;
      }
      .active {
        background-color: $accent-yellow;
        padding: 10px 10px;
        line-height: 20px;
        border-radius: 3px;
        color: $primary-font-color;
        .caret-down {
          margin-left: 7px;
          padding-left: 3px;
          margin-right: 7px;
        }
        .caret-right {
          margin-right: 7px;
          padding-left: 3px;
          margin-left: 7px;
          display:none;
        }
      }
  }
  ul {
    font-size: 1em;
  }
  a {
    &:hover {
      color:$primary-font-color;
      font-weight: $bolder-font-weight;
    }
    .active {
      border-bottom: 2px solid $accent-yellow;
    }
  }
}

.toggle-role {
  cursor: pointer;
}

.hide-menu {
  display: none;
}

#al_header .control {
  display: none
}

#al_header:hover .control {
  display: inline
}

#al_header.small>#status {
  padding-top: 1px
}

#al_welcome {
  float: right;
  margin: 8px 20px;
  display: block;
}

nav.listing,
nav.actions {
  float: left;
  width: 25%;
  padding: 5px;
  background-color: #dfdfdf;
}

nav.listing,
nav.actions>ul {
  padding: 5px;
  border-bottom: 1px solid #cfcfcf;
}

#status {
  padding-left: 300px;
  margin-top: -80px;
}

#devTool {
  float: left;
  padding-left: 20px;
}

// LOGOUT BUTTON
.logout {
  font-weight: $main-font-weight;
  padding: 8px 15px;
  color: white;
  background: $primary-button;
  border-radius: 3px;
  font-size: .9em;
  &:hover {
    background-color: darken($primary-button, 10);
    box-shadow: $button-shadow;
  }
}

#logout-btn {
  margin-top: -5px;
  a {
    color: white;
    &:hover {
      color: white;
      font-weight: $main-font-weight;
    }
  }
}

.dropdown {
  position: relative;
  height: 100%;
  margin: 0;
  overflow: visible;
  width: max-content;
}

.dropdown-skinny {
  width: 110px
}

.dropdown-wide {
  width: 170px;
}


.dropdown-content {
  display: none;
  position: absolute;
  margin-top: 15px;
  background-color: white;
  line-height: 45px;
  width: 100%;
  // border: 1px solid $input-border;
  box-shadow: $box-shadow;
  z-index: 11;
}

.dropdown-content a {
  float: none;
  color: $primary-font-color;
  padding: 0px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  font-weight: $bold-font-weight;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-right {
  position: absolute;
  left: 110px;
  top: 35px;
  z-index: -1;
}
#dropdown-hidden {
  display: none;
  z-index: 9;
}
.parent-dropdown:hover #dropdown-hidden {
  display: block;
  position: absolute;
  z-index: 999;
}
#current-username {
  color: $accent-color;
  font-weight: $bolder-font-weight;
  margin-right: 10px;
  // border: 1px solid green;
  padding: 0;
  img {
    height: 48px;
    position: relative;
    top: -5px;
  }
  a {
    color: $accent-color;
    font-weight: $bolder-font-weight;
    &.active {
      background: none;
    }
  }
}


.underline {
  border-bottom: 2px solid $accent-yellow;
}

#user-image {
  img {
    height: 48px;
    margin-left: 15px;
    margin-top: -5px;
  }
  input {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    -webkit-touch-callout: none;
  }
}

.hidden {
  display: none;
}

.sidemenu-style {
  display: block;
  position: absolute;
  right: 0;
  top: 75px;
  height: 100vh;
  width: 250px;
  padding-top: 10px;
  background: $background-body;
  overflow: auto;
  // box-shadow: $box-shadow;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.23);

  ul {
    margin-bottom: 100px;
  }
  li {
    margin: 30px 20px 30px 30px;
  }
  #logout-btn-side {
    a {
      color: white;
      font-weight: $bold-font-weight;
    }
    background-color: $accent-color;
    padding: 10px 0;
    border-radius: 3px;
    text-align: center;
    &:hover {
      background-color: darken($accent-color, 10);
    }
  }
}
