@import "variables";
@import "mixins";
@import "responsive-font-size";
@media screen and (min-width: $screen-xs-min) and (max-width: $screen-sm-max) {
  #al_header {
    #menu-toggle {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  #al_header {
    #menu-toggle {
      display: none;
    }
  }
}

@media screen and (min-width: $screen-lg-min) and (max-width: $screen-lg-max) {
  // #al_header {
  //   // background-color: yellow;
  // }
}

// STYLING FOR THE ENCOMPASS LOGO
.al_logo {
  width: 230px;
  height: 80px;
  display: block;
  float: left;
  position: relative;
  top: -8px;
  text-indent: -99999px;
  background: url(images/logo-encompass.gif) 0 0 no-repeat;
}


// STYLING FOR THE ENCOMPASS LOGO
.al_logo {
  width: 230px;
  height: 80px;
  display: block;
  float: left;
  position: relative;
  top: -8px;
  text-indent: -99999px;
  background: url(images/logo-encompass.gif) 0 0 no-repeat;
}


// TOP BAR STYLING FOR WHEN LOGGED OUT
#topbar-unauth {
  font-weight: $bolder-font-weight;
  float: right;
  li {
    line-height: 50px;
    height: 40px;
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
    a {
      color: white;
      margin-right: 10px;
      background: $primary-button;
      padding: 10px 30px;
      border-radius: 3px;
      &:hover {
        background-color: darken($primary-button, 10);
      }
    }
  }
}

// GENERAL STYLING
#al_header {
  font-family: $primary-font;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 5;
  margin-bottom: 90px;
  font-size: 1em; // margin-bottom: 1px;
  height: 90px;
  box-shadow: $box-shadow;
  .small {
    height: 20px;
    overflow: hidden;
  }
  .control {
    display: none;
  }
  h1 {
    float: left;
  }
}

#al_header.small>#al_nav li {
  line-height: 20px;
  height: 20px
}

#al_header.small>#al_welcome {
  display: none
}

#al_header.small>.al_logo {
  display: none
}

#al_header.small>#status {
  padding-top: 1px
}

#al_header:hover .control {
  display: inline
}

#welcome {
  margin: 30px;
}

#al_nav {
  height: 100px;
  #main-nav {
    float: right;
  }
  li {
    line-height: 50px;
    height: 40px;
    display: inline-block;
    border-right: 1px solid #e3e3e3;
    padding: 0 20px;
    vertical-align: middle;
    text-align: center;
  }
  ul {
    font-size: 14px;
  }
  a {
    &:hover {
      color: #8e8e8e;
    }
    &::last-child {
      border-right: none;
    }
    .active {
      border-bottom: 2px solid #ffd204;
    }
  }
}

#al_nav li>ul {
  padding: 0px;
  margin: 0px;
}

#al_nav li>ul>li {
  line-height: 0.5em;
  border: none;
  display: block;
  text-align: right;
}

#al_header .control {
  display: none
}

#al_header:hover .control {
  display: inline
}

#al_header.small>#status {
  padding-top: 1px
}

#al_welcome {
  float: right;
  margin: 8px 20px;
  display: block;
}

nav.listing,
nav.actions {
  float: left;
  width: 25%;
  padding: 5px;
  background-color: #dfdfdf;
}

nav.listing,
nav.actions>ul {
  padding: 5px;
  border-bottom: 1px solid #cfcfcf;
}

#status {
  padding-left: 500px;
  padding-top: 46px;
}

#devTool {
  float: left;
  padding-left: 20px;
}

// LOGOUT BUTTON
.logout {
  font-weight: $bolder-font-weight;
  padding: 10px 20px;
  color: white;
  background: $primary-button;
  border-radius: 3px;
  &:hover {
    background-color: darken($primary-button, 10);
  }
}

#logout-btn {
  a {
    color: white;
    &:hover {
      color: white;
    }
  }
}