#user-list {
  #user-list-header {
    h1 {
      text-transform: capitalize;
      margin: 10px 0 10px 10px;
      font-size: 1.8em; // color: darken($primary-font-color, 5%);
      color: $primary-font-color;
      font-weight: bold;
      display: inline-block;
    }
    button {
      border: none;
      &:focus {
        outline: none;
      }
      #new-user-link {
        color: white;
        background: $accent-color;
        font-weight: $main-font-weight;
        font-family: $primary-font;
        font-size: 1.3em;
        border-radius: 3px;
        padding: 10px 15px;
        display: inline-block;
        position: relative;
        top: -5px;
        left: 5px;
        &:hover {
          font-weight: $bold-font-weight;
          cursor: pointer;
          background: darken($accent-color, 10%);
        }
      }
    }
  }
  h2 {
    text-transform: capitalize;
    margin: 20px 0 10px 20px;
    font-size: 1.4em;
    color: $accent-color;
    font-weight: $bold-font-weight;
  }
  li {
    padding: 6px 0 6px 15px;
    margin: 0 20px;
    border-radius: 5px;
    &:last-child {
      margin-bottom: 30px;
    }
    &:hover {
      font-weight: $bold-font-weight;
      background-color: lighten($background-color, 5%);
    }
  }

  #user-list-side {
    background: $background-color;
    width: 25%;
    height: 80%;
    position: fixed;
    overflow: auto;
    clear: both;
    z-index: 1;
    .user-list-box {
      margin-bottom: 100px;
      padding-top: 10px;
      .listing {
        .is-admin a {
          color: $error-color;
        }
        .is-authorized {
          font-weight: $bolder-font-weight;
        }
      }
    }
  }
  .list-outlet {
    width: 74%;
    margin-left: 25%;
    float: left;
    border-left: 1px solid #bfbfbf;
    padding: 10px 5px 5px 10px;
  }
  .centered {
    font-size: 2em;
    margin-left: -100px;
  }
}

#user-info, #user-new {
  margin: 0 auto;
  width: 70%;
  h3 {
    margin: 20px 0 30px 20px;
    font-size: 1.4em;
    color: $primary-font-color;
    font-weight: bold;
    text-align: center;
    .username {
      text-transform: capitalize;
    }
  }
  table {
    margin: 0 auto;
    min-width: 60%;
    text-align: center;
    background-color: #efefef;
    td, th {
      padding: 10px;
      text-align: left;
      margin: 0 auto;
      padding-left: 20px;
      border-left: 1px solid $primary-font-color;
      border-right: 1px solid $primary-font-color;
      width: 150px;
    }
    th {
      border-top: 1px solid $primary-font-color;
    }
  }
  button.action_button {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: .8em;
    border-radius: 3px;
    font-weight: $bold-font-weight;
  }
  input {
    width: 90%;
    padding: 5px;
    font-size: .8em;
  }
}

