// FONT VARIABLES
$primary-font: 'Roboto', sans-serif;
$secondary-font: "Helvetica Neue", Helvetica, sans-serif;

// COLOR VARIABLES
$primary-font-color: #5e5e5e;
$dark-font-color: black;
$background-color: #dfdfdf;
$background-body: #fefefe;
$error-color: #EB5757;
$error-border-color: #ffcccc;
$error-background-color: #FFE0E0;
$accent-color: #3997EE;
$accent-yellow: #ffd204;
$success-color: #4BB543;
$warning-color: #FFA500;
$input-border: #ccc;
$cancel-color: #EFEFEF;


// FONT WEIGHT
$light-font-weight: 300;
$main-font-weight: 400;
$bold-font-weight: 500;
$bolder-font-weight: 700;

// BUTTONS
$primary-button: #3997EE;
$inactive-button: grey;

//BOX SHADOW
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

// LINKS
$primary-link: #3997EE;

// SIZES
$max-width: 1180px;
$default-padding: 10px;
$body-size: 1rem;
$main-heading-size: 2rem;
$secondary-heading-size: 1.5rem;

$topbar-small: false;

// HOVER VARIABLES
$hover-color: yellow;
$hover-underline: yellow;

// BORDER VARIABLES


// BREAKPOINTS
$screen-xs-min: 0px;
$screen-sm-min: 765px;
$screen-xs-max: ($screen-sm-min - 1);
$screen-md-min: 992px;
$screen-sm-max: ($screen-md-min - 1);
$screen-lg-min: 1200px;
$screen-md-max: ($screen-lg-min - 1);
$screen-lg-max: 4000px;