// FONT VARIABLES
$primary-font: 'Roboto', sans-serif;
$secondary-font: arial;

// COLOR VARIABLES
$primary-font-color: #5e5e5e;
$background-color: #dfdfdf;
$error-color: #EB5757;
$accent-color: #3997EE;
