@import "variables";
@import "mixins";
@import "responsive-font-size";


#workspace-info {
  header {
    background: $background-color;
  }
  .link {
    font-size: .9em;
    margin-left: 10px;
    a {
      color: $accent-color;
    }
  }
  #my-select {
    width: 100%;
    position: relative;
    top: -6px;
    select {
      border: 1px solid input-border;
      width: 100%;
      font-size: .9em;
      background: none;
      height: 25px;
    }
  }
  .viewer-toggle {
    color: $accent-color;
    font-size: .9em;
    cursor: pointer;
  }
  .submission-count {
    font-size: .9em;
  }
  #custom-submission-viewer-list {
    @include flex-item(1, center, 1 0 100px);
    #custom-submission-viewer-list-item {
      .item-section.explanation {
        overflow: hidden;
      }
    }
  }
}

.workspace-info-container {
  @include flex-container(auto, auto, row, wrap, space-between, center, space-between);
  padding: 20px 15px;
}

#workspace-info-settings {
  @include flex-item(1, flex-start, 1 1 auto);
  margin: 10px 15px;
  max-width: 650px;
  .info-card {
    .card-row {
      .row-label {
        @include flex-item(1, center, 1 1 auto);
        width: 30%;
      }
      .row-value {
        @include flex-item(2, center, 1 1 auto);
        width: 70%;
        text-align: left;
      }
    }
  }
  .text-input {
    width: 95%;
    padding: 10px;
    border-radius: 3px;
    font-size: .9em;
    background: none;
    border: 1px solid $input-border;
  }
  #my-select {
    width: 100%;
    select {
      border: 1px solid input-border;
      width: 100%;
      font-size: .9em;
      background: none;
      height: 34px;
    }
  }
  .update-submissions {
    button {
      margin-bottom: 10px;
    }
    .update-results {
      margin-top: 15px;
      font-size: 1em;
      }
  }
  .child-workspaces {
    li {
      padding: 5px;
    }
  }
}

#workspace-info-collaborators {
  @include flex-item(2, flex-start, 1 1 auto);
  margin: 10px 15px;
  max-width: 650px;
  .info-card {
    .remove-self {
      margin-left: 25px;
      margin-right: 5px;
    }
    .collab-container {
      margin: 15px 0 40px 0;
      .collab-name {
        font-size: 1.1em;
        border-bottom: .5px solid $input-border;
        padding-bottom: 15px;
        a {
          color: $accent-color;
          margin-left: 10px;
        }
        .collab-actions {
          float: right;
          margin-right: 10px;
          i {
            margin-left: 15px;
          }
        }
      }
      .collab-settings {
        padding-left: 25px;
        .card-row {
          @include flex-container(auto, null, row, wrap, flex-start, center, center);
          .row-label {
            @include flex-item(1, flex-start, 0 1 auto);
            width: 150px;
          }
          .row-value {
            @include flex-item(2, flex-start, 1 1 auto);
            width: 70%;
            text-align: left;
            max-width: 175px;
          }
        }
      }
    }
  }
  .button-row {
    @include flex-container(auto, null, row, nowrap, flex-end, center, center);
    margin-bottom: -20px;
    button {
      margin-left: 15px;
    }
  }
  .no-collab {
    margin: 15px 0;
  }
}

#workspace-info-stats {
  @include flex-item(3, flex-start, 1 1 auto);
  margin: 10px 15px;
  max-width: 300px;
  .info-card {
    .card-row {
      .row-label {
        @include flex-item(1, center, 1 1 auto);
        width: 90%;
      }
      .row-value {
        @include flex-item(2, center, 1 1 auto);
        width: 10%;
        text-align: right;
      }
    }
  }
}

.info-card {
  box-shadow: $box-shadow;
  .heading {
    color: black;
    font-size: 1.1em;
    background-color: $cancel-color;
    padding: 20px 20px 15px 20px;
    border-bottom: .5px solid $input-border;
    .heading-icon {
      color: $primary-font-color;
      float: right;
      &:hover {
        color: black;
      }
    }
  }
  .card-content {
    padding: 10px 30px;
  }
  .card-row {
    margin: 23px 0;
    @include flex-container(auto, null, row, nowrap, center, center, center);
    &.button-row {
      margin: 10px 0 10px 0;
      justify-content: flex-end;
      text-align: right;
      button {
        margin-left: 15px;
      }
    }
    &.error-box {
      width: 100%;
    }
    .row-label {
      color: black;
    }
    .row-value {
      color: $primary-font-color;
      font-weight: $light-font-weight;
      a {
        color: $accent-color;
        font-weight: $main-font-weight;
        &:hover {
          font-weight: $bold-font-weight;
        }
      }
    }
  }
}

#parent-ws-collab-new {
  .checkbox-list {
    margin-top: 10px;

  }
  .collab-settings.global {
    .radio-group {
      margin-top: 10px;
    }
  }
  .collab-name {
    margin-top: 10px;
  }
}