@import "variables";
@import "mixins";
@import "responsive-font-size";


@media screen and (min-width: $screen-xs-min) and (max-width: 1131px) {
  #workspace-list-container {
    .sort-bar-item, .item-section {
      &.comments {
        display: none;
      }
    }
  }
}

@media screen and (min-width: $screen-xs-min) and (max-width: 1401px) {
  #workspace-list-container {
    .sort-bar-item, .item-section {
      &.responses {
        display: none;
      }
    }
  }
}

#workspace-list-container {
  .sort-bar-item, .item-section {
    font-size: .8em;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    .fa-minus, .fa-arrow-up, .fa-arrow-down, .fa-filter {
      font-size: .7em;
      position: relative;
      top: -1px;
    }
    &:hover {
      cursor: pointer;
      color: black;
    }
    &.mode {
      @include flex-item(1, center, .05 0 auto);
      width: 5%;
      &:hover {
        cursor: pointer;
        color: black;
        .hover-menu {
          display: inline;
        }
      }
    }
    &.info-item {
      @include flex-item(2, center, .01 0 auto);
      width: 1%;
      text-align: left;
      overflow: visible;
    }
    &.name {
      @include flex-item(3, center, .23 0 auto);
      width: 23%;
      text-align: left;
    }
    &.last-viewed {
      @include flex-item(4, center, .08 0 auto);
      width: 8%;
    }
    &.submissions {
      @include flex-item(5, center, .08 0 auto);
      width: 8%;
    }
    &.selections {
      @include flex-item(6, center, .07 0 auto);
      width: 7%;
    }
    &.comments {
      @include flex-item(7, center, .07 0 auto);
      width: 7%;
    }
    &.responses {
      @include flex-item(8, center, .07 0 auto);
      width: 7%;
    }
    &.owner {
      @include flex-item(9, center, .08 0 auto);
      width: 8%;
    }
    &.editors {
      @include flex-item(10, center, .07 0 auto);
      width: 7%;
    }
    &.more {
      @include flex-item(11, center, .01 0 auto);
      width: 1%;
      text-align: left;
      overflow: visible;
    }
  }
  .item-section {
    font-size: 1em;
  }

  #layout-view {
    &.grid-view {
      .sort-bar {
        background-color: $background-body;
        max-width: 1000px;
        @include flex-container(auto, auto, row, wrap, center, center, center);
        .sort-bar-item {
          text-align: center;
          min-width: fit-content;
          margin: 0 10px;
          &.mode {
            @include flex-item(1, center, .07 0 auto);
            width: 7%;
          }
          &.name {
            @include flex-item(2, center, .15 0 auto);
            width: 15%;
          }
          &.last-viewed {
            @include flex-item(3, center, .10 0 auto);
            width: 10%;
          }
          &.submissions {
            @include flex-item(4, center, .10 0 auto);
            width: 10%;
          }
          &.selections {
            @include flex-item(5, center, .10 0 auto);
            width: 10%;
          }
          &.comments {
            @include flex-item(6, center, .10 0 auto);
            width: 10%;
          }
          &.responses {
            @include flex-item(7, center, .10 0 auto);
            width: 10%;
          }
          &.editors {
            @include flex-item(8, center, .10 0 auto);
            width: 10%;
          }
          &.info-item, &.owner, &.more {
            display: none;
          }
        }
      }
      #workspace-list {
        width: inherit;
        .main-list {
          @include flex-container(auto, auto, row, wrap, center, center, center);
        }
        .workspace-list-item {
          @include flex-item(1, auto, 1 1 auto);
          width: 600px;
          .item-card-container {
            margin: 5px;
            box-shadow: $box-shadow;
            border-radius: 5px;
            padding: 10px;
            display: block;
            @include flex-container(auto, hidden, column, wrap, space-between, stretch, stretch);
            &:hover {
              background-color: $list-hover-color;
            }
            .item-card {
              &.row-1 {
                @include flex-item(1, auto, 1 0 auto);
                padding: 15px 10px;
                .privacy {
                  text-align: left;
                  float: left;
                  .privacy-icon {
                    margin-right: 5px;
                    font-size: 1.2em;
                  }
                  .date {
                    margin-left: 10px;
                    position: relative;
                    top: -3px;
                  }
                }
                .more {
                  float: right;
                  font-size: 1em;
                  margin-top: 5px;
                  cursor: pointer;
                }
              }
              &.row-2 {
                @include flex-item(2, auto, 1 0 auto);
                padding: 20px 15px 15px 15px;
                a {
                  color: black;
                  &.active {
                    font-weight: $bolder-font-weight;
                    background-color: $background-body !important;
                  }
                }
                text-transform: capitalize;
                overflow-y: hidden;
              }
              &.row-3 {
                @include flex-item(3, auto, 1 0 auto);
                padding: 0px 15px 15px 15px;
                a {
                  &.active {
                    font-weight: $bolder-font-weight;
                    background-color: $background-body !important;
                  }
                }
              }
              &.row-4 {
                @include flex-item(4, auto, 1 0 auto);
                padding: 15px 10px 20px 10px;
                .workspace-stats {
                  text-align: center;
                  @include flex-container(auto, auto, row, wrap, space-between, stretch, stretch);
                  li {
                    @include flex-item(1, auto, 1 0 auto);
                    line-height: 2em;
                    min-width: 100px;
                    .stat-header {
                      color: black;
                    }
                    .stat-number {
                      font-weight: $light-font-weight;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}