@import "variables";
@import "mixins";
@import "responsive-font-size";



@media screen and (min-width: $screen-xs-min) and (max-width: 1200px) {
  #workspace-container {
    .comment-flex-item {
      &.filter {
        .filter-label {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: $screen-xs-min) and (max-width: 1099px) {
  #workspace-container {
    .submission-row-item  {
      &.students {
        width: 10em;
      }
      &.toggle-show {
        .showing-label {
          display: none;
        }
      }
    }
  }
}

#workspace-container {
  background-color: $filter-list-background-color;
  height: calc(100vh - 75px);

  .toggle-display {
    position: absolute;
    left: 0px;
    top: 100px;
    z-index: 205;
    display: unset;
    .hidden {
      display: none;
    }
    button {
      height: 50px;
      background-color: $filter-list-background-color;
      position: fixed;
      border: none;
      border-radius: 0 5px 5px 0;
      color: lighten($primary-font-color, 20%);
      &:focus {
        outline: none;
      }
    }
    &.comments {
      left: calc(100% - 23px);
    }
  }

  .ws-header {
    @include flex-container(null, null, row, wrap, flex-start, flex-start, center);
    position: relative;
    top: 20px;
    margin: 20px;
    border: 2px solid yellow;
    line-height: normal;
    background-color: $filter-list-background-color;

    h2 {
      display: inline-block;
      font-weight: 300;
      font-size: 1.5em;
    }

    .ws-meta {
      order: 1;
    }
    aside {
      order: 2;
      margin-left: auto;
    }

  }

  .workspace-flex-container {
    @include flex-container(null, null, row, wrap, center, flex-start, flex-start);
    width: 100%;

    .hidden {
      display: none;
    }

    &:first-child {
      margin-left: 20px;
    }

    .workspace-flex-item {
      background-color: white;
      box-shadow: $box-shadow;
      border-radius: 3px;
      margin: 20px;
      padding: 15px 17px;
      height: calc(100vh - 215px);

    }

    .workspace-flex-item.folders{
      @include flex-item(1, flex-start, 1 1 auto);
      background-color: darken($filter-list-background-color, 10);
      width: 17%;
      min-width: 230px;
    }
    .workspace-flex-item.submission{
      @include flex-item(2, flex-start, 4 1 auto);
      width: 40%;
      min-width: 447px;
      border: 2px solid red;

    }
    .workspace-flex-item.comments{
      @include flex-item(3, flex-start, 2 1 auto);
      width: 23%;
      min-width: 320px;
      border: 2px solid purple;

    }

    .submission-row {
      @include flex-container(null, null, row, wrap, flex-start, flex-start, center);

      &.nav {
        @include flex-item(1, flex-start, initial);
        @include flex-container(null, null, row, nowrap, flex-start, flex-start, center);
        width: 100%;
        border-bottom: 1px solid #d3d3d3;
      }

      &.selection-controls {
        @include flex-container(null, null, row, nowrap, space-around, flex-start, center);
        border-bottom: 1px solid #d3d3d3;
        background-color: white;
      }

      .submission-row-item {
        min-width: fit-content;
        margin: 0 10px;

        &.students-revisions {
          @include flex-item(1, center, auto);
        }

        &.students {
          @include flex-item(1, flex-start, initial);
          // margin-left: 0;
        }

        &.revisions {
          @include flex-item(2, flex-start, auto);
          display: inline-block;
        }

        &.arrows {
          @include flex-item(2, center, initial);

         a {
          background: none;
         }
          margin-left: auto;
        }

        &.selection-toggles {
          @include flex-item(1, center, initial);
          @include flex-container(null, null, row, nowrap, flex-start, flex-start, center)
        }
        &.problem-link {
          @include flex-item(2, center, auto);
          text-align: center;
          a {
            color: $accent-color;
          }
        }
        &.new-response {
          @include flex-item(3, center, 0 1 auto)
        }
      }
     }

  }

  #folder-list {
    @include flex-container(null, null, column, nowrap, flex-start, flex-start, flex-start);
    header {
      @include flex-item(1, flex-start, initial);
      text-indent: 10px;
      width: 100%;
    }
    h2 {
      display: inline-block;
      font-size: 1.4em;
    }

    &.hidden {
      display: none;
    }
    .dropTarget {
      @include flex-item(2, flex-start, auto);
      text-indent: 10px;
      background-color: $filter-list-background-color;
      height: calc(100% - 50px);
      width: 100%;
    }
    #al_folders_modify {
      position: relative;
    }

    .folderItem {
      // border-bottom:1px solid #d3d3d3;
      line-height: 50px;
    }

    .folder.draggable {
      @include flex-container(null, null, row, nowrap, flex-start, flex-start, flex-start);

      .toggle-icon {
        @include flex-item(1,flex-end, auto);
        align-self: center;
        i {
          font-size: x-large;
          margin-right: 15px;
        }
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      aside {
        @include flex-item(2,flex-end, initial);
        align-self: center;
        // margin-left: auto;
        margin-left: 5px;
        .show-folder {
          background: radial-gradient( 5px -9px, circle, white 8%, $pale-accent 26px );
          background-color: $pale-accent;
          border: 1px solid white;
          border-radius: 12px; /* one half of ( (border * 2) + height + padding ) */
          font: $main-font-weight 15px/13px $primary-font;
          color: $primary-font-color;
          font-size: 1em;
          height: 18px;
          min-width: 16px;
          padding: 4px 3px 0 3px;
          text-align: center;
          cursor: pointer;
          text-indent: 0;
          margin-right: 5px;
        }
      }
    }


    .folders-modify {
      @include flex-item(3, flex-start, initial);
      @include flex-container(null, null, row, nowrap, flex-start, flex-start, center);
      background: linear-gradient(#d3d3d3, #d3d3d3) no-repeat center/1px 100%;
      background-color: lighten($filter-list-background-color, 5);
      height: 50px;
      border-top:1px solid #d3d3d3;
      width: 100%;
      img {
        width: 25px;
        height: 25px;
        display: inline-block;
        margin-left: 5px;
      }
      .folders-modify-item {
        text-align: center;
        &.add {
          @include flex-item(1, center, auto);
        }

        &.edit {
          @include flex-item(2, center, auto);

  }
      }

    }


  }

  #submission-group {
    #workspace-submission-comp {
      height: calc(90% - 100px);


    }
    #al_submission {
      margin-bottom: 0;
      border: 2px solid yellow;
      height: calc(90% - 100px);
      overflow: auto;
    }
    #submission_selections {
      position: relative;
      // border: 2px solid purple;
      overflow-y: auto;
      height: 125px;
      bottom: 0px;
      margin-top: 15px;
      border-top:1px solid #d3d3d3;
    }
  }

}

#al_folders .subfolders { list-style-position: inside; margin-left:15px; }

@media screen and (min-width: $screen-xs-min) and (max-width: 460px) {
  #workspace-container {
    .workspace-flex-container {
      .workspace-flex-item.submission{
        min-width: 230px;
        max-width: 230px;
      }
    }
  }
}