@import "variables";
@import "mixins";
@import "responsive-font-size";

.create-new-workspace {
  margin: 20px;
  a {
    margin-left: 5px;
      &:hover {
        color: $accent-color;
      }
  }
  &:hover {
    color: $accent-color;
  }
}

#edit-name-input {
  min-width: 250px;
}


#workspace-info {
  header {
    padding: 15px 10px;
    background: #e3e3e3;
    span {
      display: inline-block;
    }
    h2 {
      display: inline-block;
      font-size: 1.2em;
      margin-top: 5px;
      margin-left: 10px;
    }
  }
}

.info {
  font-size: .8em;
  position: relative;
  top: 2px;
  left: 5px;
}