@import "variables";
@import "mixins";
@import "responsive-font-size";

#workspace-list-container{
  .sort-bar {
    .sort-bar-item {
      &.name {
        order: 2;
      }
      &.mode {
        padding-left: 15px;
        @include flex-item(1, center, .07 0 auto);
        width: 7%;
        &:hover {
          cursor: pointer;
          color: black;
          .hover-menu {
            display: inline;
          }
        }
      }
      &.last-viewed {
        @include flex-item(3, center, .07 0 auto);
        width: 7%;
        &:hover {
          cursor: pointer;
          color: black;
        }
      }
      &.submissions {
        @include flex-item(4, center, .07 0 auto);
        width: 7%;
      }
      &.owner {
        @include flex-item(5, center, .07 0 auto);
        width: 17%;
      }
      &.editors {
        @include flex-item(6, center, .07 0 auto);
        width: 7%;
      }
    }
  }

  .item-container {
    .item-section {
      &.mode {
        order: 1;
      }
      &.name {
        order: 2;
      }
      &.last-viewed {
        order: 3;
      }
      &.submissions {
        order: 4;
      }
      &.owner {
        order: 5;
      }
      &.editors{
        order: 6;
      }
    }
  }
}