@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

#answer-info {
  .info-detail {
    display: flex;
    align-items: center;

    &.brief-summary,
    &.explanation {
      ul {
        list-style-type: disc;
        list-style-position: inside;
      }
      ol {
        list-style-type: decimal;
        list-style-position: inside;
      }
      ul ul,
      ol ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 15px;
      }
      ol ol,
      ul ol {
        list-style-type: lower-latin;
        list-style-position: inside;
        margin-left: 15px;
      }
    }
  }
  i {
    padding: 5px;
  }
  .info-header {
    text-align: center;
  }
  .list-header {
    border-bottom: 1px solid;
  }
  label {
    width: 65%;
    font-size: 1em;
    padding: 12px 20px;
    color: $dark-font-color;
  }
}

#answer-new {
  #answernewheader {
    h2 {
      font-weight: 700;
      text-decoration: underline;
      color: darkcyan;
      text-align: center;
      margin-top: 1em;
    }
  }
  @media only screen and (max-width: 1182px) {
    textarea {
      width: 100%;
    }
  }
  .new-answer-input {
    display: flex;
    flex-direction: column;
  }
  .contributors {
    .student-list {
      font-style: italic;
    }
  }
  .properForm {
    width: 100%;
  }
  h2 {
    font-family: 'Roboto", sans-serif';
  }
  .brief-summary,
  .explanation,
  .contributors {
    margin-top: 0.5em;
    label {
      font-weight: 600;
    }
  }
  textarea {
    margin-top: 1em;
  }
  .quill-container {
    background-color: rgb(255, 252, 252);
    margin-top: 1em;
  }
}
