//general
@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

.success-message {
  @include success-message;
  margin: 20px 0 20px 0;
}
// Assignment Details
.info-header {
  border-radius: 0.5em;
  text-align: center;
  position: relative;
  padding: 0.5em;
  text-decoration: underline;
  margin-top: 1.2em;
  color: $accent-color;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
}
#assignment-info-teacher {
  padding: 1em;
  border: 1px solid rgb(121, 121, 144);
  border-radius: 0.5em;
  margin-left: 1em;
  background-color: aliceblue;
}
// Name of assignment
.assignment-header-container {
  display: flex;
  justify-content: space-evenly;
  font-weight: 600;
  span {
    color: blue;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
// Details of assignment
.assignment-details-container {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border: 2px solid red;
}
// Assigned, Due
.assigned-date {
  margin-top: 1em;
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
}
.due-date {
  margin-top: 1em;
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
}
// Class (section), Assignment (Problem)
.section-details {
  margin-top: 1em;
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
  span {
    color: blue;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
// Linked, Parent Workspace
.workspace-details {
  margin-top: 1em;
  .labelP {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
  .ws-name {
    font-family: 'Quicksand', sans-serif;
    color: blue;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
  .linked-ws {
    margin-top: 0.5em;
    display: flex;
    span {
      border: 1px solid black;
    }
  }
  .p-ws-name {
    color: blue;
    font-family: 'Quicksand', sans-serif;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
// Submissions table
.submissions {
  margin-top: 1em;
  .labelP {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
}
.edit-assignment-button {
  background: white;
  border-radius: 0.2em;
  letter-spacing: 0.2px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  margin-top: 2em;
  transition: all 0.2s ease-in-out;
  background-color: rgb(255, 229, 162);
  color: black;
  box-shadow: 3px 2px 2px rgb(101, 100, 100);
  &:hover {
    cursor: pointer;
    background-color: rgb(255, 183, 0);
    color: black;
    box-shadow: none;
  }
}
.header #assignment-info-student {
  section.assignment-info-student {
    margin-bottom: 15px;

    div.info-detail {
      display: flex;
      margin-top: 8px;
    }

    p {
      font-size: 1em;
      width: 70%;
      margin: 8px 0;
      display: inline-block;
    }

    label {
      width: 20%;
      font-size: 1em;
      color: $dark-font-color;
      margin-top: 8px;
      margin-left: 8px;
    }

    .action_button {
      padding: 12px 20px;
    }

    button.action_button {
      margin: 8px 15px 8px 5px;
      padding: 10px 15px;
      font-size: 0.8em;
      border-radius: 3px;
      font-weight: $bold-font-weight;
    }
  }

  .info-msg-container {
    margin-bottom: 8px;

    p.info {
      font-size: 0.9em;
    }
  }

  .info-none {
    margin-top: 16px;
  }

  div.past-submissions {
    display: flex;
    width: 100%;
    margin-bottom: 50px;

    section.past-submissions-list {
      width: 20%;
      display: inline-block;

      p {
        font-size: 0.8em;
        padding: 5px;
        margin: 8px 0px;
      }

      ol {
        li {
          padding: 6px 0 6px 10px;
          font-size: 0.8em;
          cursor: pointer;

          &.highlight {
            font-weight: $bold-font-weight;
            background-color: lighten($background-color, 5%);
          }
        }
      }
    }

    section.past-answer-view {
      width: 70%;
      display: inline-block;
    }

    div#answer-info {
      label {
        font-size: 1em;
      }

      border-left: 1px solid;
    }
  }
}

#assignment-report {
  h2 {
    margin-bottom: 10px;
  }

  .info-summary {
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
  }

  table {
    margin-left: 5px;

    th {
      background: $pale-accent;
    }

    td {
      background: lighten($pale-accent, 10%);
      border: 1px solid $pale-accent;
    }
  }
}
