//general
@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

.success-message {
  @include success-message;
  margin: 20px 0 20px 0;
}
// Assignment Details
.info-header {
  border-radius: 0.5em;
  text-align: center;
  position: relative;
  padding: 0.5em;
  text-decoration: underline;
  margin-top: 1.2em;
  color: $accent-color;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Quicksand', sans-serif;
}
#assignment-info-teacher,
#assignment-info-student {
  padding: 1em;
  border: 1px solid rgb(121, 121, 144);
  border-radius: 0.5em;
  margin-left: 1em;
  background-color: aliceblue;
}
#assignment-info-student {
  .info-detail {
    margin-bottom: 1em;
    p {
      font-family: 'Quicksand', sans-serif;
      font-weight: 700;
      color: rgb(0, 55, 128);
    }
    a {
      color: blue;
      font-weight: 600;
      &:hover {
        text-decoration: underline;
        font-weight: 800;
      }
    }
  }
}
// Name of assignment
.assignment-header-container {
  font-weight: 800;
  .assignment-name {
    margin-bottom: 2em;
  }
  span {
    color: blue;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
  input {
    margin-bottom: 1em;
    margin-left: 1em;
    width: 80%;
    padding: 0.5em;
  }
}

// Assigned, Due
.assigned-date {
  margin-top: 1em;
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
}
.due-date {
  margin-top: 1em;
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
}
// Class (section), Assignment (Problem)
.section-details {
  margin-top: 1em;
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
  span {
    color: blue;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
// Linked, Parent Workspace
.workspace-details {
  margin-top: 1em;
  .labelP {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
  .ws-name {
    font-family: 'Quicksand', sans-serif;
    color: blue;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
  .linked-ws {
    margin-top: 0.5em;
    display: flex;
    span {
      border: 1px solid black;
    }
  }
  .linked-ws-error-msg {
    color: rgb(16, 67, 79);
    font-family: 'Quicksand', sans-serif;
    border: 3px solid rgb(16, 67, 79);
    border-radius: 0.5em;
    padding: 0.7em;
    width: 50%;
    text-align: center;
    margin-top: 1em;
    margin-left: 0.5em;
  }
  .p-ws-name {
    color: blue;
    font-family: 'Quicksand', sans-serif;
    &:hover {
      font-weight: 700;
      text-decoration: underline;
    }
  }
}
// Submissions table
.submissions {
  margin-top: 1em;
  .labelP {
    font-family: 'Quicksand', sans-serif;
    font-weight: 800;
  }
}
.edit-assignment-button,
.add-parent-workspace-btn,
.add-linkedworkspaces-btn,
.cancelEditBtn,
.save-assign-btn {
  background: white;
  border-radius: 0.2em;
  letter-spacing: 0.2px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 1em;
  margin-top: 2em;
  transition: all 0.1s ease-in-out;
  background-color: rgb(255, 229, 162);
  color: black;
  box-shadow: 3px 2px 2px rgb(101, 100, 100);
  &:hover {
    cursor: pointer;
    background-color: rgb(255, 183, 0);
    color: black;
    box-shadow: none;
  }
}
.add-parent-workspace-btn,
.add-linkedworkspaces-btn {
  background-color: rgb(192, 185, 245);
  color: black;
  margin-top: 1em;
  &:hover {
    background-color: rgb(128, 37, 232);
    color: white;
    font-weight: 500;
  }
}
.save-assign-btn {
  background-color: rgb(84, 154, 239);
  &:hover {
    background-color: rgb(139, 191, 255);
    color: black;
  }
}
.cancelEditBtn {
  background-color: rgb(194, 40, 40);
  color: black;
  &:hover {
    background-color: rgb(255, 0, 0);
  }
}
// Students
#assignment-report {
  h2 {
    margin-bottom: 10px;
  }

  .info-summary {
    margin-bottom: 10px;
    font-family: 'Quicksand', sans-serif;
  }

  table {
    margin-left: 5px;

    th {
      background: $pale-accent;
    }

    td {
      background: lighten($pale-accent, 10%);
      border: 1px solid $pale-accent;
    }
  }
}
