@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

// Header for "Enter assignment information below"
#assignmentnewheader {
  border-radius: 0.5em;
  text-align: center;
  position: relative;
  border: 0.5px solid rgb(150, 179, 209);
  border-radius: 0.5em;
  background-color: rgb(215, 229, 245);
  padding: 1em;
  font-size: 0.9em;
  margin-top: 1.2em;
  margin-bottom: 1em;
  color: $accent-color;
  font-weight: bold;
  font-size: 1.5em;
  h2 {
    font-family: 'Quicksand', sans-serif;
  }
}
// form containing class, problem, etc for new assignment
.formContainer {
  margin: auto;
  padding: 0.5em;
  border: none;
  span {
    font-size: 1.1em;
    font-weight: 800;
    margin-bottom: 0.5em;
  }
  .assignmentInput {
    width: 80%;
    padding: 0.8em;
  }
  // Date assigned and due date
  .assignmentsDateContainer {
    display: flex;
    .dueDate {
      margin-left: 3em;
    }
  }
  // Create student workspaces, parent workspaces, etc.
  .linked-ws {
    margin-top: 1em;
    .group-selection,
    .choice-selection {
      background-color: rgb(239, 246, 250);
      border-radius: 0.2em;
    }
    .info-flex-item {
      background-color: rgb(239, 246, 250);
      padding: 0.5em;
      margin-bottom: 1em;
      p {
        font-family: 'Quicksand', sans-serif;
        font-weight: 800;
      }
    }
    .single-text-input {
      width: 80%;
    }
  }
  .parent-ws {
    background-color: rgb(239, 246, 250);
    padding: 0.5em;
    margin-bottom: 1em;
  }
}
.button-row {
  .createAssignment,
  .cancelAssignment {
    background: white;
    border-radius: 0.2em;
    letter-spacing: 0.2px;
    padding: 0.5em;
    cursor: pointer;
    font-size: 1em;
    margin-top: 2em;
    transition: all 0.2s ease-in-out;
    background-color: rgb(100, 105, 63);
    color: white;
    box-shadow: 3px 2px 2px rgb(101, 100, 100);
    &:hover {
      cursor: pointer;
      background-color: rgb(136, 203, 107);
      color: black;
      box-shadow: none;
    }
  }
  .cancelAssignment {
    background-color: rgb(126, 24, 24);
    &:hover {
      background-color: rgb(255, 0, 0);
      color: black;
    }
  }
}
