@import "variables";
@import "mixins";
@import "responsive-font-size";

#categories {
  .cd-accordion-menu {
    width: 100%;
    background: darken($filter-list-background-color, 2%);
    margin: 0em auto;
    box-shadow: $box-shadow;
    text-align: left;
  }

  .cd-accordion-menu ul {
    /* by default hide all sub menus */
    padding: 0;
    display: none;
  }

  .cd-accordion-menu ul li {
    padding: 0;
  }

  .cd-accordion-menu ul li .item{
    padding: 10px;
  }

  .cd-accordion-menu a {
    color: $accent-color;
  }

  span {
    font-weight: $bolder-font-weight;
  }

  button {
    color: $primary-font-color;
    border: none;
    font-size: 1.3em;
    font-weight: $bold-font-weight;
    color: black;
    cursor: pointer;
    background: none;
  }

  .cd-accordion-menu li {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: left;
  }

  .cd-accordion-menu input[type=checkbox] {
    /* hide native checkbox */
    position: absolute;
    opacity: 0;
  }

  .cd-accordion-menu
    .menu-label {
      position: relative;
      display: block;
      cursor: pointer;
      width: inherit;
      padding: 10px 10px 10px 40px;
      background: darken($filter-list-background-color, 2%);
      box-shadow: inset 0 -1px darken($filter-list-background-color, 10%);
      color: $primary-font-color;
      font-size: 1em;
    }
    .menu-label-2 {
      position: relative;
      display: block;
      cursor: pointer;
      width: inherit;
      padding: 10px 10px 10px 20px;
      background: $filter-list-background-color;
      color: $primary-font-color;
      font-size: 1em;
    }
    .item {
      position: relative;
      display: block;
      cursor: pointer;
      padding: 10px 10px 10px 20px;
      background: darken($filter-list-background-color, 2%);
      box-shadow: inset 0 -1px darken($filter-list-background-color, 10%);
      color: $primary-font-color;
      font-size: 1em;
    }
    .top-level {
      color: $primary-font-color;
      background: $filter-list-background-color;
      font-size: 1em;
      span {
        padding: 18px 10px 18px 40px;
      }
    }


  .no-touch .cd-accordion-menu .menu-label:hover,
  .no-touch .cd-accordion-menu .item:hover {
    background: $filter-list-background-color;
  }

  .cd-accordion-menu .menu-label::before,
  .cd-accordion-menu .menu-label::after,
  .cd-accordion-menu .item::after {
    /* icons */
    content: '';
    display: inline-block;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .cd-accordion-menu .menu-label {
    cursor: pointer;
  }

  .cd-accordion-menu .menu-label::before,
  .cd-accordion-menu .menu-label::after {
    background-image: url(../assets/images/cd-icons.svg);
    background-repeat: no-repeat;
  }

  .cd-accordion-menu .menu-label::before {
    /* arrow icon */
    left: 18px;
    background-position: 0 0;
    -webkit-transform: translateY(-50%) rotate(-90deg);
    -moz-transform: translateY(-50%) rotate(-90deg);
    -ms-transform: translateY(-50%) rotate(-90deg);
    -o-transform: translateY(-50%) rotate(-90deg);
    transform: translateY(-50%) rotate(-90deg);
  }

  .cd-accordion-menu .menu-label::after {
    /* folder icons */
    display: none;
    left: 41px;
    background-position: -16px 0;
  }

  .cd-accordion-menu .item::after {
    /* image icon */
    display: none;
    left: 36px;
  }

  .cd-accordion-menu input[type=checkbox]:checked+.menu-label::before {
    /* rotate arrow */
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .cd-accordion-menu input[type=checkbox]:checked+.menu-label::after {
    /* show open folder icon if item is checked */
    background-position: -32px 0;
  }

  .cd-accordion-menu input[type=checkbox]:checked+.menu-label+ul,
  .cd-accordion-menu input[type=checkbox]:checked+.menu-label:nth-of-type(n)+ul {
    /* use .menu-label:nth-of-type(n) to fix a bug on safari (<= 8.0.8) with multiple adjacent-sibling selectors*/
    /* show children when item is checked */
    display: block;
  }

  .cd-accordion-menu ul .menu-label,
  .cd-accordion-menu ul .item {
    background: $filter-list-background-color;
    box-shadow: inset 0 -1px darken($filter-list-background-color, 2%);
    padding-left: 60px;
  }

  .no-touch .cd-accordion-menu ul .menu-label:hover,
  .no-touch .cd-accordion-menu ul .item:hover {
    background: $filter-list-background-color;
  }

  .cd-accordion-menu>li:last-of-type>.menu-label,
  .cd-accordion-menu>li:last-of-type>.item,
  .cd-accordion-menu>li>ul>li:last-of-type .menu-label,
  .cd-accordion-menu>li>ul>li:last-of-type .item {
    box-shadow: none;
  }

  .cd-accordion-menu ul .menu-label::before {
    left: 36px;
  }

  .cd-accordion-menu ul .menu-label::after,
  .cd-accordion-menu ul .item::after {
    left: 59px;
  }

  .cd-accordion-menu ul ul .menu-label,
  .cd-accordion-menu ul ul .item {
    padding-left: 80px;
  }

  .cd-accordion-menu ul ul .menu-label::before {
    left: 54px;
  }

  .cd-accordion-menu ul ul .menu-label::after,
  .cd-accordion-menu ul ul .item::after {
    left: 77px;
  }

  .cd-accordion-menu ul ul ul .menu-label,
  .cd-accordion-menu ul ul ul .item {
    padding-left: 95px;
  }

  .cd-accordion-menu ul ul ul .menu-label::before {
    left: 72px;
  }

  .cd-accordion-menu ul ul ul .menu-label::after,
  .cd-accordion-menu ul ul ul .item::after {
    left: 95px;
  }

  .cd-accordion-menu ul ul ul ul .menu-label,
  .cd-accordion-menu ul ul ul ul .item {
    padding-left: 110px;
  }

  // @media only screen and (min-width: 600px) {

  //   .cd-accordion-menu .menu-label,
  //   .cd-accordion-menu a {
  //     padding: 24px 24px 24px 82px;
  //     font-size: 1em;
  //   }

  //   .cd-accordion-menu label::before {
  //     left: 24px;
  //   }

  //   .cd-accordion-menu label::after {
  //     left: 53px;
  //   }

  //   .cd-accordion-menu ul label,
  //   .cd-accordion-menu ul a {
  //     padding-left: 106px;
  //   }

  //   .cd-accordion-menu ul label::before {
  //     left: 48px;
  //   }

  //   .cd-accordion-menu ul label::after,
  //   .cd-accordion-menu ul a::after {
  //     left: 77px;
  //   }

  //   .cd-accordion-menu ul ul label,
  //   .cd-accordion-menu ul ul a {
  //     padding-left: 130px;
  //   }

  //   .cd-accordion-menu ul ul label::before {
  //     left: 72px;
  //   }

  //   .cd-accordion-menu ul ul label::after,
  //   .cd-accordion-menu ul ul a::after {
  //     left: 101px;
  //   }

  //   .cd-accordion-menu ul ul ul label,
  //   .cd-accordion-menu ul ul ul a {
  //     padding-left: 154px;
  //   }

  //   .cd-accordion-menu ul ul ul label::before {
  //     left: 96px;
  //   }

  //   .cd-accordion-menu ul ul ul label::after,
  //   .cd-accordion-menu ul ul ul a::after {
  //     left: 125px;
  //   }
  // }

  // .cd-accordion-menu.animated label::before {
  //   /* this class is used if you're using jquery to animate the accordion */
  //   -webkit-transition: -webkit-transform 0.3s;
  //   -moz-transition: -moz-transform 0.3s;
  //   transition: transform 0.3s;
  // }
}


