//general
@import "variables";
@import "mixins";
@import "responsive-font-size";

td,
    th {
      border: 1px solid grey;
    }

.assignments-list {
  table {
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;

    td,
    th {
      padding: 8px;
      border: 1px solid grey;
    }

    th {
      background: $pale-accent;
    }

    td {
      padding: 2px;
      background: lighten($pale-accent, 10%);
      border: 1px solid $pale-accent;
    }
  }
}

table td {
  /* Apply cell padding */
  padding: 5px;

  .link:hover {
    background: #e7e7e7;
    opacity: 1;
    filter: alpha(opacity=100);
    font-weight: 500;
  }
}

#ws-table {
  color: white;
  background-color: $accent-color;

  th {
    width: 14%;
  }
  .inner {
    width: 20%;
  }
}

.dash-workspaces {
  width: 100%;
  overflow: auto;

  td {
    width: 14%;
  }
  .inner {
    width: 20%;
  }
}

.inner-header {
  width: 20%;
}

.table-header {
  width: 100%;
  overflow: auto;
}

.table-w {
  width: 100%;
  border: 0;
}

.table-inner {
  width: 100%;
}
