@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

.home-view {
  margin-top:10em;
  border-radius:.5em;
  text-align: center;
  position: relative;
  border:.5px solid rgb(150, 179, 209);
  border-radius: .5em;
  background-color: rgb(215, 229, 245);
  padding: 7em;
  font-size: .9em;
  h1 {
    text-align: center;
    font-size: 2em;
    color: $accent-color;
    font-family: 'Quicksand', sans-serif;
    i{
      cursor:auto;
      font-size: .7em;
    }
  }
  p {
    margin-top:1em;
    text-align: center;
    font-size: 1.4em;
    font-family: 'Quicksand', sans-serif;
    margin-bottom: 2em;
  }
  .new-link-btn {
    background: white;
    border-radius: 0.2em;
    letter-spacing: 0.2px;
    padding: .5em;
    cursor: pointer;
    font-size: 1.5em;
    margin-top: 2em;
    transition: all 0.2s ease-in-out;
    background-color: rgb(88, 137, 165);
    color: white;
    box-shadow: 3px 2px 2px rgb(101, 100, 100);
    &:hover {
      cursor: pointer;
      background-color: aquamarine;
      color: black;
      box-shadow: none;
    }
  }
}
@media screen and (min-width: 200px) and (max-width: 845px) {
  .home-view{
    padding:4em;
    h1{
      font-size: 1.5em;
    }
    p{
      font-size: 1em;
    }
    .new-link-btn {
      font-size: .8em;
      width:100%;
    }
  }
}