@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

h1 {
  color: $accent-color;
}

.index {
  display: flex;
  flex-direction: column;
  height: 90%;
}
.home-options {
  font-weight: 500;
  width: 100%;
  &__tabs {
    text-align: center;
    margin-bottom: 2em;
    display: flex;
    justify-content: space-evenly;
  }
  &__tab {
    background: white;
    justify-content: space-around;
    border-radius: 0.2em;
    border: solid 0.5px;
    letter-spacing: 0.2px;
    padding: 0.5em;
    cursor: pointer;
    font-size: 16px;
    margin-top: 1em;
    transition: all 0.2s ease-in-out;
    position: relative;
    z-index: 1;
    span,
    img {
      position: relative;
      z-index: 2;
    }
    // can't directly transition linear-gradient
  }
  &__tab :hover {
    // shadow behijnd?
    color: rgb(236, 48, 34);
  }
  &__details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: auto;
    select {
      margin-left: 5px;
      border: none;
      border-bottom: 1px solid black;
      cursor: pointer;
    }
  }
  &--active {
    border-color: rgb(76, 0, 255);
    background-color: rgb(229, 229, 243);
    color: rgb(60, 63, 236);
  }
  &--button {
    border: none;
    background: transparent;
    cursor: pointer;
  }
  .details-tabs {
    display: flex;
    position: relative;
    &:after {
      position: absolute;
      content: '';
      width: 150%;
      bottom: 0;
      left: 0;
      border-bottom: 1px solid #aaa;
      z-index: 1;
    }
    &__tab {
      button {
        background-color: white;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #aaa;
        border-bottom: none;
        box-shadow: 0 0 0 0 transparent;
        z-index: 0;
        transition: box-shadow 0.075s ease-in-out, background-color 0.05s linear,
          z-index 0.1s linear;
        &:hover {
          background-color: $pale-accent;
        }
      }
    }
    &--active {
      button {
        position: relative;
        z-index: 2;
        box-shadow: 0px -3px 2px 1px #ccc;
      }
    }
  }
}

.grid-home {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(349px, 1fr));
  padding: 25px 0px;
}

.grid-card {
  border: 1px solid #cfcfcf;
  border-radius: 15px;
  box-shadow: unset;
  transition: box-shadow 0.2s ease-in-out;
  &__title {
    background-color: $accent-color;
    border-bottom: 1px solid #cfcfcf;
    border-radius: 15px 15px 0 0;
    padding: 10px;
  }
  &__info {
    padding: 10px;
    line-height: 25px;
  }
  &--light {
    color: white;
    &:hover {
      text-decoration: underline;
    }
  }
  &:hover {
    box-shadow: $box-shadow;
  }
}

.home--container {
  width: 80%;
  height: min-content;
  margin: 25px auto;
  overflow: hidden;
  text-align: center;
  .ember-table {
    td,
    th {
      width: 100%;
      padding: 1em;
      border-right: none;
      font-size: 1em;
      background-color: rgb(236, 242, 246);
    }
    th {
      background: rgb(207, 210, 219);
      color: rgb(68, 113, 228);
      letter-spacing: 0.5px;
    }
  }
  h1 {
    cursor: pointer;
    white-space: nowrap;
    width: max-content;
    margin: 0 auto;
    padding: 5px;
    border-radius: 5px;
    background: transparent;
    transition: background 0.1s ease;
    &:hover {
      background: $pale-accent;
    }
    &:after {
      display: inline-block;
      margin-left: 10px;
      font-family: 'Font Awesome 5 Free';
      font-size: 16px;
      content: '\f150';
    }
  }
  &.closed h1:after {
    transform: rotate(-90deg);
  }
}
