@import "variables";
@import "mixins";
@import "responsive-font-size";

#image-upload {
  width: 100%;
  margin: 20px 0;
  input[type=submit] {
    border: none;
    font-size: .8em;
    color: white;
    background-color: $accent-color;
    padding: 8px 18px;
    display: block;
    text-align: center;
    border-radius: 3px;
    margin-top: 20px;
  }
  input[type=file] {
    font-size: 1em;
  }
  .loading-message {
    font-weight: $light-font-weight;
    margin: 20px 0;
  }
  .upload-results {
    font-weight: $light-font-weight;
    margin: 20px 0 10px 0;
    color: $success-color;
  }
}