#landing-image-div {
  background-image: url('../assets/images/encompass-team.webp');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
}
#landingTitleDiv {
  display: flex;
  justify-content: space-around;
  height: 20em;
  box-shadow: 1px;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: rgb(249, 244, 244);

  h1,
  p {
    font-family: $primary-font;
    font-weight: 800;
  }
  p {
    font-size: 3em;
    color: rgb(46, 62, 101);
  }
}
#msg-landing-container {
  margin-top: 3em;
  h1 {
    font-family: $primary-font;
    font-weight: 700;
    font-size: 1.7em;
    color: rgba(48, 48, 48, 0.856);
    width: 75%;
    margin: auto;
  }
  p {
    font-family: $primary-font;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2em;
    font-weight: 600;
  }
}
#btns-landing-page {
  display: flex;
  justify-content: space-around;
  margin-top: 3em;
  padding: 2em;
  span {
    background-color: rgb(255, 255, 255);
    border-radius: 1em;
    border: 2px solid rgb(92, 146, 255);
    transition: all 0.2s;
    font-size: 1em;
    padding: 1em 2em;
    font-weight: 600;
    color: rgb(29, 113, 239);
    cursor: pointer;
    &:hover {
      background-color: rgb(93, 184, 245);
      color: white;
    }
  }
}
#image-landing-page {
  img {
    display: block;

    max-height: 500px;
    width: 800px;

    object-fit: cover;
  }
  div {
    display: flex;
    margin-top: 1em;
    padding: 1em;
    text-align: left;
  }
  .image-info {
    h1 {
      text-align: center;
    }
  }
}
// responsive
@media only screen and (max-width: 852px) {
  #landingTitleDiv {
    flex-direction: column;
    font-size: 0.5em;
    height: 50vh;
  }
  #landing-image-div {
    background-size: contain;
    height: 10em;
  }
  #msg-landing-container {
    font-size: 0.8em;
    h1 {
      text-align: left;
      font-size: 1.5em;
    }
    p {
      width: 100%;
      padding: 1em;
    }
  }
  #image-landing-page {
    img {
      width: auto;
    }
    div {
      flex-direction: column;
      #feedbackImg {
        order: 2;
      }
      #image-info {
        order: 1;
      }
    }
  }
}
.footer {
  display: flex;
  margin-top: auto;
  font-size: 0.7em;
  bottom: 0;
  width: 100%;
  background-color: rgb(244, 245, 249);
  color: rgb(0, 0, 0);
  text-align: center;

  box-sizing: border-box;
  margin-top: auto;
  .footerNote {
    text-align: center;
    margin: auto;
  }
  img {
    height: 50px;
    width: 50px;
    margin-left: 2em;
  }
  p {
    font-family: 'Quicksand', sans-serif;
  }
}
#questions-footer {
  font-size: 0.5em;
  a {
    color: rgb(31, 31, 236);
    text-decoration: underline;
    &:hover {
      color: rgb(102, 55, 242);
    }
  }
}
