.metrics__container {
  width: 90%;
  margin: 30px auto;
  height: 70%;
}

.metrics__table {
  border: 1px solid black;
  td,
  th {
    border: 1px solid black;
  }
  ul {
    list-style: unset;
    list-style-position: inside;
  }
}

.metrics__card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
}

.metrics__list-item {
  margin: 10px 0;
}

.metrics__link:hover {
  text-decoration: underline;
}

.metrics--flex {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.metrics--expandable {
  cursor: pointer;
}
