@import "variables";
@import "mixins";
@import "responsive-font-size";

#pagination-control{
  margin: 0;
  margin-top: 20px;
  width: 100%;
  font-weight: $light-font-weight;
  .flex {
    display: flex;
    align-items: center;
  }
  i {
    font-size: 1em;
    cursor: pointer;
    margin: 0 10px;
    padding: 3px;
  }
  .nav-arrows {
    display: flex;
    align-items: center;
    min-width: 120px;
    .page-status {
      margin: 0 3px;
    }
  }
  .nav-goto {
    margin-left: 10px;
    padding: 2px;
    input {
      width: 10%;
      width: 35px;
      line-height: 1.2em;
      font-size: .8em;
      text-align: center;
      border-radius: 5px;
      background-color: white;
      border: 1px solid $input-border;
    }

  }
}