@import "variables";
@import "mixins";
@import "responsive-font-size";

@media screen and (min-width: $screen-xs-min) and (max-width: 1100px) {
  #problem-list-container, #workspace-list-container {
    .list-outlet {
      width: 80%;
    }
  }
}

@media screen and (min-width: 1101px) and (max-width: 100000px) {
  #problem-list-container, #workspace-list-container {
    .list-outlet {
      width: 50%;
    }
  }
}

@media screen and (min-width: 1101px) and (max-width: 100000px) {
  #problem-list-container, #workspace-list-container {
    .list-outlet {
      width: 50%;
    }
  }
}

@media screen and (min-width: $screen-xs-min) and (max-width: 900px) {
  #category-list-modal {
    .modal-content {
      width: 60%;
      margin: 1% auto;
    }
  }
}

@media screen and (min-width: 901px) and (max-width: 100000px) {
  #category-list-modal {
    .modal-content {
      width: 60%;
      margin: 5% auto;
    }
  }
}

#problem-list-container, #workspace-list-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  .list-outlet {
    box-shadow: $box-shadow;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background: $background-body;
    overflow: auto;
    max-width: 700px;
    &.hidden {
      display: none;
    }
  }
}

#problem-info {
  height: 98%;
  #assignment-new {
    margin-top: 150px;
    margin-bottom: 50px;
  }

  .statement {
    ul {
      list-style-type: disc;
      list-style-position: inside;
   }
   ol {
      list-style-type: decimal;
      list-style-position: inside;
   }
   ul ul, ol ul {
      list-style-type: circle;
      list-style-position: inside;
      margin-left: 15px;
   }
   ol ol, ul ol {
      list-style-type: lower-latin;
      list-style-position: inside;
      margin-left: 15px;
   }
  }
}

#copyright {
  text-indent: 15px;
}

#copyright-container {
  position: relative;
  width: 100%;
}

#icon {
  position: absolute;
  left: 15px;
  top: 5px;
}

// #problem-filter {
#category-list-modal {
  z-index: 9998;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
  .modal-content {
    background-color: $background-body;
    position: relative;
    z-index: 9999;
    border-radius: 5px;
    padding: 40px;
    // width: 50%;
    // margin: 5% auto;
    h4 {
      font-size: 1.5em;
      font-weight: $main-font-weight;
      margin-bottom: 30px;
    }
    .close {
      color: $primary-font-color;
      margin-top: -60px;
      margin-right: -10px;
      float: right;
      border: none;
      background: none;
      font-size: 1.2em;
    }
  }
}
// }


// #problem-info {
//   margin-top: 80px;
//   padding: 10px;
//   .info-header {
//     border: none;
//   }
//   .problem-details {
//     fieldset {
//       border: none;
//     }
//     #probleminfoform {
//       textarea, input[type=text], select {
//         font-size: 1em;
//         color: $primary-font-color;
//         width: 50%;
//         max-width: 600px;
//         padding: 12px 20px;
//         margin: 8px 0px;
//         display: inline-block;
//         border: 1px solid transparent;
//         border-radius: 4px;
//         box-sizing: border-box;
//         background: none;
//         &::placeholder {
//           color: $primary-font-color;
//         }
//       }
//       li.privacy-settings {
//         display: flex;
//         align-items: center;
//       }
//       .quill-container {
//         width: 50%;
//         min-width: 150px;
//         max-width: 600px;
//         display: inline-block;
//         section#editor {
//           width: 100%;
//           display: inline-block;
//           min-height: 100px;
//           .ql-editor {
//             width: 100%;
//             display: inline-block;
//           }
//         }
//       }
//       .form-label {
//         width: 20%;
//         font-size: 1em;
//         padding: 12px 20px;
//         color: black;
//         margin: 8px 0px;
//       }
//       a {
//         color: $accent-color;
//       }
//       .radio-label {
//         padding: 0px 5px;
//         width: 200px;
//         padding: 12px 3px;
//         margin: 8px 0;
//         font-size: 1em;
//       }
//       .button-row-list {
//         width: 70%;
//         padding: 0;
//         margin: 0;
//         font-size: 1em;
//         display: inline-block;
//         box-sizing: border-box;
//         margin-left: 25%;
//         button {
//           font-size: .8em;
//           padding: 5px 15px;
//           background-color: none;
//           border-radius: 3px;
//           border-color: $input-border;
//         }
//       }
//       .button-row {
//         width: 70%;
//         padding: 0;
//         margin: 20px 0;
//         font-size: 1em;
//         display: inline-block;
//         box-sizing: border-box;
//         button {
//           font-size: .8em;
//           padding: 5px 15px;
//           background-color: none;
//           border-radius: 3px;
//           border-color: $input-border;
//         }
//       }
//       input[type=radio] {
//         padding: 12px 20px;
//         margin: 24px 2px;
//       }
//       .edit-image-btn {
//         margin-bottom: 15px;
//         padding: 5px 15px;
//         font-size: .8em;
//         background-color: none;
//         border-radius: 3px;
//         border: .5px solid $primary-font-color;
//         color: $primary-font-color;
//       }
//       .right {
//         float: right;
//         font-size: 1.5em;
//         color: $primary-font-color;
//         border: none;
//         &:hover {
//           color: lighten($primary-font-color, 10);
//         }
//       }
//       .problem-info {
//         font-size: 1em;
//         width: 70%;
//         padding: 12px 20px;
//         margin: 8px 0;
//         display: inline-block;
//         border: none;
//         border-radius: 4px;
//         box-sizing: border-box;
//         background: none;
//         &::placeholder {
//           color: $primary-font-color;
//         }
//       }
//     }
//     #probleminfo {
//       .problem-info {
//         font-size: 1em;
//         width: 70%;
//         padding: 12px 20px;
//         margin: 8px 0;
//         display: inline-block;
//         border: none;
//         border-radius: 4px;
//         box-sizing: border-box;
//         background: none;
//         &::placeholder {
//           color: $primary-font-color;
//         }
//       }
//       .form-label {
//         width: 20%;
//         margin: 8px 0;
//         font-size: 1em;
//         padding: 12px 20px;
//         color: black;
//       }
//       .action_button {
//         padding: 12px 20px;
//       }
//     }
//     button.action_button {
//       margin: 8px 15px 8px 5px;
//       padding: 10px 15px;
//       font-size: .8em;
//       border-radius: 3px;
//       font-weight: $bold-font-weight;
//     }
//   }

//   #probleminfo {
//     a {
//       color: $accent-color;
//     }
//     .additional_image {
//       img {
//         width: 40%;
//         position: relative;
//         z-index: 999;
//       }
//       .wide {
//         height: initial;
//         width: 100%;
//         margin-bottom: 30px;
//       }
//     }
//   }

//   #pdf-view {
//     height: 500px;
//   }

//   #image-upload {
//     width: 70%;
//     padding: 12px 0px;
//     margin: 8px 0;
//     font-size: 1em;
//     display: inline-block;
//     box-sizing: border-box;
//     input {
//       font-size: 1em;
//     }
//   }
// }


// #problem-home {
//   .info {
//     display: block;
//     // margin-left: 10%;
//     text-align: center;

//     li {
//       padding: 20px;

//       a {
//         color: $accent-color;
//         font-weight: $bold-font-weight;
//       }
//     }
//   }
//   .button-row {
//     width: 100%;
//     margin: 40px auto;
//     text-align: center;
//     display: block;
//     button {
//       font-size: .8em;
//       padding: 5px 15px;
//       background-color: none;
//       border-radius: 3px;
//       border-color: $input-border;
//     }
//   }
// }
//   ul {
//     li {
//       button {
//         border: none;
//         margin-bottom: 2px;
//         position: relative;
//         top: -2px;

//         i {
//           color: $primary-font-color;
//           font-size: 1em;
//         }
//       }
//     }
//   }

// nav#with-search-bar {
//   .search-bar {
//     font-size: 1em;
//     padding-bottom: 10px;
//     input {
//       margin-left:20px;
//     }
//     p {
//       margin-top:10px;
//       margin-left: 20px;
//     }
//   }
// }


