@import 'variables';
@import 'mixins';
@import 'responsive-font-size';
/**
 * #
 * @description Response container is the sass file containing all styling for response-container.hbs, 
 * repsonse-mentor-thread.hbs, and response-submission-view.hbs.
 
 * @author Yousof Wakili
 * @since 3.6.1
 */

.response-container {
  margin-top: 1.5em;
  padding: 1em;
  a:hover {
    text-decoration: underline;
  }
  .response-header-container {
    text-align: center;
  }
}
// for response-mentor-thread and response-submission-view
.response-thread-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.response-student-container {
  margin-top: 1em;
}
