@import "variables";
@import "mixins";
@import "responsive-font-size";

#responses-list {
  header {
    background: $background-color;
    padding: 7px 0px;
    position: fixed;
    width: 100%;
    z-index: 1;
    &.no-responses {
      position: relative;
    }
    h2 {
      margin-left: 20px;
      display: inline-block;
      font-size: 1.2em;
    }
    .toggle-btn {
      float: right;
      margin-right: 20px;
    }
    .new-link-btn {
      color: $primary-font-color;
      background: $accent-yellow;
      font-weight: $main-font-weight;
      font-family: $primary-font;
      border-radius: 3px;
      font-size: .8em;
      padding: 0px 15px;
      margin-left: 10px;
      border: none;
      line-height: 35px;
      &:hover {
        font-weight: $bold-font-weight;
        cursor: pointer;
        background: lighten($accent-yellow, 10%);
      }
    }
    .active-filter {
      font-weight: $bolder-font-weight;
      background: darken($accent-yellow, 5%)
    }
  }
  .flex-container-full {
    #filter-list-side {
      display: none;
    }

    .flex-item-full.list-view {
      grid-column-start: 1;
    }
  }

  .no-results-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    .info {
      font-size: 1.4em;
      margin: 50px 0 40px 0;
    }
  }

  .list-container {
    .top-row {
      width: 100%;
      height: 42px;
      @include flex-container(null, null, row, row, center, center, center);
    }
    .heading {
      @include flex-item(1, center, 1 0 auto);
      margin-top: 0;
    }
    .action {
      @include flex-item(2, stretch, 1 0 auto);
      max-width: 180px;
      button {
        width: 100%;
        margin: 0;
        &:focus {
          outline: none;
        }
      }
    }
  }

  .results-list {
    .results-icons {
      i {
        margin-right: 5px;
      }
      .icon-message {
        font-weight: $light-font-weight;
        display: inline-block;
        margin-bottom: 8px;
      }
      span {
        color: $primary-font-color;
        background: $accent-yellow;
        font-weight: $main-font-weight;
        font-family: $primary-font;
        border-radius: 3px;
        font-size: .8em;
        padding: 0px 15px;
        margin-left: 10px;
        border: none;
        line-height: 35px;
        float: right;
        &:hover {
          font-weight: $bold-font-weight;
          cursor: pointer;
          background: lighten($accent-yellow, 10%);
        }
        &.active-filter {
          font-weight: $bolder-font-weight;
          background: darken($accent-yellow, 5%);
          font-size: 1em;
        }
      }
    }
    .side-icons {
      width: 220px;
      @include flex-container(auto, null, row, nowrap, flex-end, center, center);
      .my-select {
        width: 100%;
        margin-right: 30px;
        select {
          height: 30px;
          font-size: 1em;
          border: none;
          text-indent: 5px;
          background: none;
          width: 100%;
          max-width: 130px;
          text-align-last: left;
          margin: 0 auto;
          text-transform: capitalize;
          color: black;
          background: url(/images/caret-down.svg) no-repeat right;
          background-size: 12px;
          -webkit-appearance: none;
          -moz-appearance: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .results-items {
      .sort-bar-item, .item-section {
        font-size: .8em;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        // border: 1px solid red;
        .fa-minus, .fa-arrow-up, .fa-arrow-down, .fa-filter {
          font-size: .7em;
          position: relative;
          top: -1px;
        }
        &:hover {
          cursor: pointer;
          color: black;
        }
        &.student {
          @include flex-item(1, start, .08 0 auto);
          width: 8%;
          vertical-align: top;
        }
        &.workspace {
          @include flex-item(2, start, .15 0 auto);
          width: 15%;
        }
        &.submission-date {
          @include flex-item(3, start, .10 0 auto);
          width: 10%;
        }
        &.problem {
          @include flex-item(4, start, .15 0 auto);
          width: 15%;
        }
        // &.brief-summary {
        //   @include flex-item(5, start, .20 0 auto);
        //   width: 20%;
        //   text-align: left;
        // }
        &.mentor {
          @include flex-item(5, start, .18 0 auto);
          width: 18%;
          vertical-align: top;
        }
        &.reply-date {
          @include flex-item(6, start, .10 0 auto);
          width: 10%;
        }
        &.status {
          @include flex-item(7, start, .12 0 auto);
          width: 12%;
        }
        &.more {
          @include flex-item(8, start, .01 0 auto);
          width: 2%;
        }
      }
      .item-section {
        font-size: 1em;
        &:hover {
          cursor: default;
          color: $primary-font-color;
        }
      }
    }
  }

  .response-submission-thread {
    .item-container {
      cursor: pointer;
    }
    i.far.fa-bell {
      cursor: default;
    }
    .has-unread-reply {
      font-weight: $bolder-font-weight;
    }
    div.item-section.flags {
      .flag-container {
        @include flex-container(auto, null, row, wrap, flex-end, center, center);

        span {
          text-align: left;
          text-indent: 3%;
          padding-bottom: 8px;
        }
      }

    }
  }
}