@import "variables";
@import "mixins";
@import "responsive-font-size";

@media screen and (min-width: $screen-xs-min) and (max-width: 859px) {
  .list-side {
    width: 35%;
    .list-header {
      width: 35%;
      h1 {
        font-size: 1.2em;
      }
      .new-link-btn {
        font-size: .8em;
        span {
          display: none;
        }
        i {
          display: inline-block;
        }
      }
    }
  }
  .list-outlet {
    width: 62%;
    margin-left: 35%;
  }
}

@media screen and (min-width: 860px) and (max-width: 1319px) {
  .list-side {
    width: 35%;
    .list-header {
      width: 35%;
      h1 {
        font-size: 1.5em;
      }
      .new-link-btn {
        font-size: .8em;
        span {
          display: none;
        }
        i {
          display: inline-block;
        }
      }
    }
  }
  .list-outlet {
    width: 62%;
    margin-left: 35%;
  }
}

@media screen and (min-width: 0px) and (max-width: 1460px) {
  #assignment-new-btn {
    span {
      display: none;
    }
    i {
      display: inline-block;
    }
  }
}

@media screen and (min-width: 1320px) and (max-width: 10000px) {
  .list-side {
    width: 25%;
    .list-header {
      width: 25%;
      h1 {
        font-size: 1.7em;
      }
      .new-link-btn {
        font-size: 1em;
        span {
          display: block;
        }
        i {
          display: none;
        }
      }
    }
  }
  .list-outlet {
    width: 73%;
    margin-left: 25%;
  }
}

.list-side {
  height: 100%;
  position: fixed;
  overflow: auto;
  z-index: 1;
  box-shadow: $box-shadow;
  background: $background-color;
  .list-header {
    position: fixed;
    height: 70px;
    background-color: white;
    z-index: 2;
    // border-right: .5px solid $primary-font-color;
    box-shadow: $box-shadow;
    h1 {
      text-transform: capitalize;
      margin: 10px 0 0px 20px;
      color: $primary-font-color;
      font-weight: bold;
      display: inline-block;
    }
    .new-link-btn,
    #new-user-link,
    #new-assignment-link,
    #problem-new-link,
    #new-section-link {
      color: white;
      background: $accent-color;
      font-weight: $main-font-weight;
      font-family: $primary-font;
      border-radius: 3px;
      padding: 0px 15px;
      margin-left: 10px;
      display: inline-block;
      position: relative;
      top: -4px;
      line-height: 40px;
      &:hover {
        font-weight: $bold-font-weight;
        cursor: pointer;
        background: darken($accent-color, 10%);
        box-shadow: $button-shadow;
      }
    }
    .search-bar {
      font-size: 1em;
      background-color: white;
      padding-bottom: 10px;
      input[type=text] {
        margin-left:20px;
        border-radius: 3px;
        width: 65%;
        height: 30px;
        text-indent: 20px;
      }
      .icons {
        width: 10%;
        .fa {
          margin: 0 5px;
        }
      }
    }
  }
  // .main-search {
  //   font-size: 1.5em;
  //   float: right;
  // }
  // #with-search-bar {
  //   margin-top: 120px;
  // }
  .list-box {
    padding-top: 10px;
    background: $background-color;
    height: 100%;
    margin-top: 70px;
    padding-bottom: 100px;
    h2 {
      text-transform: capitalize;
      margin: 20px 0 10px 20px;
      font-size: 1.4em;
      color: $accent-color;
      font-weight: $bold-font-weight;
      @include responsive-font-size (.5em, 1.3em, 540px, 1500px, 0.5em);
    }

    li {
      padding: 6px 10px 6px 10px;
      margin: 0 20px;
      border-radius: 5px;
      display: block;
      width: max-content;
      &:last-child {
        margin-bottom: 30px;
      }
      &:hover {
        font-weight: $bold-font-weight;
        background-color: lighten($background-color, 5%);
      }
    }
  }
  .toggle-button {
    background-color: white;
    color: $primary-font-color;
    padding: 8px 15px;
    border: 1px solid $input-border;
    border-radius: 5px;
    margin: 0 auto;
    display: block;
    font-size: .8em;
  }
}


.list-outlet {
  float: left;
  padding: 0 5px 5px 10px;
}
