@import "variables";
@import "mixins";
@import "responsive-font-size";


@media screen and (min-width: $screen-xs-min) and (max-width: 400px) {
  .side-info {
    .info-menu {
      .tab-link, .tab-name {
        margin: 0 0px;
        font-size: .7em;
        padding: 8px;
      }
    }
    .side-info-menu {
      .info-actions {
        .right-buttons {
          .primary-button {
            margin-left: 5px;
            font-size: .7em;
            padding: 10px 13px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 401px) and (max-width: 100000px) {
  .side-info {
    .info-menu {
      .tab-link, .tab-name {
        margin: 0 10px;
        font-size: .9em;
        padding: 10px 20px;
      }
    }
  }
}

.side-info {
  .fa-globe-americas {
    color: $accent-color;
  }
  .fa-lock {
    color: $error-color;
  }
  .fa-unlock {
    color: $error-color;
  }
  .top-left-icon {
    font-size: 1.5em;
    position: absolute;
    left: 20px;
    top: 85px;
  }
  .remove-icon {
    position: absolute;
    font-size: 1.2em;
    top: 85px;
    right: 18px;
    cursor: pointer;
    z-index: 50;
    &:hover {
      color: darken($primary-font-color, 10);
    }
  }
  .info-header {
    border: none;
    max-height: 5px;
    .select-container {
      width: 95px;
      position: relative;
      left: 45px;
      top: 75px;
      background: none;
      select {
        width: 95px;
        background: transparent;
        border: none;
        text-align: left;
        font-size: .9em;
        background: url(/images/caret-down.svg) no-repeat right;
        -webkit-appearance: none;
        -moz-appearance: none;
        &:focus {
          outline: none;
        }
      }
    }
  }
  .side-info-menu {
    position: relative;
    top: 110px;
    padding: 0 20px;
    a {
      color: $accent-color;
    }
    .category-item {
      line-height: 1.3em;
      .category-description {
        margin: 5px 0 10px 0;
        font-weight: $light-font-weight;
      }
    }
    .info-details {
      position: relative;
      top: 0;
      .info-main {
        text-align: center;
        .heading {
          font-size: 1.4em;
          color: black;
          padding: 10px 0;
          input {
            width: 90%;
            text-align: center;
            margin-top: -5px;
            margin-bottom: -5px;
            border: 1px solid $input-border;
            background-color: $background-body;
            border-radius: 3px;
            padding: 10px 15px;
            font-size: .9em;
          }
        }
        .subheading {
          padding: 10px 0;
          font-weight: $light-font-weight;
          font-size: 1em;
        }
      }
      .info-menu {
        text-align: center;
        padding-top: 20px;
        max-width: 900px;
        margin: 0 auto;
        .tab-link {
          background-color: $background-body;
          font-weight: $main-font-weight;
          text-transform: uppercase;
          border: none;
          color: $primary-font-color;
          cursor: pointer;
          &:focus {
            outline: none;
          }
          &:hover {
            color: black;
          }
          &.active-btn {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
            font-weight: $bolder-font-weight;
          }
        }
        .tab-name {
          background-color: $background-body;
          font-weight: $main-font-weight;
          text-transform: uppercase;
          border: none;
          color: $primary-font-color;
          &:focus {
            outline: none;
          }
          &.active-btn {
            border-bottom: 3px solid $accent-color;
            color: $accent-color;
            font-weight: $bolder-font-weight;
          }
        }
      }
      .info-content {
        padding-top: 15px;
        min-height: 450px;
        .info-content-block {
          margin: 15px 0 30px 0;
          .input-container {
            @include flex-container(auto, null, row, no-wrap, center, center, stretch);
          }
          input[type=text], textarea {
            margin-top: -8px;
            @include flex-item(1, 1 1 auto, auto);
            width: 100%;
            border: 1px solid $input-border;
            background-color: $background-body;
            border-radius: 3px;
            padding: 10px 15px;
            font-size: .9em;
          }
          img {
            width: auto;
          }
          .bold {
            font-weight: $bold-font-weight;
            color: black;
            margin-right: 10px;
          }
          .remove-cat {
            font-size: .8em;
            cursor: pointer;
            background: none;
            border: none;
            color: $primary-font-color;
          }
          #categories {
            margin-top: 15px;
          }
          .radio-item {
            margin: 15px 0px
          }
          .radio-text {
            margin-left: 15px;
          }
          .cancel-button {
            padding: 5px 15px;
            font-size: .8em;
            border: 1px solid $input-border;
            border-radius: 3px;
            margin-top: 10px;
          }
          .additional-image {
            width: 80%;
            position: relative;
          }
          .wide {
            height: initial;
            width: 100%;
            margin-bottom: 30px;
          }
          .my-select {
            width: 125px;
            margin-left: 30px;
            margin-top: -18px;
            select {
              width: 125px;
              font-size: .9em;
              text-transform: capitalize;
              background: none;
              border: none;
              text-align-last: left;
              margin: 0 auto;
              color: black;
              background: url(/images/caret-down.svg) no-repeat right;
              // background-size: 12px;
              -webkit-appearance: none;
              -moz-appearance: none;
              &:focus {
                outline: none;
              }
            }
          }
          .show-reason {
            color: $accent-color;
            margin-left: 10px;
            cursor: pointer;
          }
          .flag-reason {
            margin: 15px 0 10px 5px;
            p {
              line-height: 1.5em;
              &.reason {
                text-transform: capitalize;
              }
              &.details {
                font-weight: $light-font-weight;
              }
            }
          }
        }
        .large-content {
          overflow: auto;
          min-height: 50px;
          max-height: 325px;
          p {
            margin: 15px 0;
          }
          img {
            margin-bottom: 15px;
          }
        }
        .info-content-label {
          font-size: 1.2em;
          color: black;
          margin: 15px 0 20px 0;
          .info-text-tip {
            float: right;
            i {
              color: $primary-font-color;
            }
          }
        }
      }
    }
    .info-actions {
      height: 35px;
      margin-bottom: 15px;
      @include flex-container(auto, null, row, no-wrap, center, center, stretch);
      .buttons-container {
        height: 35px;
        margin-bottom: 15px;
        margin-top: 10px;
        @include flex-item(1, 1 1 auto, auto);
        width: 100%;
      }
      .button-icon {
        border: none;
        background: none;
        font-size: 1.4em;
        color: $primary-font-color;
        cursor: pointer;
        &.no-cursor {
          cursor: default;
        }
        &:focus {
          outline: none;
        }
        .star-filled {
          color: $accent-yellow;
        }
        .star-line, .fa-copy {
        &:hover {
          &:before {
            font-weight: bold;
          }
        }
      }
      .star-line {
        &:hover {
          color: $accent-yellow;
        }
      }
      }
      .left-buttons {
        float: left;
      }
      .right-buttons {
        float: right;
        .primary-button {
          margin-left: 10px;
        }
      }
    }
  }
}