/* summary.scss */
.summary-header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  h1 {
    margin: 0;
    font-size: 1.5em;
    font-weight: 600;
    line-height: 1.2;
    color: #333;
  }

  h2 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.2;
    color: #666;
  }
}

.summary-container {
  display: flex;
  flex-direction: column;
  margin: 1em;

  .summary-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    .label {
      font-weight: bold;
      text-align: left;
      width: 20%; /* Adjust as needed */
    }

    .value {
      text-align: left;
      width: 30%; /* Adjust as needed */
    }
  }
}
