h1 {
  margin-top: 2em;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
  font-size: 2em;
}

.terms-header {
  p {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    width: 90%;
    margin: auto;
    margin-top: 1em;
    text-justify: inter-word;
  }
}

.terms-paragraph {
  margin-top: 5em;
  p {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    width: 85%;
    margin: auto;
    margin-top: 0.5em;
  }
}
