@import 'variables';
@import 'mixins';
@import 'responsive-font-size';
$breakpoint-small: 600px;
$breakpoint-medium: 768px;
$breakpoint-large: 992px;
$breakpoint-xlarge: 1200px;
// styles for material drawer nav
:root {
  --mdc-theme-primary: #3997ee;
  --mdc-theme-secondary: #ffd204;
  --mdc-theme-on-primary: #3997ee;
  --mdc-theme-on-secondary: #ffd204;
}

// STYLING FOR THE ENCOMPASS LOGO
.encompass-logo {
  height: 5em;
}

// GENERAL STYLING
#al_header {
  position: fixed;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  background-color: #f6f5f4;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  font-size: 0.9em;
  justify-content: space-between;
  #topbar-unauth {
    display: flex;
    gap: 1em;
  }
  .al_nav#main-nav {
    display: flex;
    padding: 0 2em;
    flex-grow: 0.2;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;

    li {
      margin: 0 15px;
    }

    .acting-role {
      text-transform: capitalize;
    }

    .toggle-role {
      cursor: pointer;
    }
  }
}

.menuButton {
  font-weight: 400;
  padding: 8px 15px;
  font-size: 0.85em;
  margin: 0;
  margin-left: 1em;
  position: relative;
  color: black;
  border-radius: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgba(1, 104, 155, 0.1);
    color: rgb(1, 104, 155);
    font-weight: 500;
  }
}

.hamburger {
  i {
    color: rgb(0, 0, 0);
    font-size: 1.5em;
    margin-right: 1em;
    padding: 1em;
    border-radius: 50%;
    transition: color 0.3s, transform 0.3s, background-color 0.3s,
      box-shadow 0.3s;

    &:hover {
      color: #3997ee; // Blue color from your theme
      background-color: rgba(57, 151, 238, 0.1); // A very light blue background
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // A slight shadow for depth
      transform: scale(1.05); // Slightly scale the icon
    }
  }
}

// Slide-out menu from the left
.hamburger-menu {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 300px;
  background-color: rgba(236, 239, 249, 0.95);
  transition: left 0.3s ease;
  z-index: 999;

  &.open {
    left: 0;
  }

  .drawer {
    height: 100%;
    overflow-y: auto;

    ul {
      padding: 0;
      margin: 0;
      list-style-type: none;

      li {
        padding: 10px 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;

        &:hover {
          background-color: rgba(1, 104, 155, 0.1);
          transform: translateX(10px);
        }

        i {
          margin-right: 10px;
        }
      }
    }
  }
}
