@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

// @media screen and (min-width: 0) and (max-width: 349px) {
//   #al_header {
//     .menu-items {
//       display: none;
//     }
//   }
//   #topbar-unauth {
//     font-size: 0.8em;
//     width: 220px;
//     li {
//       padding: 0;
//       margin: 0;
//     }
//   }
// }

@media screen and (max-width: 974px) {
  #al_header {
    .al_nav {
      font-size: 1em;
      .menu-items {
        display: none;
      }
    }
  }
}

// STYLING FOR THE ENCOMPASS LOGO
.al_logo {
  width: 230px;
  height: 80px;
  display: inline-block;
  float: none;
  position: relative;
  top: -15px;
  text-indent: -99999px;
  background: url(images/logo-encompass.gif) 0 0 no-repeat;
}
.encompass-logo {
  height: 60px;
  width: auto;
}

.hamburger {
  margin: auto 25px;
  i {
    border-radius: 50%;
    padding: 10px;
  }
}

.mdc-drawer {
  height: 100vh;
  top: 60px;
}

// TOP BAR STYLING FOR WHEN LOGGED OUT
#topbar-unauth {
  font-weight: $bolder-font-weight;
  margin: 30px 20px 30px auto;
  background-color: $background-body;
  li {
    display: inline-block;
    padding: 0 10px;
    a {
      color: white;
      margin-right: 10px;
      background: $primary-button;
      padding: 10px 30px;
      border-radius: 3px;
      &:hover {
        background-color: darken($primary-button, 10);
      }
    }
  }
}

// GENERAL STYLING

#al_header {
  font-family: $primary-font;
  background-color: $background-body;
  border-bottom: 1px solid #dfdfdf;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  margin-bottom: 0px;
  display: flex;
  font-size: 1em; // margin-bottom: 1px;
  // height: 75px;
  .control {
    display: none;
  }
}

#al_header.small {
  line-height: 20px;
  height: 50px;
}

#al_header.small > .al_nav {
  line-height: 20px;
  height: 20px;
}

#al_header.small > .al_logo {
  display: none;
}

#al_header.small > #status {
  padding-top: 1px;
}

#al_header:hover .control {
  display: inline;
}

#welcome {
  margin: 30px;
}

.spacing {
  padding-left: 5px;
}

.al_nav#main-nav {
  margin-left: auto;
  display: flex;
  align-items: center;
  li {
    display: inline-block;
    padding: 0 13px;
  }
  ul {
    font-size: 1em;
  }
  a {
    &:hover {
      color: $primary-font-color;
      font-weight: $bolder-font-weight;
    }
    .active {
      border-bottom: 2px solid $accent-yellow;
    }
  }
}

.toggle-role {
  cursor: pointer;
}

.hide-menu {
  display: none;
}

#al_header .control {
  display: none;
}

#al_header:hover .control {
  display: inline;
}

#al_header.small > #status {
  padding-top: 1px;
}

// #al_welcome {
//   float: right;
//   margin: 8px 20px;
//   display: block;
// }
// LOGOUT BUTTON
.logout {
  font-weight: $main-font-weight;
  padding: 8px 15px;
  color: white;
  background: $primary-button;
  border-radius: 3px;
  font-size: 0.9em;
  margin: 0;
  padding: 8px 9px;
  border-radius: 50%;
  &:hover {
    box-shadow: $button-shadow;
  }
}

#logout-btn {
  a {
    color: white;
    &:hover {
      color: white;
      font-weight: $main-font-weight;
    }
  }
}

#current-username {
  color: $accent-color;
  font-weight: $bolder-font-weight;
  margin-right: 10px;
  // border: 1px solid green;
  padding: 0;
  img {
    height: 48px;
    position: relative;
  }
  a {
    color: $accent-color;
    font-weight: $bolder-font-weight;
    &.active {
      background: none;
    }
  }
}
