@import 'variables';
@import 'mixins';
@import 'responsive-font-size';
$breakpoint-small: 600px;
$breakpoint-medium: 783px;
$breakpoint-large: 967px;
$breakpoint-xlarge: 1200px;

@import 'variables';
@import 'mixins';
@import 'responsive-font-size';

:root {
  --mdc-theme-primary: #3997ee;
  --mdc-theme-secondary: #ffd204;
  --mdc-theme-on-primary: #3997ee;
  --mdc-theme-on-secondary: #ffd204;
}

.encompass-logo {
  height: 5em;
}

#al_header {
  position: fixed;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  font-size: 0.9em;
  background-color: white;
  justify-content: space-between;

  #topbar-unauth {
    display: flex;
    gap: 1em;
  }

  .al_nav#main-nav {
    display: flex;
    padding: 0 2em;
    flex-grow: 0.2;
    margin-left: auto;
    justify-content: space-around;
    align-items: center;

    li {
      margin: 0 15px;
    }

    .acting-role {
      text-transform: capitalize;
    }

    .toggle-role {
      cursor: pointer;
    }
  }
}
#al_header_unauth {
  position: fixed;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 10;
  display: flex;
  font-size: 0.9em;
  background-color: white;
  justify-content: space-between;
  #topbar-unauth {
    display: flex;
    justify-content: space-around;
  }
}
#announcement-header {
  background-color: $accent-yellow;
  color: #333;
  text-align: center;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;

  p {
    margin: 0;
    padding: 0;
    font-size: 1em;
  }
  a {
    font-weight: 600;
  }
}
.menuButton {
  font-weight: 400;
  padding: 8px 15px;
  font-size: 1em;
  margin: 0;
  position: relative;
  color: black;
  border-radius: 0.5em;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: rgba(1, 104, 155, 0.1);
    color: rgb(1, 104, 155);
    font-weight: 500;
  }
}

.hamburger {
  .hamburger-icon {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    margin-right: 1.5em;
    margin-top: 0.3em;
    padding: 1em;
    border-radius: 50%;
    transition: color 0.3s, transform 0.3s, background-color 0.3s,
      box-shadow 0.3s;

    &:hover {
      color: #3997ee;
      background-color: rgba(57, 151, 238, 0.1);
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transform: scale(1.05);
    }
  }
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: -300px;
  bottom: 0;
  width: 200px;
  border-radius: 0.5em;
  background-color: #daeafd;
  transition: left 0.3s ease;
  z-index: 999;
  margin-top: 5em;

  &.open {
    left: 0;
  }

  .drawer {
    height: 100%;
    overflow-y: auto;
    .testHome {
      i {
        font-size: 1.2em;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
      }
      display: flex;
      align-items: center;
      gap: 1.2em;
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 1em;

      li {
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.5s ease, transform 0.3s ease,
          box-shadow 0.3s ease, color 0.3s ease;

        &:hover {
          background-image: linear-gradient(
            145deg,
            rgba(1, 104, 155, 0.08),
            rgba(1, 104, 155, 0.2)
          );
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
          transform: translateX(10px) translateY(-2px);
          color: #3997ee;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-medium) {
  .menuButton {
    font-size: 0.7em; // Adjusted font-size
    padding: 0.5em 1em; // Adjusted padding
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
  transition: opacity 0.3s ease;

  &.show {
    display: block;
  }
}
