.typeahead-container {
  position: relative;
  width: 100%;

  .twitter-typeahead {
    display: inline-block;
    max-width: 200px;
    width: 100%;
    position: relative;
  }

  .typeahead-input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
  }

  .typeahead-dropdown {
    position: absolute;
    width: 100%;
    background: white;
    border: 1px solid #ccc;
    z-index: 10;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 2px;
    padding: 0;
    list-style: none;

    li {
      padding: 0.5rem;
      cursor: pointer;
      margin: 0;
  
      &:hover {
        color: #eee;
        background-color: #0097cf;
      }
  
      &.highlighted-item {
        background-color: #0097cf;
        color: #eee;
      }
    }
  }
}
