@import "variables";
@import "mixins";
@import "responsive-font-size";

.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
  width: 100%;
  input {
    background-color: white;
    // padding: 10px;
    font-size: 1em;
    &[type=text] {
      background-color: white;
      width: 100%;
    }
    &[type=submit] {
      background-color: $accent-color;
      color: #fff;
    }
  }

  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 35px;
    left: 0;
    right: 0;
    div {
      padding: 10px;
      cursor: pointer;
      background-color: #fff;
      border-bottom: 1px solid $background-color;
      &:hover {
        background-color: $accent-color !important;
      }
    }
  }

  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: $accent-color !important;
    color: #ffffff;
  }
}
