@import "variables";
@import "mixins";
@import "responsive-font-size";

//LOOK AT SIDE LIST PARTIAL FOR STYLING FOR USER LISTING
#user-list {
  .list-heading {
    padding: 0px;
  }
  .listing {
    .is-admin a {
      color: $error-color;
    }
    .is-authorized {
      font-weight: $bolder-font-weight;
    }
    .is-unconfirmed {
      font-style: italic;
    }
  }
  .centered {
    font-size: 2em;
    margin-left: -100px;
  }
}

#user-info, #user-new {
  margin: 0 auto;
  width: 80%;

  .required-star {
    color: #dc3545;
    margin-left: 2px;
  }

  h3 {
    margin: 20px 0 30px 20px;
    font-size: 1.4em;
    color: $primary-font-color;
    font-weight: bold;
    text-align: center;
    .username {
      text-transform: capitalize;
    }
  }

  table {
    margin: 0 auto;
    min-width: 60%;
    text-align: center;
    background-color: #efefef;

    .relative-cell {
      position: relative;
    }
    .password-toggle-button {
      position: absolute;
      right: -3px;
      top: 15px;
      border: none;
      background: transparent;
      cursor: pointer;
      z-index: 1;
      &:focus {
        outline: none;
      }
      .password-toggle-icon {
        width: 18px;
        height: 18px;
      }
    }

    .validation-error-space, .validation-error {
      color:  #dc3545;;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
      font-size: 11px;
      font-weight: 400;
      min-height: 10px;
      line-height: 1.2;
    }

    .validation-error-space {
      height: 4px;
      margin-top: 1px;
    }
    .validation-error {
      margin-top: 1px;
    }

    .radio-label-margin {
      margin-left: 15px;
    }
    td, th {
      padding: 10px;
      text-align: left;
      margin: 0 auto;
      padding-left: 20px;
      border-left: 1px solid $primary-font-color;
      border-right: 1px solid $primary-font-color;
      width: 150px;
    }
    th {
      border-top: 1px solid $primary-font-color;
    }
  }

  .button-row {
    margin: 0 auto;
    width: 250px;
    display: flex;
  }

  button.action_button {
    margin: 0 auto;
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding: 10px 15px;
    font-size: .8em;
    border-radius: 3px;
    font-weight: $bold-font-weight;
  }

  input[type=text], input[type=password], input[type=email], .user-account-type {
    width: 90%;
    padding: 5px;
    font-size: .8em;
    border: 1px solid $input-border;
    border-radius: 3px;
    &.input-error {
      border: 1px solid  #dc3545 !important;
      background-color: #fde8e8;
    }
  }

  .error-message, .success-message, .warning-message {
    text-align: center;
    padding: 0;
    color: #dc3545;
    font-weight: 500;
  }

  a {
    color: $accent-color;
    font-weight: $bold-font-weight;
  }

  .error-box {
    width: 54%;
    margin: 20px auto;
  }

  .twitter-typeahead {
    width: 100%;
    
    &.input-error {
      .typeahead-input {
        border: 1px solid  #dc3545 !important;
        background-color: #fde8e8 !important;
      }
    }
  }
}

.reset-user-box {
  .auth-form-input {
    width: 80%;
    margin: 0 auto;
    label {
      margin-bottom: 10px;
    }
    input {
      margin-bottom: 10px;
    }
  }
  .button-row {
    margin: 0 auto;
    margin-top: 10px;
    width: 200px;
    display: flex;
  }
  #show-password-btn {
    background: none;
    float: right;
    margin-left: 10px;
    font-size: 1em;
  }
}
