/* The variables partial contains all the gloabl variables
 * Like font, size, colors, padding, etc
 */
@import "variables";

/* To use the responsive-font-size mixin you must:
 * @include responsive-font-size (1em, 1.5em, 640px, 1200px, 0.5em);
 * The order of the variables is min-font, max-font, min-width, max-width, increment
 * Basically you say the smallest and largest you want the font to be at the min and max
   breakpoints, and then the increment size between those breakpoints
 */
@import "responsive-font-size";

// NORMALIZE CSS
// @import "normalize";

// COMPONENT PARTIALS
@import "base";
@import "body";
@import "topbar";
@import "home";
@import "auth";
@import "problems";
@import "workspace";
@import "import";
@import "type-ahead";
@import "problem-new";
@import "404";
@import "problem-new";
@import "section-new";
@import "section-info";
@import "users";
@import "loading";
@import "assignments";
@import "assignments-new";
@import "side-list";
@import "home-view";
@import "form-info";
@import "responses";
@import "errors";
@import "folders";
@import "tooltip";
@import "type-ahead-twitter";
@import "unconfirmed";
@import "datepicker";
@import "my-select";
@import "answers";
@import "pagination-control";
@import "categories";
@import "buttons";
@import "comments";
@import "search-bar";
@import "selectize";
@import "filter-list";
@import "side-info";
@import "image-upload";
@import "guide";
@import "workspace-list-container";
@import "workspaces-copy";
@import "inputs";
@import "submissions";
@import "step-display";
@import "dropzone";
@import "workspace_info";
@import "response-container";
@import "breadcrumbs";
@import "circle-ntf";
@import "workspace-container";
@import "vmt-import";
@import "checkbox-list";
@import "dashboard-assignments-list";
