<header>
  <h2>Import Work</h2>
  <div class="clear"></div>
</header>
<h3>Welcome to the import work portal.</h3>
<br>
<p>This is the home for uploading student work that is in the form of images or pdfs.</p>
<br>
<p>Before you upload your files, we need to know the problem and section that this set of student work belongs to.</p>
<br>
<p>If you have not already created the problem or section on Encompass, you can create it here.</p>
<br>

{{import-work model=model store=store toWorkspaces="toWorkspaces"}}