<header class="metrics__header">
  <h3>Choose a workspace or problem below</h3>
  <p>You can also go to the info page of a workspace you'd like to get reports for.</p>
</header>
<div class="metrics__container metrics--flex">
  <div class="metrics__card">
    <h4>Workspaces</h4>
    <ul class="metrics__list">
      {{#each this.model.workspaces as |workspace|}}
        <li class="metrics__list-item"><LinkTo @route="metrics.workspace" @model={{workspace.id}} class="metrics__link">{{workspace.name}}</LinkTo></li>
      {{/each}}
    </ul>
  </div>
  <div class="metrics__card">
    <h4>Problems</h4>
    <ul class="metrics__list">
      {{#each this.model.problems as |problem|}}
        <li class="metrics__list-item"><LinkTo @route="metrics.problem" @model={{problem.id}} class="metrics__link">{{make-html-safe problem.title}}</LinkTo></li>
      {{/each}}
    </ul>
  </div>
</div>