<div class="metrics__container">
  <h2>index</h2>
  <h3>workspaces</h3>
  {{#each model.workspaces as |workspace|}}
    <p>{{#link-to "metrics.workspace" workspace.id}}{{workspace.name}}{{/link-to}}</p>
  {{/each}}
  <h3>problems</h3>
  {{#each model.problems as |problem|}}
    <p>{{#link-to "metrics.problem" problem.id}}{{problem.title}}{{/link-to}}</p>
  {{/each}}
</div>