# node files
node_modules/

# for security
config.json

# build files
build/.test/*.*
build/application-prod.js
build/application.js
build/common_bundle.js
dependencies/compiled/*.*
.grunt
_SpecRunner.html
error.out
server.out

#db backups
app/db_migration/data

# mac files
.DS_Store

#vs code
.vscode

#env
.env

# why?
# test/runner.html
# *.swp
# *.swo
# *.~
