# node files
node_modules/
# package_lock.json # using npm-shrinkwrap.json

# for security
config.json

# build files
build/.test/*.*
build/application-prod.js
build/application.js
build/common_bundle.js
dependencies/compiled/*.*
.grunt
_SpecRunner.html
error.out
server.out

#babel files
babel/

# public uploads
server/public/image_uploads

# mac files
.DS_Store

#vs code
.vscode

#.exe
.exe

#env
.env

# why?
# test/runner.html
# *.swp
# *.swo
# *.~

ChromeDriver.exe
