<div class='social-signin'>
  <a href={{this.googleUrl}}>
    <button type='button'>
      <img src='../assets/images/google-logo.svg' alt='Google logo' />
      <span id='google-text'>Sign in with Google</span>
    </button>
  </a>
</div>