{{users-component}}



{{!-- <p>
  Select a user from the left.
</p>

<p class="help">
  {{#if currentUser.isAdmin}}A list of all users in the system is to the left.{{/if}}  
  Users are automatically created when they visit but may not be authorized.  
  Authorized users are bold.  
  Admin users are red.  
  If you aren't authorized <a href="http://mathforum.org/cgi-bin/mailto.pl?key=92&to=the%20EnCoMPASS%20team">drop us a note</a>
</p> --}}

{{#each users as |user|}}
<h1>{{user.name}}</h1>
{{/each}}

{{outlet}}