{{#if this.model.currentUser.isAuthorized}}
  <div id="user-home" class="home-view">
    <h1>Welcome to the Users Page</h1>
    <p>Users in bold are authorized & Users in italics are awaiting email confirmation</p>
    <p>Click on a username to see more info about their account and edit them</p>
    <p class="or">Or</p>
    <LinkTo @route="users.new" @id="user-new-link" class="new-link-btn"><span>Create New User</span></LinkTo>
  </div>
{{/if}}
