<div id="user-new">
  {{#if model.currentUser.isAdmin}}
    {{user-new-admin currentUser=model.currentUser store=store  organizations=model.organizations}}
  {{/if}}
  {{#if model.currentUser.isPdAdmin}}
    {{user-new-pd currentUser=model.currentUser store=store organizations=model.organizations}}
  {{/if}}
  {{#if model.currentUser.isTeacher}}
    {{user-new-teacher currentUser=model.currentUser store=store organizations=model.organizations}}
  {{/if}}
  {{#if model.currentUser.isStudent}}
      <div class="centered">FORBIDDEN</div>
  {{/if}}
</div>