{{!-- {{#modal-dialog action="close"}}
      <h3 class="flush--top">Name Change Modal</h3>
      <p>Enter a new name:</p>
      <p>{{input value=name}}</p>
      <button {{action "close"}}>Done</button>
    {{/modal-dialog}} --}}
