{{!-- {{#modal-dialog action="closeModal"}}
  <h1>You're Doing Great!</h1>
  <hr/>
  <p>
    We're happy you're ready to draft a reply!
    However, this is a static submission.
    If this really were one of your students' submissions we'd take you over to the Problem of the Week system with your comments:
  </p>
  <div id="staticSubmissionComments">
    {{{model.message}}}
  </div>
  <hr/>
		<div class="al_controller">
			<a href="#" {{action "closeModal"}} class="al_popup_submit">OKAY!</a>
    </div>
{{/modal-dialog}} --}}
