{{page-title 'Assignments'}}
<div id='assignment-home' class='home-view'>
  <h1>Welcome to the Assignments Page</h1>
  {{#if @model.isStudent}}
    <p>Click on an assignment to submit an answer, make a revision, or review an
      earlier submission.</p>
  {{else}}
    <p>Click on an assignment to display more information.</p>
    <LinkTo @route='assignments.new' id='assignment-new-link'>
      <span class='new-link-btn'>Create New Assignment
        <i class='fas fa-pen'></i></span>
    </LinkTo>
  {{/if}}
</div>