{{page-title "Classes"}}
<div id="section-home" class="home-view">
  {{#if this.model.currentUser.isStudent}}
    <h1>Welcome to the Classes Page</h1>
    <p>Click on a class name to display information about your classes.</p>
  {{else}}
    <h1>Welcome to the Classes Page</h1>
    <p>Click on a class to display information, add, or remove students.</p>
    <LinkTo @route="sections.new" id="section-new-link" class="new-link-btn">
    <span>Create New Class</span></LinkTo>
  {{/if}}
</div>