<header>
  <h2>Problem</h2>
  <div class="clear"></div>
</header>

<section>
  <nav class="users actions listing al_vertical_stretch">
    <h2>Your problems</h2>
    <ul class="actions">
      <li>{{#link-to 'problems.new'}}New Problem{{/link-to}}</li>
    </ul>
    <ul class="listing">
      {{#each model as |problem|}}
       <li>{{#link-to 'problem' problem classNames='problem'}}{{problem.title}}{{/link-to}}</li>
      {{/each}}
    </ul>
    <h2>Public Problems</h2>

  </nav>
</section>



