<header>
  <h2>Problem</h2>
  <div class="clear"></div>
</header>

<section>
  <nav class="users actions listing al_vertical_stretch">
    <ul class="actions">
      <li>{{#link-to 'problems.new'}}New Problem{{/link-to}}</li>
    </ul>
    <ul class="listing">
      {{#each model as |problem|}}
      <li>Problem Name: {{problem.title}}</li>
       <li>{{#link-to 'problem' problem classNames='problem'}}{{problem.title}}{{/link-to}}</li>
      <li>Problem Question: {{problem.text}}</li>
      <li>Public? {{problem.isPublic}}</li>
      {{/each}}
    </ul>
  </nav>
</section>



