<div id="problem-info" class="side-info">
  <ProblemInfo @orgList={{this.model.orgList}} @problem={{this.model.problem}} @sectionList={{this.model.sectionList}} @currentUser={{this.model.currentUser}} />
</div>