{{page-title 'EnCoMPASS' prepend=false}}
<div class='ember-view'>
  {{!outlet header}}

  <TopBar @toHome={{action 'toHome'}} />
  <SocketLoader />
  <section id='al_body'>
    {{outlet}}
  </section>
  {{!end al_body}}
</div>