<div class="error-page">
  <h1>404</h1>
  <p>What you are requesting cannot be found</p>
  <img src="https://www.lifewire.com/thmb/qLv10Pgd30kCy7OxXacwOWKxZ8M=/768x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/shutterstock_325494917-5a68d8403418c600190a3e1f.jpg" alt="">
  <p><LinkTo @route="index">Return Home </LinkTo></p>
</div>

