{{page-title 'Faq'}}
<h1>Frequently Asked Questions - General </h1>
<div class='terms-div'>
  <section class='terms-paragraph'>
    <h2>1. What is this?</h2>
    <p>
      &nbsp; &nbsp; EnCoMPASS (ENC) is a software platform for gathering and
      looking closely at student work. Current projects include new student work
      as well as an extensive library of past student work.
    </p>
    <h2>2. How is it used?</h2>
    <p>&nbsp; &nbsp; It is used by individual teachers to look at their
      students’ work, by groups of in-service teachers looking at student work
      together, and in undergraduate and graduate education classes.
    </p>
    <h2>3. Can I use it?</h2>
    <p>&nbsp; &nbsp; Absolutely! An NSF-supported project is continuing the
      development of this software and it is free for anyone to use. Please
      contact
      <a
        href='mailto:encompass@drexel.edu'
        class='faq-link'
      >encompass@drexel.edu</a>
      for with questions or more information.</p>
    <h2>4. What should I know before using it? </h2>
    <p>
      &nbsp; &nbsp; It is a work in progress. While the software is stable
      enough for serious work, it is being constantly improved, both on the
      surface and behind the scenes. Our hope is a product that is able to run
      with minimal oversight.</p>
    <h2>5. What do you do with my data?</h2>
    <LinkTo @route='terms'>
      <p class='faq-link'>&nbsp; &nbsp;Read privacy policy here</p>
    </LinkTo>
    <h2>6. Can I use it for my own classes? </h2>
    <p>
      &nbsp; &nbsp; Sure, whether you mean K-12 students who will be submitting
      work that you will then analyze using the software, or higher education
      classes that might both submit work and look close at that work together.
      You can learn more about having your K-12 students submit HERE, and learn
      about using it with higher ed classes HERE.
    </p>
    <h2>7. What other professional opportunities are there through EnCoMPASS?
    </h2>
    <p>
      &nbsp; &nbsp; While our current research cohorts are winding down this
      spring, we do have a monthly “Math Monday” where past project participants
      meet to talk about a problem and look at some student work together. You
      would be welcome to join us. just visit our Math Monday page. We have
      developing a version of our current workshop for use by groups of
      teachers, either under our direction or in a school or district, that we
      hope to have ready by Fall 2023. More information will be posted on our
      Professional Development page as it becomes available. You can also join
      our mailing list to get periodic updates on our offerings.
    </p>
  </section>
  <h1>Frequently Asked Questions - I was assigned this in a course </h1>
  <section class='terms-paragraph'>
    <h2>1. I do not see my workspace listed on the homepage. </h2>
    <p>
      &nbsp; &nbsp; Adjust the “mine/shared/created by”,“view info from”, or
      “filter workspace by class” tabs
    </p>
    <h2>2. I cannot make a comment in workshops.</h2>
    <p>&nbsp; &nbsp; You need to first make a selection using the selection
      tool, click the highlighted selection at the bottom of the screen, and
      then make a comment about that specific selection.
    </p>
    <h2>3. I am looking at a group workspace, but do not see anyone's comments
      but mine.
    </h2>
    <p>
      &nbsp; &nbsp; Above the comments list on the right, there’s a “Filter”.
      Select that and then uncheck the box “My Comments Only”.
    </p>
    <h1>Any additional questions we can help you with?</h1>
    <div id='terms-space'><h2>Questions about the EnCoMPASS project? Contact us
        at
        <a
          href='mailto:encompass@drexel.edu'
          class='faq-link'
        >encompass@drexel.edu</a>
        Questions relating to a course assignment using EnCoMPASS? Contact your
        instructor. For any software bugs in the website or features to suggest,
        you can reach out to us at
        <a
          href='mailto:encompass@21pstem.org'
          class='faq-link'
        >encompass@21pstem.org</a>
      </h2></div>

  </section>
</div>