{{page-title 'Welcome to EnCoMPASS'}}
{{! title }}
<div id='landingTitleDiv'>
  <div id='enc-logo-container'>
    <img src='/assets/images/encompass-oricids.png' />
  </div>
  <div id='landing-slogan-container'>
    <p>Teachers learning</p>
    <p>from student work,</p>
    <p>together.</p>
  </div>
</div>
{{! main message container }}
<div id='msg-landing-container'>
  <h1>Mathematics teaching and learning looks different than it did a year ago.</h1>
  <p>And mathematics teaching and learning will likely never be the same. In the
    ORCIDS project, teachers, researchers and other math educators are focused
    on ways to engage more meaningfully with students online
  </p>
  <p>Together we are learning about selecting good tasks for doing math in a
    virtual context and developing strategies and experience with software
    designed to help us see, think about and build on students work. And its all
    designed to take place asynchronously — without the camera on.</p>
  <div id='btns-landing-page'>
    <LinkTo @route='auth.signup'><span>Get Started</span></LinkTo>
  </div>
  {{! image container }}
  <div id='image-landing-page'>
    {{! assignments }}
    <div>
      <section class='image-info'>
        <h1>A workspace system designed to upload and manage daily or weekly
          student work.</h1>
        <p>Assign new problems, create workspaces for students to submit their
          solutions.
        </p>
      </section>
      <img
        src='/assets/images/Create_assignments.gif'
        alt='creating-assignments gif'
      />
    </div>
    {{! workspaces-feedback }}
    <div>
      <img
        src='/assets/images/workspaces_feedback.gif'
        alt='workspaces-feedback gif'
      />
      <section class='image-info'>
        <h1>Encourage giving constructive feedback to students submissions.</h1>
        <p>Highlight student work, add comments: including what you notice,
          wonder, to the particular feedback from students creating an engaging
          experience for both the teacher and the student.
        </p>
      </section>
    </div>
  </div>
</div>
<div class='footer'>
  <div>
    <img src='https://www.nsf.gov/images/logos/NSF_4-Color_bitmap_Logo.png' />
  </div>
  <div class='footerNote'>
    <p><a href='https://encompassmath.org/' target='_blank'>EnCoMPASS</a>
      is part of the Online Reflection and Community-based Instructional
      Development System for Mathematics Education (ORCIDS), an NSF-funded
      collaboration between Drexel University, California State University San
      Marcos, and 21st Century Partnership for STEM Education (21PSTEM).
      Maintained by
      <a
        href='https://www.21pstem.org/encompass'
        target='_blank'
      >21PSTEM.org</a>
      This material is based upon work supported by the National Science
      Foundation under Grant No. 2010306. Any opinions, findings, and
      conclusions or recommendations expressed in this material are those of the
      author(s) and do not necessarily reflect the views of the National Science
      Foundation.
    </p>
  </div>

</div>