{{page-title 'Problems'}}
<div id='problem-list-container'>
  <ProblemListContainer
    @problems={{@model.problems}}
    @organizations={{@model.organizations}}
  />
  <div class='list-outlet hidden' id='outlet'>
    {{outlet}}
  </div>
</div>