{{page-title 'EnCOMPASS Terms of Use and Privacy Policy'}}
<h1>EnCoMPASS: Terms of Service and Privacy Policy</h1>
<div class='terms-div'>
  <h1>Terms of Service</h1>
  <header class='terms-header'>
    <p>Thank you for your interest in using the online services operated by the
      21st Century Partnership for STEM Education &#40;"21PSTEM"&#41;. These
      Terms of Service &#40;"Terms"&#41; govern your use of 21PSTEM&#x27;s
      online services &#40;collectively, the "Services"&#41;, including the
      services which are offered through (i) our website located at
      www.21PSTEM.org and www.MathematicalThinking.org and &#40;ii&#41; third
      party providers.</p>
  </header>
  <section class='terms-paragraph'>
    <p>1. Our Services By using the 21PSTEM Services, you agree to be bound by
      these Terms and to the collection and use of your information as described
      in our Privacy Policy. 21PSTEM Services include, but are not limited to:
      Virtual Math Teams, EnCoMPASS, MathematicalThinking.org, Curriculum App,
      and PARLO Tracker. If you do not agree to these Terms, you are not
      permitted to use the 21PSTEM Services.</p>
    <p>2. Eligibility and Authority If you are agreeing to these Terms on behalf
      of a school, school district, or other educational institution
      &#40;collectively, a “School”&#41; for the purpose of providing the
      21PSTEM Services to students &#40;“Students”&#41;, you represent and
      warrant that you are an authorized representative of the School and you
      agree to these Terms on the School&#39;s behalf. Otherwise, you are
      agreeing to these Terms on behalf of yourself. The U.S. Children&#39;s
      Online Privacy and Protection Act &#40;“COPPA”&#41; requires that online
      service providers obtain verifiable parental consent before collecting
      personal information from children under 13. If you are a School providing
      the Service to children under 13 &#40;whether in the U.S. or
      elsewhere&#41;, you represent and warrant that you have received consent
      from Parents, or have the authority to provide consent on behalf of
      parents, for us to collect information from students before allowing
      children under 13 to access 21PSTEM Services. We recommend that all
      Schools provide appropriate disclosures to students and parents regarding
      their use of service providers such as 21PSTEM.</p>
    <p>3. Personal Information and Student Data When 21PSTEM is used by a School
      for an educational purpose, 21PSTEM may collect or have access to Student
      Data that is provided by the School or by the Student. “Student Data” is
      personal information that is directly related to an identifiable Student
      and may include “educational records” as defined by the Family Educational
      Rights and Privacy Act &#40;“FERPA”&#41;, 20 U.S.C. § 1232&#40;g&#41;.
      Confidentiality. 21PSTEM agrees to treat Student Data as confidential and
      not to share it with third parties other than as described in these Terms,
      and in our Privacy Policy. Student Data Access. You authorize 21PSTEM to
      access or collect Student Data for the purpose of providing the Service.
      In the U.S., 21PSTEM shall collect and process Student Data as a School
      Official with a legitimate educational interest pursuant to FERPA 34 CFR
      Part 99.31&#40;a&#41;&#40;1&#41;. As between the parties, the School or
      the Student owns and controls the Student Data. 21PSTEM does not own or
      control, or license such Student Data, except as to provide the Service
      and as described in these Terms. Personal Information and Student Data
      Consents and Authority. If you are a School User, you represent and
      warrant that you have provided appropriate disclosures to your School and
      to parents regarding your sharing such Personal Information with 21PSTEM.
      Both Parties agree to uphold their obligations under the Family
      Educational Rights and Privacy Act &#40;“FERPA”&#41;, the Protection of
      Pupil Rights Amendment &#40;"PPRA"&#41;, and the Children&#39;s Online
      Privacy and Protection Act (“COPPA”) and applicable State laws relating to
      student data privacy. 21PSTEM relies on each School to obtain and provide
      appropriate consent and disclosures, if necessary, for 21PSTEM to collect
      any Student Data, including the collection of Student Data directly from
      students under 13, as permitted under COPPA. You agree to comply with
      these Terms and all laws and regulations governing the protection of
      personal information, including children&#39;s information, and the
      sharing of student education records. Use of Student Data. By submitting
      or providing us access to Student Data, you agree that 21PSTEM may use the
      Student Data solely for the purposes of &#40;i&#41; providing the Service,
      &#40;ii&#41; improving and developing our Service, &#40;iii&#41; enforcing
      our rights under these Terms, and &#40;iv&#41; as permitted with the
      School&#39;s or the User&#39;s consent. 21PSTEM shall not use Student Data
      to engage in targeted advertising. Any data collected for research
      purposes will be overseen by an Institutional Review Board &#40;“IRB”&#41;
      and the collection of your data for approved research purposes will be
      done as required by an IRB, often including User consent &#40;and assent
      from Minors with consent from a guardian&#41;. Use of Anonymized Student
      Data. You agree that we may collect and use data derived from Student Data
      for our own purposes, such as for product development, research analytics,
      and marketing our Service, provided that such data will be de-identified
      and/or aggregated to reasonably avoid identification of a specific
      individual. Third-Party Service Providers. You acknowledge and agree that
      21PSTEM may provide access to Student Data to our employees and service
      providers, which have a legitimate need to access such information in
      order to provide their services to us. We and our employees, affiliates,
      service providers, or agents involved in the handling, transmittal, and
      processing of Student Data will be required to maintain the
      confidentiality of such data. Student Data Retention and Deletion
      Requests. Schools may request that we delete Student Data in our
      possession at any time by providing such a request in writing, except that
      21PSTEM shall not be required to delete content a Student shared to public
      areas of the Service. We shall respond to the deletion request as soon as
      possible, but in most instances within 45 days, other than for data stored
      on backup tapes which shall be deleted in the ordinary course of business.
      A Parent seeking to modify, correct, or delete personal information in a
      Student Account that is connected to an active School account will be
      instructed to contact the School to discuss data deletion or modification.
      We are not required to delete data that has been derived from Student Data
      so long as it has been anonymized such that it does not reasonably
      identify an individual. Data Breach Notification. We have implemented
      administrative, physical and technical safeguards designed to secure
      Personal Information, including Student Data, from unauthorized access,
      disclosure and use. In the event we have a reasonable, good faith belief
      that an unauthorized party has gained access to or been disclosed Student
      Data &#40;a “Security Event”&#41;, that we have collected or received
      through the Service, we will promptly notify the School. If, due to a
      Security Event which is caused by the acts or omissions of 21PSTEM or its
      agents, a notification to an individual, organization or government agency
      is required under applicable privacy laws, the School shall be responsible
      for the timing, content, and method of any such legally-required notice
      and compliance with such laws and 21PSTEM shall indemnify the School for
      costs related to legally-required notifications. With respect to any
      Security Event which is not caused by the acts or omissions of 21PSTEM or
      its agents, 21PSTEM shall reasonably cooperate with School&#39;s
      investigation of the Security Event, as School requests, at School&#39;s
      reasonable expense. 21PSTEM shall be responsible for the timing, content,
      cost and method of notice and compliance with such laws as they relate to
      User accounts that are not associated with a School account.</p>
    <p>4. Your Responsibilities You agree: &#40;a&#41; that you are responsible
      for obtaining and maintaining all equipment and services needed for access
      to and use of the 21PSTEM Services and for paying all charges related
      thereto; and &#40;b&#41; not to use the 21PSTEM Services to: &#40;i&#41;
      violate any third party rights or any local, state, national, or
      international law or regulation; &#40;ii&#41; transmit or create any
      materials that are abusive, harassing, tortious, defamatory, libelous, or
      invasive of another's privacy; &#40;iii&#41; transmit any material that
      contains adware, malware, spyware, software viruses, or any other computer
      code, files, or programs designed to interrupt, destroy, or limit the
      functionality of any computer software or hardware or telecommunications
      equipment; &#40;iv&#41; impersonate any person or entity, or otherwise
      misrepresent your affiliation with a person or entity; or &#40;v&#41;
      interfere with or disrupt the 21PSTEM Services or servers or networks
      connected to the 21PSTEM Services, or disobey any requirements,
      procedures, policies, or regulations of networks connected to the 21PSTEM
      Services.</p>
    <p>
      5. Personal, Non-Commercial Use Only You agree to use the 21PSTEM Services
      only &#40;a&#41; as an end user, for your personal, non-commercial use or
      &#40;b&#41; as a teacher, for academic use by you and your students in
      individual classes. 21PSTEM does, pursuant to a separate written
      agreement, permit certain third parties &#40;y&#41; to integrate with the
      21PSTEM Services for commercial use.</p>
    <p>6. User Submissions and Generated Materials 21PSTEM does not claim
      ownership of any materials you submit and create for display or
      distribution to others through the 21PSTEM Services (“User Submissions and
      Generated Materials”). As between 21PSTEM and you, you own all rights to
      your User Submissions and Generated Materials. You grant to 21PSTEM an
      irrevocable, perpetual, non-exclusive, fully-paid, worldwide license, with
      the right to sublicense through multiple tiers, to use, distribute,
      reproduce, modify, adapt, publish, translate, publicly perform, and
      publicly display or otherwise use your User Submissions and Generated
      Materials (in whole or in part) in connection with the operation of the
      Service or the promotion, advertising or marketing thereof, in any format
      or medium now known or later developed, without compensation or
      notification to or permission from the user of any kind. You acknowledge
      and agree that all right and title in the software code and other material
      used to create or display your User Submissions and Generated Materials is
      the property of 21PSTEM, and you hereby assign all right and title in such
      material to 21PSTEM. 21PSTEM hereby grants you a license to such material
      (a) as an end user, for your personal, non-commercial use or (b) as a
      teacher, for academic use by you and your students in individual classes.
      21PSTEM does not pre-screen User Submissions and Generated Materials and
      you agree that you are solely responsible for all of your User Submissions
      and Generated Materials. 21PSTEM is not required to host, display, or
      distribute any User Submissions and Generated Materials, and may remove at
      any time or refuse any User Submissions and Generated Materials. 21PSTEM
      is not responsible for any loss, theft or damage of any kind to any User
      Submissions and Generated Materials. You represent and warrant that your
      User Submissions and Generated Materials, and 21PSTEM’s authorized use
      thereof, do not and will not infringe the rights of any third party
      (including, without limitation, intellectual property rights, rights of
      privacy or publicity, or any other legal or moral rights).</p>

  </section>
</div>