{{!-- This message is for unauthorized users.
We are not seeing it at the moment because all users are authorized --}}
<div class="al_wtf main">
  <p>Thanks for logging in.  We don't seem to have you in our system yet, please <a href="http://mathforum.org/cgi-bin/mailto.pl?key=92&to=the%20EnCoMPASS%20team">drop us a note</a>.</p>
</div>
